<div style="height: 100%;">
    <div class="view view--menu view--top view--separate-shadow view--separate-primary">
        <private-sidebar></private-sidebar>
    </div>
    <div ng-if="user.hasAgreed" class="view view--workspace" ui-view="workspace"></div>
    <div ng-if="!user.hasAgreed" style="text-align:center; height: calc( 100% - 200px );">
        <div style="font-size:20px; font-weight: bold; margin-top: 20px;">{{'PRIVATE-AGREE-TITLE' | translate}}</div>
        <div style="font-size:16px; font-weight: normal; margin-top: 10px;">{{'PRIVATE-AGREE-SUBTITLE' | translate}}</div>
        <iframe ng-src="{{frameUrl}}" style="width:80%; height:calc( 100% - 100px ); margin: 30px; min-height: 100px;">
            Your browser does not support IFRAMEs.
        </iframe>
        <br/>
        <button ng-click="updateUserAgreement();" style="float:right; font-weight: bold; color: green; font-size: 16px;">{{'PRIVATE-AGREE-BTN' | translate}}&nbsp;&raquo;</button>
    </div>
    <div class="view view--modal" ui-view="modal"></div>
</div>
