/**
 * @author Francois-Xavier Aeberhard <fx@red-agent.com>
*/

/* Layout styles */
.yui-skin-sam .yui-layout .yui-layout-unit div.yui-layout-bd,
.yui-skin-sam .yui-layout .yui-layout-unit div.yui-layout-bd {
    background-color: white;
}
.yui-skin-sam .yui-layout .yui-layout-unit div.yui-layout-bd-nohd {
    border:none;
}

/* InputEx Styles */
div.inputEx-Field input, div.inputEx-Field textarea, div.inputEx-Field select {
    border: 1px solid lightgray;
}
div.inputEx-Field input[type=text] {
    width: 100% !important;
}
div.inputEx-Field select {
    margin: 0;
}
div.inputEx-Field textarea {
    width:100%;
}
div.inputEx-fieldWrapper {
    padding-left:135px;
}
div.inputEx-fieldWrapper > div.inputEx-label {
    padding:.2em 5px 0 0;
    margin-left:-135px;
}
div.inputEx-fieldWrapper > div.inputEx-Field {
    width:99.8%;
}
div.inputEx-fieldWrapper div.inputEx-fieldWrapper {
    padding-left:70px;
}
div.inputEx-fieldWrapper div.inputEx-fieldWrapper > div.inputEx-label {
    margin-left:-70px;
    width:65px;
}

.inputEx-Button {
    padding: 3px 5px;
}
.inputEx-CombineField > .inputEx-Group {
    float:none !important;
    clear:both !important;
}
.inputEx-CombineField > .inputEx-fieldWrapper {
    padding:0;
}
/* Inputex List styles */
div.inputEx-ListField-subFieldEl {
    margin-left: 0;
    width: 100%;
}
.inputEx-ListField-childContainer > div {
    margin-left:16px;
    border-top: 1px solid lightgray;
    padding-top: 5px;
}
img.inputEx-ListField-delButton {
    margin-left:-16px;
}
/* Tabs styles */
/* FIXME This rule is way to broad, and should only apply to direct children of the layout widget */
.yui-skin-sam .yui-layout .yui-layout-unit .yui-layout-bd > .yui3-wegas-list,
.yui-skin-sam .yui-layout .yui-layout-unit .yui-layout-bd > .yui3-wegas-list > .yui3-wegas-list-content,
.yui-skin-sam .yui-layout .yui-layout-unit .yui-layout-bd > .yui3-wegas-list > .yui3-wegas-list-content >.yui3-tabview,
.yui-skin-sam .yui-layout .yui-layout-unit .yui-layout-bd > .yui3-wegas-list > .yui3-wegas-list-content > .yui3-tabview >  .yui3-tabview-content,
.yui-skin-sam .yui-layout .yui-layout-unit .yui-layout-bd > .yui3-wegas-list > .yui3-wegas-list-content > .yui3-tabview >  .yui3-tabview-content > .yui3-tabview-panel,
.yui-skin-sam .yui-layout .yui-layout-unit .yui-layout-bd > .yui3-wegas-list > .yui3-wegas-list-content > .yui3-tabview >  .yui3-tabview-content > .yui3-tabview-panel > .yui3-tab-panel {
    height:inherit;
}
.yui-skin-sam .yui-layout .yui-layout-unit .yui-layout-bd {
    overflow:initial;
}
.yui3-skin-sam .yui3-tabview-panel {
    padding:0;
}
.yui3-skin-sam .yui3-tabview-panel > .yui3-tab-panel > .yui3-wegas-list{
    position: absolute;
    top: 28px;
    bottom: 0px;
    overflow: auto;
    padding:0;
    left:0px;
    right:0px;
}
.yui3-skin-sam .yui3-tabview-panel > .yui3-tab-panel > .yui3-wegas-list > .yui3-wegas-list-content{
    height: 100%;
}
.yui3-skin-sam .yui3-tabview-panel > .yui3-tab-panel.wegas-tab-hastoolbar > .yui3-wegas-list{
    top: 56px;
}
.yui3-skin-sam .yui-layout-unit-right .yui3-tabview-panel > .yui3-tab-panel > .yui3-wegas-list {
    left:4px;
}
.yui3-skin-sam .yui-layout-unit-left .yui3-tabview-panel > .yui3-tab-panel > .yui3-wegas-list {
    right:4px;
}
.yui3-skin-sam #centerTabView > yui3-tabview-content > yui3-tabview-list > .yui3-tabview-panel > .yui3-tab-panel > .yui3-wegas-list > .yui3-wegas-list-content {
    padding-right: 5px;
}

/* Tabview toolbar styles */
.yui-skin-sam .wegas-tab-toolbar.yui-editor-container {
    border: none;
    border-bottom: 1px solid lightgray;
}
.yui-skin-sam .wegas-tab-toolbar .yui-toolbar-container .yui-toolbar-subcont {
    border: none;
    min-height: 24px;
}
.yui-skin-sam .wegas-tab-toolbar .yui-toolbar-container .yui-toolbar-subcont .title {
    color: #2647A0;
    padding: 5px 5px 0px;
    font-size: 12pt;
    font-weight: bold;
    display: block;
}
.yui-skin-sam .wegas-tab-toolbar .yui-toolbar-container .yui-push-button span.yui-toolbar-icon {
    left:3px;
}
.yui-skin-sam .wegas-tab-toolbar .yui-toolbar-container .yui-push-button {
    float:left;
    margin-left: 5px;
    width: 25px;
}

.yui-skin-sam .yui-toolbar-container .yui-toolbar-selectplayer {
    width:170px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-selectplayer .first-child a:before {
    content: 'Current user: ';
}
/*.yui-skin-sam .yui-toolbar-container .yui-toolbar-reset{
    margin-left: 5px;
}*/


.yui-skin-sam .yui-toolbar-container .yui-toolbar-reset span.yui-toolbar-icon {
    background: url(wegas-editor-sprite.png) no-repeat 1px -300px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-new span.yui-toolbar-icon {
    background: url(wegas-editor-sprite.png) no-repeat 0px 0px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-play span.yui-toolbar-icon {
    background: url(wegas-editor-sprite.png) no-repeat 0px -192px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-stop span.yui-toolbar-icon {
    background: url(wegas-editor-sprite.png) no-repeat 0px -172px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-zoomin span.yui-toolbar-icon {
    background: url(wegas-editor-sprite.png) no-repeat 0px -124px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-zoomout span.yui-toolbar-icon {
    background: url(wegas-editor-sprite.png) no-repeat 0px -152px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-selecttool span.yui-toolbar-icon {
    background: url(wegas-editor-sprite.png) no-repeat 0px -244px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-movetool span.yui-toolbar-icon {
    background: url(wegas-editor-sprite.png) no-repeat 0px -214px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-cut span.yui-toolbar-icon {
    background: url(wegas-editor-sprite.png) no-repeat 0px -42px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-copy span.yui-toolbar-icon {
    background: url(wegas-editor-sprite.png) no-repeat 0px -68px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-paste span.yui-toolbar-icon {
    background: url(wegas-editor-sprite.png) no-repeat 0px -271px;
}


/* Console style */
.yui3-console-hd {
    display:none;
}
.yui3-skin-sam .yui3-console-ft, .yui3-skin-sam .yui3-console-content,
.yui3-skin-sam .yui3-console-ft .yui3-console-filters-sources,
.yui3-skin-sam .yui3-console-ft .yui3-console-filters-categories{
    background: transparent;   
    border: none;
}
.yui3-skin-sam .yui3-console-ft .yui3-console-filters-sources,
.yui3-skin-sam .yui3-console-ft .yui3-console-filters-categories {
    /*padding:0;*/
    margin:0;
    border-top: 1px solid #777;
}
.yui3-skin-sam .yui3-console-bd {
    border-top: none;
    height:auto !important;
    position: absolute;
    bottom: 90px;
    left: 0;
    right: 0;
    top:0;
}
.yui3-skin-sam .yui3-console-ft {
    height:auto !important;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
}


/* CSSEditor Styles */
.yui3-wegas-csseditor  div.inputEx-fieldWrapper {
    padding:0;
}
.yui3-wegas-csseditor div.inputEx-Field {
    float:none;
}

.yui3-wegas-csseditor div.inputEx-Field textarea {
    width:96%;
    padding: 2% 2%;
    border: none;
    border-bottom:1px solid lightgray;
}
.yui3-wegas-csseditor div.inputEx-Form-buttonBar {
    margin: 0;
    float: right;
}


/* Chat styles */
.yui3-wegas-chat  div.inputEx-fieldWrapper {
    padding:0;
}
.yui3-wegas-chat div.inputEx-Field {
    float:none;
}
.yui3-wegas-chat  div.inputEx-Field textarea {
    width:98%;
    padding: 1% 1%;
    border: none;
    border-bottom:1px solid lightgray;
}
.yui3-wegas-chat div.inputEx-Form-buttonBar {
    margin: 0;
    float: right;
}
.wegas-chat-msgs {
    margin-top: 5px;
    border-top: 1px solid lightgray;
    padding:5px;
}
.wegas-chat-msg {
    padding-bottom:2px;
}

/* YUI 2 RTE Styles */

.yui-skin-sam .yui-editor-container {
    border: 1px solid lightgray;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-titlebar {
    display: none;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-group h3 {
    margin: 0;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-subcont {
    padding: 3px 0;
    border-bottom: 1px solid lightgray;
}

/* YUI 2 TreeView Styles */
.ygtvlabel, .ygtvlabel:link, .ygtvlabel:visited, .ygtvlabel:hover {
    white-space: nowrap;
}
.ygtv-highlight1 .ygtvlabel, .ygtv-highlight1 .ygtvlabel:link, 
.ygtv-highlight1 .ygtvlabel:visited, .ygtv-highlight1 .ygtvlabel:hover {
    background: transparent;
}
.ygtv-highlight1 {
    background: #bcc4eb;
}
.ygtvfocus, .ygtvfocus .ygtvlabel, .ygtvfocus .ygtvlabel:hover {
    background-color:transparent;
}
.ygtvcontent .yui3-wegas-treeview-editmenubutton {
    padding-left: 20px;
    width:20px;
    height:20px;
    cursor:pointer;
}
.ygtvcontent:hover .yui3-wegas-treeview-editmenubutton {
    background: transparent url(wegas-editor-sprite.png) 2px -333px no-repeat;
}
/* YUI 2 Treeview icons */ 
td.yui3-wegas-treeview-icon-game,
td.yui3-wegas-treeview-icon-gamemodel,
td.yui3-wegas-treeview-icon-team,
td.yui3-wegas-treeview-icon-player  {
    padding-top: 4px;
    height: 18px;
    padding-left: 20px;
    display: block;

}
td.yui3-wegas-treeview-icon-gamemodel {
    background: transparent url(wegas-editor-sprite.png) 0 -514px no-repeat;
}
td.yui3-wegas-treeview-icon-game {
    background: transparent url(wegas-editor-sprite.png) 0 -514px no-repeat;
}
td.yui3-wegas-treeview-icon-team {
    background: transparent url(wegas-editor-sprite.png) 0 -621px no-repeat;
}

td.yui3-wegas-treeview-icon-player {
    background: transparent url(wegas-editor-sprite.png) 0 -590px no-repeat;
}

/* Edit Menu Styles */
.yui3-wegas-editmenu {
    position:absolute;
}
.yui3-wegas-editmenu-hidden {
    display: none;
}