/* 
    Document   : wegas-leaderway
    Created on : 8 juin 2012, 10:07:07
    Author     : Benjamin
    Description:
        Purpose of the stylesheet follows.
*/
/*---------------------------------Général------------------------------------*/
html{
    background-color:#E4DDCC;
}

body{
    width:980px;
    margin:0 auto 0 auto;
    border-style: solid;
    border-width: 0 1px 1px 1px;
}

#maindisplayarea{
    background-color:#FFFFFF;    
    min-height: 300px;
}

.button .wegas-button-tooltips{
    font-size: 1em;
    display:block;
    position:absolute;
    padding:2px;
    background-color:#F3E4D2;
    border:solid 1px;
    border-radius: 5px;
}

/*--------------------------------Indicators----------------------------------*/
.indicators{
    background-color:#eed4aa;
    background-image:url("http://localhost:8080/Wegas/wegas-leaderway/images/indicators_background.png");
    background-repeat: repeat-x;
    width:970px;
    padding:5px;
    min-height:70px;
    clear:both;
    overflow: auto;
    border-bottom: 1px solid;
}

.indicators-fraction{
    margin-top: 41px;
}

.indicators-text{
    margin: 41px 20px 0 0;
    width:140px;
    text-align: left;
}

.indicators-fraction .wegas-variabledisplay-fraction-minSeparator,
.indicators-fraction .wegas-variabledisplay-fraction-minValue{
    display:none;
}

.indicators .button{
    margin: 36px 30px 0 5px;
    float:left;
}

.indicators .button .wegas-button-tooltips{
    margin: 0 0 0 25px;
}


.indicators-gauge{
    margin:24px 20px 0 0;
}

.indicators-gauge .wegas-variabledisplay-box-units{
    display:block;
    background-color:#93C34F;
    background-image:url("http://localhost:8080/Wegas/wegas-leaderway/images/gauge_background_large.png");
    background-repeat: repeat-y;
    width:200px;
    height:15px;
    font-size: 1em;
    border:solid 1px;
    clear:both;
    overflow: hidden;
}

.indicators-gauge .wegas-variabledisplay-box-unit{
    display:block;
    background-color:#6F89A2;    
    background-image:url("http://localhost:8080/Wegas/wegas-leaderway/images/gaugeFiller-background.png");
    background-repeat: repeat-x;
    float:left;
    width:2px;
    height:20px;
}

.indicators-gauge .wegas-variabledisplay-box-value{
    margin-left: 5px;
    font-size: 0.8em;
}

.wegas-variabledisplay:last-child{
    float:right;
}

.indicators-block{
    width:110px;
    margin:5px 0 0 0;
    float:right;
}

.indicators-block .wegas-variabledisplay-box-label{
    margin-right:5px;
}

.indicators-block .wegas-variabledisplay-box-valueMax{
    display:none;
}

.indicators-block .wegas-variabledisplay-box-units{
    display: block;
    width:110px;
}

.indicators-block .wegas-variabledisplay-box-unit{
    width:7px;
    height:15px;
    margin:0 2px 2px 0;
    background-color: #6F89A2;
    border: solid 1px;
    float:left;
}
/*-----------------------------------menu-------------------------------------*/
.menu{
    background-color:#E1D2B9;
    background-image:url("http://localhost:8080/Wegas/wegas-leaderway/images/menu_background.png");
    background-repeat: repeat-x;
    width:970px;
    padding:5px;
    height:40px;
    overflow:auto;
    border-bottom: 1px solid;
}

.menu .button{
    margin-right:20px;
    overflow:hidden;
    background-repeat: no-repeat;
    background-position: center;
    border-width:0;
    box-shadow: none;
    background-color:transparent;
    height:40px;
    width:40px;
    font-size: 0;
}
.menu .button:hover{
    box-shadow:0px 0px 0px 1px rgba(0, 0, 0, 0.251) inset, 0px 2px 0px rgba(255, 255, 255, 0.298) inset, 0px 1px 2px rgba(0, 0, 0, 0.149);
    background-color:#DFC69F;
    border-radius: 10px;
    cursor:pointer; 
}

.menu .button .wegas-button-tooltips{
    margin: 10px 0 0 40px;
}

.menu .menu-HRList{
    background-image:url("http://localhost:8080/Wegas/wegas-leaderway/images/hrlist.png");
}

.menu .menu-folder{
    background-image:url("http://localhost:8080/Wegas/wegas-leaderway/images/homme.png");
}

.menu .menu-tasklist{
    background-image:url("http://localhost:8080/Wegas/wegas-leaderway/images/liste.png");
}

.menu .menu-email{
    background-image:url("http://localhost:8080/Wegas/wegas-leaderway/images/email.png");
}

.menu .menu-score{
    background-image:url("http://localhost:8080/Wegas/wegas-leaderway/images/awards.png");
}

.menu .wegas-login{
    float:right;
    margin:15px 0 0 0;
}

/*----------------------------------RHList------------------------------------*/
/*
.wegas-hrlist .leaderway-hrlist table{
    width:100%;
}

.wegas-hrlist .leaderway-hrlist th, #hrlist td{
    border-width: 1px 0 1px 0;
}

.wegas-hrlist .leaderway-hrlist th{
    background-color: #dce5ef;
    background-repeat: repeat-x;
    background-image:url("http://localhost:8080/Wegas/wegas-leaderway/images/table-header_background.png");
    height:30px;
}

.wegas-hrlist .leaderway-hrlist th{
    vertical-align:middle;
    padding:0 5px 0 5px;
}

.wegas-hrlist .leaderway-hrlist th div{
    height:17px;
    vertical-align:bottom;
    
}

.wegas-hrlist .leaderway-hrlist th div .yui3-datatable-sort-indicator{
    vertical-align:top;
}

.wegas-hrlist .leaderway-hrlist .yui3-datatable-odd td{
    background-color: #DCE5EF;
}

.wegas-hrlist .leaderway-hrlist td{
    height:80px;
    padding:0 5px 0 5px;
    border:none;
}*/

/*-----------------------------------Folder-----------------------------------*/
/*-----folder-general-----*/
.wegas-folder .leaderway-folder .menuFolder{
 width:100%;
}

.wegas-folder .leaderway-folder .listResources{
    padding:10px;
    overflow-x:auto;
    overflow-y:hidden;
    width:98%;
    float:left;
    text-align: center;
}

.wegas-folder .leaderway-folder .listResources .resourceSelector{
    display:inline-block;
    margin:0 20px 0 0;
    padding:5px;
    border:outset 1px #6F89A2;
    border-radius: 5px;
    background-color: #dce5ef;
    min-width: 100px;
    text-align: center;
}

.wegas-folder .leaderway-folder .listResources .resourceSelector:hover{
    background-color:#BFDAFF;
    cursor:pointer;
}

.wegas-folder .leaderway-folder .listResources .selected{
    background-color:#BFDAFF;
}

.wegas-folder .leaderway-folder .yui3-tabview{
    display: block;
    clear:both;
    padding:0px 10px 10px 10px;
}

.wegas-folder .leaderway-folder .yui3-tab-selected .yui3-tab-label{
    background-image:url("http://localhost:8080/Wegas/wegas-leaderway/images/tabselected_background.png");
    background-repeat: repeat-x;
    background-color: #dce5ef;
    background-position:center; 
}

.wegas-folder .leaderway-folder .yui3-tab-label{
    display:block;
    width:100px;
    height:20px;
    font-size:1em;
    margin: 0;
    padding:10px 0 0 5px;
}

.wegas-folder .leaderway-folder .yui3-tabview-list{
    border-bottom: 0px solid #6F89A2;
}

.wegas-folder .leaderway-folder .yui3-tabview-panel{
    background-color: #DCE5EF;
    border:2px outset #6F89A2;
    padding:30px 0 0 30px;
}

/*-----folder-folder-----*/
.wegas-folder .leaderway-folder .folder .section{
    background-image:url("http://localhost:8080/Wegas/wegas-leaderway/images/border_folder-section.png");
    background-repeat: no-repeat;
    background-position-x:0;
    background-position-y:top;
    margin-top:15px;
    padding-top:10px;
    clear:both;
}

.wegas-folder .leaderway-folder .folder .section:first-child{
    background-image:none;
    margin-top: 0;
} 

.wegas-folder .leaderway-folder .folder .title-section{
    margin-bottom: 10px;
    font-weight: bold;
}

.wegas-folder .leaderway-folder .folder .basic_informations div{
    margin-bottom: 10px;
}

.wegas-folder .leaderway-folder .folder .picture{
    position:absolute;
    left:800px;
    height:140px;
    width:140px;
}

.wegas-folder .leaderway-folder .folder .picture img{
    background-color:#FFFFFF;
    border:solid 1px #6F89A2;
}

.wegas-folder .leaderway-folder .folder .name{
    margin-right: 5px;
}

.wegas-folder .leaderway-folder .folder .name_surname{
    font-weight: bold;
    text-decoration: underline;
}

.wegas-folder .leaderway-folder .folder .occupation{
    width:700px;
    float:left;
    margin-bottom: 20px;
}

.wegas-folder .leaderway-folder .folder .occupation-value div{
    margin-bottom:10px;
}

.wegas-folder .leaderway-folder .folder .occupation .task{
    margin-top: 10px;
    border-top: dotted 1px #6F89A2;
    padding-top:10px;
}

.wegas-folder .leaderway-folder .folder .occupation .task:first-child{
    margin-top:0;
    border-top:0;
    padding-top:0;
}

.wegas-folder .leaderway-folder .folder .occupation .task-skill{
    margin-bottom:0;
}

.wegas-folder .leaderway-folder .folder .occupation .task-skill-value{
    display:inline;
    margin-right:20px;
}

.wegas-folder .leaderway-folder .folder .leadershipLevel{
    display:block;
    clear:both;
    margin-bottom:15px;
}
.wegas-folder .leaderway-folder .folder .leadershipLevel-label{
    margin-bottom: 5px
}

.wegas-folder .leaderway-folder .folder .leadershipLevel-info{
    color:#6F89A2;
    margin-left:15px;
}

.wegas-folder .leaderway-folder .folder .leadershipLevel .currentLevel{
    list-style-type:circle;
}

.wegas-folder .leaderway-folder .folder .leadershipLevel .levelActive{
    color:#000000;
}

.wegas-folder .leaderway-folder .folder .gauge{
    margin-bottom:20px;
    width:350px;
    float:left;
}

.wegas-folder .leaderway-folder .folder .gauge-value{
    font-size: 0.8em;
}

.wegas-folder .leaderway-folder .folder .gauge-units{
    display:block;
    background-image:url("http://localhost:8080/Wegas/wegas-leaderway/images/gauge_background_large.png");
    background-repeat: repeat-y;
    width:200px;
    height:15px;
    font-size: 1em;
    border:solid 1px;
    clear:both;
    overflow: hidden;
}

.wegas-folder .wegas-folder-content .folder .gauge-unit{
    display:block;
    background-color:#6F89A2;    
    background-image:url("http://localhost:8080/Wegas/wegas-leaderway/images/gaugeFiller-background.png");
    background-repeat: repeat-x;
    float:left;
    width:2px;
    height:20px;
}

.wegas-folder .wegas-folder-content .folder .description{
    margin-bottom: 30px;
    padding-top:15px;
}

/*-----folder-archives-----*/
.wegas-folder .leaderway-folder .archives{
    min-height: 150px;
}

/*-----folder-actions-----*/

.wegas-folder .leaderway-folder .actions .feedback{
    text-align:center;
    min-height:20px;
    padding:5px;
}

.wegas-folder .leaderway-folder .actions .green{
    color:green;
}

.wegas-folder .leaderway-folder .actions .red{
    color:red;
}

.wegas-folder .leaderway-folder .actions .actions-list{
    min-height: 150px;
    width:98%;
    text-align: center;
}

.wegas-folder .leaderway-folder .actions .actions-list .action{
    display:inline-block;
    margin:0 20px 0 0;
    padding:5px;
    border:outset 1px #6F89A2;
    border-radius: 5px;
    background-color: white;
    width: 100px;
    height:100px;
    text-align: center;
}

.wegas-folder .leaderway-folder .actions .actions-list .action:hover{
    background-color:#BFDAFF;
    cursor:pointer;
}

/*---------action->tasklist--------*/
.wegas-folder .yui3-panel .yui3-widget-ft{
    overflow:hidden;
}

.wegas-folder .tasksChooser .yui3-widget-ft .selectedTask{
    float:left;
    padding:5px;
    width: 70%;
    text-align:left;
}
/*---------------------------------tasklist-----------------------------------*/
.wegas-tasklist .yui3-datatable-content  table{
    width:100%;
}

.wegas-tasklist .yui3-datatable-content  th, #hrlist td{
    border-width: 1px 0 1px 0;
}

.wegas-tasklist .yui3-datatable-content  th{
    background-color: #dce5ef;
    background-repeat: repeat-x;
    background-image:url("http://localhost:8080/Wegas/wegas-leaderway/images/table-header_background.png");
    height:30px;
}

.wegas-tasklist .yui3-datatable-content  th{
    vertical-align:middle;
    padding:0 5px 0 5px;
}

.wegas-tasklist .yui3-datatable-content  th div{
    height:17px;
    vertical-align:bottom;
}

.wegas-tasklist .yui3-datatable-content  th div .yui3-datatable-sort-indicator{
    vertical-align:top;
}

.wegas-tasklist .yui3-datatable-content .yui3-datatable-odd td{
    background-color:#DCE5EF;
}

.wegas-tasklist .yui3-datatable-content td{
    height:30px;
    padding:0 5px 0 5px;
    border:none;
}

.wegas-tasklist .yui3-datatable-content tr .hidden{
    display:none;
}

.wegas-tasklist .modePicking .yui3-datatable-content tr:hover td{
    background-color: #BFDAFF;
    cursor: pointer;
}

/*------------------------------------Score-----------------------------------*/
.wegas-score .leaderway-score .scoreTitle{
    font-size: 1.2em;
    text-align: center;
    padding:20px 0 10px 0;
}

.wegas-score .leaderway-score table{
    width:60%;
    margin:0 auto 0 auto;
}

.wegas-score .leaderway-score th, #hrlist td{
    border-width: 1px 0 1px 0;
}

.wegas-score .leaderway-score th{
    background-color: #dce5ef;
    background-repeat: repeat-x;
    background-image:url("http://localhost:8080/Wegas/wegas-leaderway/images/table-header_background.png");
    height:30px;
}

.wegas-score .leaderway-score th{
    vertical-align:middle;
    padding:0 5px 0 5px;
}

.wegas-score .leaderway-score .yui3-datatable-odd td{
    background-color: #DCE5EF;
}

.wegas-score .leaderway-score td{
    height:30px;
    padding:0 5px 0 5px;
    border:none;
}

.wegas-score .leaderway-score tr:first-child td{
    background-color:#FDE092;
}


/*----------------------------------Dialogue----------------------------------*/
.wegas-dialogue .leaderway-dialogue .pictures{
    height: 315px;
    width:980px;
    overflow:hidden;
    z-index: 0;
}

.wegas-dialogue .leaderway-dialogue .chart{
    float:right;
    margin-right:25px;
    margin-top:-275px;
}

.wegas-dialogue .leaderway-dialogue .chart .yui3-categoryaxis{
    display:none;
}

.wegas-dialogue .leaderway-dialogue .speaker-name{
    height: 50px;
    width:150px;
    margin: -65px 0 -20px 50px;
    padding-top: 15px;
    background-color: #DCE5EF;
    background-image:url("http://localhost:8080/Wegas/wegas-leaderway/images/dialogue_background.png");
    background-repeat: repeat-x;
    background-position: bottom;
    border: solid 1px #6F89A2;
    border-radius: 10px;
    text-align: center;
    position:relative;
}

.wegas-dialogue .leaderway-dialogue .dialogue{
    height: 150px;
    margin-top: 0px;
    padding:30px;
    background-color: #DCE5EF;
    background-image:url("http://localhost:8080/Wegas/wegas-leaderway/images/dialogue_background.png");
    background-repeat: repeat-x;
    background-position: bottom;
    border-top: solid 1px #6F89A2;
    position:relative;
}

.wegas-dialogue .leaderway-dialogue .dialogue,
.wegas-dialogue .leaderway-dialogue .speaker-name{
    font-family:Verdana,sans-serif;
    font-size: 1.3em;
}

.wegas-dialogue .leaderway-dialogue .dialogue .talk{
    width:65%;
    height: 100%;
    float:left;
    padding-right:10px;
    overflow-y: auto;
    text-align: justify;
}

.wegas-dialogue .leaderway-dialogue .dialogue .response{
    width:30%;
    height: 100%;
    float:right;
    font-style: italic;
    overflow-y: auto;
    padding-left:20px;
}

.wegas-dialogue .leaderway-dialogue .dialogue .response .responseElements:hover{
    list-style-image: url("http://localhost:8080/Wegas/wegas-leaderway/images/fleche.png");
    cursor: pointer;
    font-style: normal;
}
