<div class="modal__header">
    <div class="modal__illustration illustration illustration--medium illustration--icon"
         illustration="{{usersIndexCtrl.session.properties.iconUri}}"></div>
    <h5 class="modal__title">{{usersIndexCtrl.session.name}}</h5>
    <a class="modal__close button button--medium button--label-off button--default-reverse button--close"
       ng-click="close()">
        <span class="button__label">{{'MODALE-CLOSE' | translate}}</span>
    </a>
</div>
<!-- Tabs -->
<div class="modal__nav">
    <a class="modal__nav__tab"
       ng-class="{'modal__nav__tab--active': usersIndexCtrl.playersViewActived}"
       ng-click="usersIndexCtrl.activePlayersView()">{{'TRAINER-MODALE-USERS-TAB-PLAYER' | translate}}</a>
    <a class="modal__nav__tab"
       ng-class="{'modal__nav__tab--active': !usersIndexCtrl.playersViewActived}"
       ng-click="usersIndexCtrl.activeTrainersView()">{{'TRAINER-MODALE-USERS-TAB-TRAINER' | translate}}</a>
</div>

<!-- Trainers Content -->
<div ng-if="!usersIndexCtrl.playersViewActived" class="modal__content" trainer-sessions-users-trainers-list
     trainers="usersIndexCtrl.trainers"></div>
<div ng-if="!usersIndexCtrl.playersViewActived" class="modal__tools modal--tools-trainer">
    <div mass-autocomplete class="col-xs-6">
        <div class="modal__tools__autocomplete" search-users input-style="input input--small input--add-trainer"
             restrict-roles="usersIndexCtrl.restrictRoles" callback="usersIndexCtrl.addTrainer"
             exclude="usersIndexCtrl.trainers"
             placeholder="{{'TRAINER-MODALE-USERS-ADD-TRAINER-INPUT' | translate}}"></div>
    </div>
    <div class="col-xs-6">
        <a
            class="button button--label-off"
            ng-class="{'-1':'button--label-off button--default button--refresh', '0':'button--label-off button--valid button--success', '1':'button--label-off button--refresh button--default button--rotate'}[usersIndexCtrl.refreshing]"
            title="{{'TRAINER-MODALE-USERS-RELOAD-BTN' | translate}}" ng-click="usersIndexCtrl.refreshSession()">
            <span class="button__label"></span>
        </a>
    </div>
</div>

<!-- Players Content -->
<div ng-if="usersIndexCtrl.playersViewActived" class="modal__content">
    <div
        ng-if="(!usersIndexCtrl.session.properties.freeForAll && usersIndexCtrl.session.teams.length < 1)
		|| (usersIndexCtrl.session.properties.freeForAll && usersIndexCtrl.session.players.length < 1)"
        class="modal__content__empty">{{'TRAINER-MODALE-USERS-NO-PLAYERS' | translate}}
    </div>
    <div ng-if="!usersIndexCtrl.session.properties.freeForAll" class="view view__users-teams"
         trainer-sessions-users-team-list teams="usersIndexCtrl.session.teams"></div>
    <div ng-if="usersIndexCtrl.session.properties.freeForAll" class="view view__users-individual"
         trainer-sessions-users-individual-list players="usersIndexCtrl.session.players"></div>
</div>
<div ng-if="usersIndexCtrl.playersViewActived" class="modal__tools">
    <a
        class="button"
        ng-class="{'-1':'button--label-off button--default button--refresh', '0':'button--label-off button--valid button--success', '1':'button--label-off button--refresh button--default button--rotate'}[usersIndexCtrl.refreshing]"
        title="{{'TRAINER-MODALE-USERS-RELOAD-BTN' | translate}}"
        ng-click="usersIndexCtrl.refreshSession()">
        <span class="button__label"></span>
    </a>
</div>
