<div class="card card--medium card--users" ng-repeat="trainer in trainers track by trainer.id">
	<div class="card__illustration illustration illustration--medium illustration--icon" illustration="ICON_grey_user_wif"></div>
	<div class="card__description">
	    <div class="line line--primary">{{trainer.name}}</div>
        <div class="line line--secondary">Username: {{trainer.username}}</div>
        <div class="line line--secondary" >{{trainer.email}}</div>
	</div>
	<div class="card__actions">
	    <a ng-if="trainers.length > 1" class="button button--small button--round button--default-reverse button--label-off button--user-remove" title="{{'TRAINER-MODALE-USERS-REMOVE-TRAINER-BTN' | translate}}"ng-click="remove(trainer)">
	    	<span class="button__label">{{'TRAINER-MODALE-USERS-REMOVE-TRAINER-BTN' | translate}}</span>
	    </a>
	</div>
</div>
