<div class="card__illustration illustration illustration--icon" illustration="{{team.gameIcon}}"></div>
<div class="card__description" >
    <div class="line line--primary">{{team.gameName}}</div>
    <div ng-if="!team.gameFreeForAll" class="line line--secondary">{{'PLAYER-CARD-TEAM-TITLE'| translate}} "{{team.name}}"</div>
</div>


<div class="card__actions progressbar"
     ng-if="player(team).queueSize > 2 && (player(team).status === 'WAITING' || player(team).status === 'RESCHEDULED')">
    <div class="progressbar_full" 
         title="{{'COMMONS-TEAMS-JOIN-QUEUED'| translate}} ({{player(team).queueSize}})">
        <div class="progressbar_progress" style="width: {{player(team).alreadyWaited || 0}}%"></div>
        <div class="progressbar_counter">
            <span ng-if="player(team).timeToWait > 0">{{'COMMONS-TEAMS-JOIN-TIME-TO-GO'| translate:'{t: ' + (player(team).timeToWait || 0)+ '}'}}</span>
        </div>
    </div>
</div>



<div class="card__actions"
     ng-if="(player(team).queueSize <= 2 && player(team).status === 'WAITING' || player(team).status === 'RESCHEDULED') || player(team).status === 'PROCESSING' || player(team).status === 'SEC_PROCESSING' || player(team).status === 'DELETED'">
    <button class="button button--small button--round button--default-reverse button--label-off button--spinner fa-pulse"
            title="{{'COMMONS-TEAMS-JOIN-PROCESSING'| translate}}"
            ng-disabled="true">
        <span class="button__label">{{'COMMONS-TEAMS-JOIN-PROCESSING'| translate}}</span>
    </button>
</div>

<div class="card__actions"
     ng-if="player(team).status === 'FAILED'" >

    <button class="button button--small button--round button--danger-reverse button--label-off button--exclamation"
            title="{{'COMMONS-TEAMS-JOIN-INDIVIDUALLY-FLASH-ERROR'| translate}}"
            ng-disabled="true">
        <span class="button__label">{{'COMMONS-TEAMS-JOIN-INDIVIDUALLY-FLASH-ERROR'| translate}}</span>
    </button>

    <a id="retry-{{team.id}}"
            class="button button--small button--round button--default-reverse button--label-off button--repeat"
            title="{{'COMMONS-TEAMS-JOIN-RETRY'| translate}}"
            ng-click="retry(team.id)"
            ng-disabled="true">
        <span class="button__label">{{'COMMONS-TEAMS-JOIN-RETRY'| translate}}</span>
    </a>

    <!-- leave button -->
    <a id="leave-{{team.id}}"
       class="button button--small button--round button--default-reverse button--label-off button--trash"
       title="{{'PLAYER-CARD-LEAVE-BTN'| translate}}"
       confirmed-click="leave(team.id)"
       ng-confirm-click="{{'PLAYER-CARD-LEAVE-CONFIRM'| translate}}">
        <span class="button__label">{{'PLAYER-CARD-LEAVE-BTN'| translate}}</span>
    </a>

</div>

<div class="card__actions"
     ng-if="player(team).status === 'LIVE'">
    <!-- view team details button -->
    <a ng-if="!team.gameFreeForAll" 
       class="button button--small button--round button--default-reverse button--label-off button--team" 
       title="{{'PLAYER-CARD-TEAM-BTN'| translate}}" ui-sref="wegas.private.player.team({id: team.id})">
        <span class="button__label">{{'PLAYER-CARD-TEAM-BTN'| translate}}</span>
    </a>
    <!-- leave button -->
    <a id="leave-{{team.id}}"
       class="button button--small button--round button--default-reverse button--label-off button--trash"
       title="{{'PLAYER-CARD-LEAVE-BTN'| translate}}"
       confirmed-click="leave(team.id)"
       ng-confirm-click="{{'PLAYER-CARD-LEAVE-CONFIRM'| translate}}">
        <span class="button__label">{{'PLAYER-CARD-LEAVE-BTN'| translate}}</span>
    </a>
    <!-- Play button -->
    <a class="button button--small button--round button--default button--label-off button--play action--button" 
       title="{{'PLAYER-CARD-PLAY-BTN'| translate}}" 
       href="{{ServiceURL}}{{team.uiVersion > 1 ? team.uiVersion + '/player': 'game-play'}}.html?gameId={{team.gameId}}" 
       target="_blank">
        <span class="button__label">{{'PLAYER-CARD-PLAY-BTN'| translate}}</span>
    </a>
</div>
