<h3>{{'PLAYER-INDEX-ADD-TITLE' | translate}}</h3>
<form class="form">
    <div class="form__row">
        <input class="input input--small" type="text" id="session-token" ng-model="sessionToJoin.token" placeholder="{{'PRIVATE-WS-ACCESS-KEY' | translate}}" autocomplete="off">
    </div>
    <div class="form__row form__row--right">
        <a ng-click="joinSession()" class="form__row__btn button button--small button--join-session button--default">{{'PLAYER-INDEX-JOIN-BTN' | translate}}</a>
    </div>
</form>
