<h3 id="player-sessions-title">{{'PLAYER-INDEX-LIST-TITLE' | translate}}</h3>
  <a id="player-join-session-button" class="button button--small button--success-reverse non-collapsible-expander-button" expander >
      <span class="button__label"><i class="fa fa-plus-circle same-color-larger">&nbsp;</i>{{'PLAYER-INDEX-JOIN-LINK' | translate}}</span>
  </a>
<div class="view__list view__list--loading" ng-if="loading"
     content-loading="{{'COMMONS-SESSIONS-LOADING' | translate}}"></div>
<div class="view__list" ng-if="!loading && teams.length > 0">
    <div
        class="card card--player-session"
        ng-repeat="team in teams | orderBy: 'createdTime':true"
        team="team"
        leave="leave"
        retry="retry"
        player="player"
        player-team-card>
    </div>
</div>
<p class="view__list view__list--no-content" ng-if="!loading && teams.length < 1">{{'PLAYER-INDEX-NO-SESSION' |
    translate}}</p>
