.btn{
    position:relative;
    display:inline-block;
    background: none;
    background-color:$default-color-light;
    border:none;
    color:$white;
    border-radius:5px;
    padding:8px 16px;
    margin:4px;
    transition: 0.8s;
    font-size:12px;
    text-transform: uppercase;
    -webkit-user-select: none;
    outline: none;


    &.btn--right{
        float:right;
    }

    &:hover, &:active, &:focus{
        color:$white;
        text-decoration:none;
    }

    &:visited{
        color:$white;
        text-decoration:none;
    }

    &.btn--default{
        @include setBtn($default-color-button);
    }

    &.btn--primary{
        @include setBtn($primary-color);
    }
    &.btn--success{
        @include setBtn($success-color);
    }
    &.btn--info{
        @include setBtn($secondary-color);
    }
    &.btn--warning{
        @include setBtn($warning-color);
    }
    &.btn--danger{
        @include setBtn($danger-color);
    }
    &.btn--icon{
        @include setBtn(none);
        @extend %initIconBtn;

        &.btn--trash{
            @include setIconBtn($fa-var-trash, $danger-color, $white);
        }
        &.btn--exit{
            @include setIconBtn($fa-var-user-times, $danger-color, $white);
        }
        &.btn--archive{
            @include setIconBtn($fa-var-archive, lighten($default-color-button, 10%));
        }
        &.btn--manage{
            @include setIconBtn($fa-var-tachometer, $secondary-color, $iconSize:18px);
        }
        &.btn--play{
            @include setIconBtn($fa-var-play, $secondary-color);
        }
        &.btn--search{
            @include setIconBtn($fa-var-search, $secondary-color);
        }
        &.btn--edit{
            @include setIconBtn($fa-var-pencil, $secondary-color);
        }
        &.btn--copy{
            @include setIconBtn($fa-var-folder,  lighten($default-color-button, 10%));
        }
        &.btn--users{
            @include setIconBtn($fa-var-users, lighten($default-color-button, 10%));
        }
        &.btn--go{
            @include setIconBtn($fa-var-play, $white, $white, 16px, $secondary-color);
        }
        &.btn--players{
            @include setIconBtn($fa-var-users, lighten($default-color-button, 10%), $white, 16px, $background-default-secondary);
        }
        &.btn--user{
            @include setIconBtn($fa-var-user);
        }
        &.btn--unarchive{
            @include setIconBtn($fa-var-undo, lighten($default-color-button, 10%));
        }
        &.btn--sign-out{
            @include setIconBtn($fa-var-sign-out);
        }
        &.btn--workspaces{
            @include setIconBtn($fa-var-th);
        }

        .btn__label{
            display:none;
            position:absolute;
            top:0px;
            right:42px;

            border-radius:14px;
            line-height:28px;
            padding:0px 8px;
            margin:4px 0px;
            color:white;
            font-size:13px;
            opacity:0;
            box-sizing: normal;
            background-color:$default-color;
            transition:0.5s;
        }
    }
    // Integré dans button
    &.btn--shadow{
        @include material-shadow(2);
    }

    // Defaut avec label -> on parametre ensuite si on veut un icon avec label ou un icon sans label
    &.btn--with-label {
        width: inherit;
        height: inherit;
        &:hover {
            width: inherit;
            height: inherit;
        }

        .btn__label {
            display: block;
            position: static;
            color: $default-color;
            opacity: 1;
            background: none;
            padding-left: 1.5em;
            line-height: inherit;
            margin-top: -0.1em;
        }
    }
}

// -------------------
// ---- Button V2 ---- 
// -------------------

.v2{
    .button{
        $btn-default-size: nth(nth($sizes, 1),2);

        // Initialisation des couleurs "default" à la taille "small"
        position:relative;
        display:inline-block;
        width:auto;
        height:$btn-default-size;
        padding:$btn-default-size/3 $btn-default-size/2;
        margin:0px; // $btn-default-size/12;
        border:none;
        background-color:$default-color-button;
        color:$white;

        outline: none;
        font-size: $btn-default-size/4;
        text-decoration:none;
        text-transform: uppercase;
        -webkit-user-select: none;
        transition: 0.8s;

        &:hover{
            background-color:darken($default-color-button, 15%);
        }

        // Affichage du label par défaut.
        .button__label{
            display:block;
            color:$white;
        }

        // Cache le label
        &.button--label-off{
            padding:$btn-default-size/3 $btn-default-size/2;
            .button__label{
                display:none;
            }
        }

        // Montre le label en hover
        &.button--label-hover-right, &.button--label-hover-left{
            width: $btn-default-size;
            padding:$btn-default-size/3 $btn-default-size/2;
            .button__label{
                display:block;
                position:absolute;
                box-sizing: border-box;
                top:0px;
                width:$btn-default-size*12;
                padding:$btn-default-size/3 0px;
                color:$default-color;
                // text-shadow: 1px 0px 2px #ffffff;

                visibility:hidden;
                opacity:0;
                transition:.6s;
            }
            &:hover{
                .button__label{
                    display:block;
                    visibility:visible;
                    opacity:1;
                    padding:$btn-default-size/3;
                    transition:.8s;
                    &:hover{
                        visibility:hidden;
                        opacity:0;
                        padding:$btn-default-size/3 0px;
                        transition:.6s;
                    }

                }
            }
        } 

        // Montre le label en hover à droite
        &.button--label-hover-right{
            .button__label{
                left:$btn-default-size + $btn-default-size/8;
            }
        }

        // Montre le label en hover à gauche
        &.button--label-hover-left{
            .button__label{
                right:$btn-default-size + $btn-default-size/8;
                text-align: right;
            }
        } 

        // Modifie la couleur selon le type de bouton (Default, Info, Primary, Success, Warning, Danger)
        @each $button-type in $buttons-types{
            $type-name : nth($button-type, 1); 
            $type-color : nth($button-type, 2);

            &.button--#{$type-name}{
                background-color:$type-color;
                color:$white;

                .button__label{
                    color: $white;
                }
                &:hover{
                    background-color:darken($type-color, 15%);
                }
                &.button--label-hover-left, &.button--label-hover-right{
                    .button__label{
                        color:$default-color;
                    }
                }
            }

            &.button--#{$type-name}-reverse{
                background:none;
                color:$type-color;
                transition-duration: 0.2s;
                .button__label{
                    color:$type-color;
                }
                &:before{
                    color:$type-color;
                }
                &:hover{
                    background-color:lighten($type-color, 60%);
                }
                &.button--label-hover-left, &.button--label-hover-right{
                    .button__label{
                        color:$default-color;
                    }
                }
            }
        }

        // Modifie le bouton selon la taille voulue (small, medium, big)
        @each $size in $sizes{
            $size-name:nth($size, 1);
            $size-pixel:nth($size, 2);
            &.button--#{$size-name}{
                height:$size-pixel;
                padding:$size-pixel/3 $size-pixel/2;
                font-size: $size-pixel/4;
                &.button--label-off{
                    padding:$size-pixel/3 $size-pixel/2;
                }
                &.button--label-hover-left, &.button--label-hover-right{
                    width: $size-pixel;
                    padding:$size-pixel/3 $size-pixel/2;
                    .button__label{
                        padding:$size-pixel/3 0px;
                    }
                    &:hover{
                        .button__label{
                            padding:$size-pixel/3 $size-pixel/4;
                        }
                    }
                } 
                &.button--label-hover-right{
                    .button__label{                     
                        left:$size-pixel + $size-pixel/8;
                    }
                }

                &.button--label-hover-left{
                    .button__label{
                        right:$size-pixel + $size-pixel/8;
                        text-align: right;
                    }
                } 
            }
        }

        // Ajout d'un icon au bouton
        @each $button-icon in $buttons-icon{
            $icon-name : nth($button-icon, 1);
            $icon-content : nth($button-icon, 2);
        
            &.button--#{$icon-name}{
                @extend %button--with-icon;
                &:before{
                    content: $icon-content;
                }
            }
        }

        // Donne une forme arrondie au bouton
        &.button--round{
            border-radius:50%;
        }

        // Arrondi les angles du bouton. 
        &.button--round-square{
            border-radius:6px;
        }

        // Donne une ombre au bouton.
        &.button--shadow{
            @include material-shadow(2);
        }
    }
}

