
.card{
    position:relative;
    display:block;
    width:100%;
    height:nth(nth($sizes,1), 2);
    padding:0px;
    border:none;
    box-sizing: border-box;
    background:$white;
    border-radius:2px;
    transition:.3s;
    clear:both;
    @include material-shadow(1);


    &:hover{
        @include material-shadow(2);
    }

    .card__illustration{
        display:block;
        float:left;
    }


    .card__description{
        float:left;
    }
    .card__actions{
        float:right;
    }

    &.card--player-session{
        margin:4px auto 4px auto;
        .card__description{
            margin: 8px 0px;
            .card__description__titre{
                padding:18px 16px 4px 16px;
                font-size:14px;
                font-weight:500;
                margin:0px;
            }

        }
        .card__description__scenario{
            margin:0px;
            padding:4px 16px 4px 16px;
            font-size:12px;
            font-weight:300;
            font-style: italic;
            margin:0px;
        }
    }
    &.card--scenario {
        &.card--big {
            height: inherit;
            overflow: auto;
        }
        &.ng-enter {
            animation: fadeIn .6s;
        }
        &.ng-leave {
          animation: fadeOut .6s;
        }
        .card__illustration {
            width: 96px;
        }
        .card__content {
            @include make-xs-column(12);
            width: calc(100% - 96px);

            .card__description {
                @include make-xs-column(7.5);
                width: calc(100% - 275px)
            }
            .card__actions {
                @include make-xs-column(5.5);
                width: 275px;
                padding: 15px 0 0 0;
            }
        }
    }
    &.card--coscenarist-permission {
        &.ng-leave {
          animation: bounceOut 1s;
        }
        .card__illustration {
            @include make-xs-column(2);
        }
        .card__description {
            @include make-xs-column(4);
        }
        .card__detailled-actions {
            @include make-xs-column(4);
        }
        .card__actions {
            @include make-xs-column(2);
        }
    }
    .card__description{
            .card__description__titre{
                margin:0px;
                padding:0px;
                .titre__display{
                    font-size:14px;
                    font-weight:500;
                    margin:0px;
                    &:after{
                        display:inline;
                        position:relative;
                        opacity:0;
                        visibility:hidden;
                        content:$fa-var-pencil;
                        font-family: "FontAwesome";
                        font-size:13px;
                        margin:0px;
                        padding:0px 4px;
                        transition:.3s;
                    }
                    &:hover{
                        cursor:pointer;
                        &:after{
                            opacity:1;
                            visibility:visible;
                            transition:.3s;
                        }
                    }
                }
                .titre__edition{
                    font-size:14px;
                    height:21px;
                    font-weight:500;
                    margin:0px;
                    .titre__edition__input{
                        margin:0px 0px;
                        padding:0px 0px;
                        height:21px;
                        outline:none;
                        border:none;
                        color:$default-color-light;
                        background:none;
                        border-bottom:solid 1px $secondary-color;
                    }
                    .titre__edition__link{
                        margin:0px;
                    }
                }
            }
            .card__description__date{
                margin:0px;
                padding-top:14px;
                font-size:12px;
                font-weight:300;
                font-style: italic;
                margin:0px;
            }
            .card__description__note{
                margin:0px;
                padding:0px;

                .note__display{

                    font-size:13px;
                    font-weight:300;
                    margin:0px;
                    &:after{
                        display:inline;
                        position:relative;
                        opacity:0;
                        visibility:hidden;
                        content:$fa-var-pencil;
                        font-family: "FontAwesome";
                        font-size:13px;
                        margin:0px;
                        padding:0px 4px;
                        transition:.3s;
                    }
                    &:hover{
                        cursor:pointer;
                        &:after{
                            opacity:1;
                            visibility:visible;
                            transition:.3s;
                        }
                    }
                }

                .note__edition{
                    font-size:14px;
                    height:21px;
                    font-weight:500;
                    margin:0px;
                    .note__edition__input{
                        margin:0px 0px;
                        padding:0px 0px;
                        height:21px;
                        outline:none;
                        border:none;
                        color:$default-color-light;
                        background:none;
                        border-bottom:solid 1px $secondary-color;
                    }
                    .note__edition__link{
                        margin:0px;
                    }
                }
            }
        }

    &.card--trainer-session{
        margin:4px auto 4px auto;

        .card__actions{
            padding:16px;
        }
    }

    &.card--users{
        .card__description__titre{
            padding:16px;
            font-weight:500;
            font-size:14px;
        }
        .card__actions{
            margin:0px 4px;
            .button{
                display:block;
                float:left;
                margin:8px 4px;
            }
        }
    }


    &.card--player-session{
        .card__actions{
            padding:16px;
        }
    }
    
    @each $size in $sizes{
        &.card--#{nth($size, 1)}{
            width:100%;
            height:auto;
            overflow:auto;
            margin-bottom:8px;


            &.ng-enter, 
            &.ng-leave
            { 
                transition: .6s;
            } 
             
            &.ng-enter.ng-enter-active, 
            &.ng-leave {
                visibility:visible;
                opacity: 1;
                height: nth($size, 2);
            }
             
            &.ng-leave.ng-leave-active,
            &.ng-enter {
                visibility:hidden;
                opacity: 0;
                height: 1px;       
            }

            .card__illustration{
                line-height:nth($size, 2);
            }
            .card__description{
                float:left;
            }
            .card__actions{
                height:nth($size, 2);
            }
        }
    }
}