.card{
    position:relative;
    display:block;
    width:100%;
    height:nth(nth($sizes,1), 2);
    padding:0px;
    border:none;
    box-sizing: border-box;
    background:$white;
    border-radius:2px;
    @include material-shadow(1);
    transition:.3s;
    &:hover{
        @include material-shadow(2);
    }

    .card__illustration{
        display:block;
        float:left;
        border-top-left-radius:2px;
        border-bottom-left-radius:2px;
        &.card__illustration--editable{
            &:after{
                display:block;
                position:absolute;
                opacity:0;
                visibility: hidden;
                top:0px;
                left:0px;
                font-size:24px;
                font-family:"FontAwesome";
                content:$fa-var-cloud-upload;
                width:100%;
                height:100%;
                background-color:$default-color-button;
                color:white;
                transition:.3s;
            }
            &:hover{
                cursor:pointer;
                &:after{
                    opacity:1;
                    visibility: visible;
                    transition:.3s;
                }
            }
           
        }
    }


    .card__description{
        float:left; 
    }

    &.card--session{
        margin:4px auto 4px auto;
        .card__description{
            .card__description__titre{
                height:21px;
                margin:0px;
                padding:0px;
                .titre__display{ 
                    padding:4px 16px;
                    font-size:13px;
                    font-weight:500;
                    margin:0px;
                    &:after{
                        display:inline;
                        position:relative;
                        opacity:0;
                        visibility:hidden;
                        content:$fa-var-pencil;
                        font-family: "FontAwesome";
                        font-size:13px;
                        margin:0px;
                        padding:0px 4px;
                        transition:.3s;
                    }
                    &:hover{
                        cursor:pointer;
                        &:after{
                            opacity:1;
                            visibility:visible;
                            transition:.3s;
                        }
                    }
                }
                .titre__edition{ 
                    padding:0px 16px;
                    font-size:13px;
                    height:21px;
                    font-weight:500;
                    margin:0px;
                    .titre__edition__input{
                        margin:0px 0px;
                        padding:0px 0px;
                        height:21px;
                        outline:none;
                        border:none;
                        color:$border;
                        border-bottom:solid 1px $secondary-color;
                    }
                    .titre__edition__link{
                        margin:0px;
                    }
                }
            }
            .card__description__date{
                margin:0px;
                padding:14px 16px 4px 16px;
                font-size:12px;
                font-weight:300;
                font-style: italic;
                margin:0px;
            }
            .card__description__note{
                margin:4px 16px;
                padding:0px 0px;
                border:none;
                font-size:13px;
                font-weight:300;
                transition:.2s;

                &:after{
                    content:$fa-var-info-circle;
                    font-family: "FontAwesome";
                    padding:0px 4px;
                    transition:.3s;
                }
                &:hover{
                    cursor:pointer;
                    &:after{
                        content:$fa-var-pencil;
                        font-family: "FontAwesome";
                        padding:0px 4px;
                        transition:.3s;
                    }
                }
            }
        }

    }

    @each $size in $sizes{
        &.card--#{nth($size, 1)}{
            width:nth($size, 2)*6;
            height:nth($size, 2);

            .card__illustration{
                line-height:nth($size, 2);
            }
            .card__description{
                float:left;    
            }
        }
    }
}