#flash-messages {
  position: fixed;
  top: 50px;
  left: 50%;
  z-index: 10000;

  li{
    padding: 5px 15px;
    display: block;
    text-align: center;
    width: 200px;

    margin-left: -100px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: .7em;
    &.ng-enter {
      // display: none !important;
      animation: fadeIn 1s;
    }
    &.ng-leave {
      animation: fadeOut 1s;
    }
    // &.ng-hide-remove {
    //   display: block !important;
    //   animation:
    //   slide-down-enter 250ms ease-out,
    //   slide-down-leave 500ms 3s ease;
    // }
  }

  .success {
    background-color: #4caf50;
  }
  .warning {
    background-color: #ff9800;
  }
  .info {
    background-color: #41D2FA;
  }
  .danger {
    background-color: #e51c23;
  }


}

// .slide-down { display: none !important; }
// .slide-down.ng-hide-remove {
//   display: block !important;
//   animation:
//   slide-down-enter 250ms ease-out,
//   slide-down-leave 500ms 3s ease;
// }

// @keyframes slide-down-enter {
//   from { opacity: 0; transform: translateY(-75%); }
//   to { opacity: 1; transform: translateY(0); }
// }

// @keyframes slide-down-leave {
//   from { opacity: 1; transform: translateY(0); }
//   to { opacity: 0; transform: translateY(75%); }
// }