.modal{
	position:fixed;
	display:block;
	visibility: hidden;
	opacity:0;
	top:50%;
	left:50%;
	width:800px;
	height:480px;
	margin: -240px 0px 0px -400px;
	background-color:$white;
	border-radius:8px;
	z-index:100;
	overflow-x:hidden;
	overflow-y:auto;
	transition:.5s;
	@include material-shadow(2);

	&.modal--open{
		visibility: visible;
		opacity:1;
		transition:.5s;
	}

	.modal__header{
		display:block;
		position:relative;
		width:100%;
		height:65px;
		border-bottom:solid 1px $border;

		.modal__illustration{
			float:left;
		}

		.modal__title{
			float:left;
			width:auto;
			height:64px;
			padding:20px;
			font-size:24px;
			font-weight:200px;
			margin:0px;
			box-sizing: border-box;
		}

		.modal__close{
			float:right;
		}
	}
	.modal__nav{
		width:100%;
		height:48px;
		border-bottom:solid 1px $border;

		.modal__nav__tab{
			display:block;
			position:relative;
			margin:0px;
			height:48px;
			font-size:16px;
			padding-top:12px;
			color:$default-color;
			text-decoration:none;
			text-align:center;
			box-sizing: border-box;
			cursor:pointer;
			border-bottom:solid 0px $secondary-color;
			transition:.2s;
			&:hover{
				border-bottom:solid 2px $secondary-color;
			}
			&.modal__nav__tab--active, &:focus{
				text-decoration:none;
				border-bottom:solid 4px $secondary-color;
			}

		}
		&.modal__nav--2tab{
			.modal__nav__tab--left{
				width:50%;
				float:left;
			}
			.modal__nav__tab--right{
				width:50%;
				float:right;
			}
		}

		&.modal__nav__3tab{
			.modal__nav__tab--left{
				width:33%;
				float:left;
			}
			.modal__nav__tab--middle{
				width:34%;
				float:left;
			}
			.modal__nav__tab--right{
				width:33%;
				float:right;
			}
		}
	}
	.modal__content{
		width:100%;
		height:340px;
		background: $background-default-secondary;
		padding: 1em;
		overflow-x:hidden;
		overflow-y:auto;
		&.modal__content--nav-off{
			height:366px;
		}
		&.modal__content--tools-off{
			height:350px;
		}
		&.modal__content--nav-tools-off{
			height:415px;
		}
	}
	.modal__tools{
		display:block;
		position:relative;
		width:100%;
		height:64px;
		border-top:solid 1px $border;
	}

	&.modal--history {
		.modal__header {

		}
		.modal__content {
			padding: 1em;
		}

		.modal__tools {
			padding: 1em;
			a.button:nth-child(1),
			a.button:nth-child(2) {
				float: right;
			}

		}
	}
}

.shadow{
	position:fixed;
	display:block;
	visibility: hidden;
	opacity:0;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:rgba(0,0, 0, .6);
	z-index:99;
	transition:.5s;
	&.shadow--show{
		visibility: visible;
		opacity:1;
		transition:.5s;
	}


}
