// Deprecated to view V2

$zone-player-primary:70%;
$zone-player-secondary:(100%-$zone-player-primary);
$zone-joingrp-primary:60%;
$zone-joingrp-secondary:100%-$zone-joingrp-primary;


.partial{
    display:block;
    position:relative;
    &.partial--menu{
        width:100%;
        height:56px;
        margin:0px;
        padding:0px;
        border-top:solid 7px $primary-color;
        border-bottom:solid 1px $border;
        background:$white;

        &.v2{
            border-bottom:none;
            @include material-shadow();
            z-index:4;
        }
        
        .partial--menu__workspaces{
            float:left;
            margin:4px 0px 4px 8px;
            i{
                display:block;
                position:relative;
                padding:10px;
                font-size:21px;
            }
        }
        
        .partial--menu__action{
            float:right;
            height:48px;
            padding:4px 12px;
            margin:0px;
            list-style-type: none;
            > *{
                float:left;
            }
        }
    }

    &.partial--workspace{
        &.v2{
            display:block;
            position:absolute;
            width:100%;
            height:100%;
            top:0px;
            left:0px;
            z-index:3;
        }
    }

    &.partial--create-session{
        @include make-md-column(5);
        @include make-md-column-offset(0);
    }
    &.partial--newest-sessions{
        @include make-md-column(6);
        @include make-md-column-offset(1);

    }

    &.partial--join-session{
        &.v1{
            @include make-md-column(4);
            @include make-md-column-offset(0);
        }
        &.v2{
            display:block;
            position:absolute;
            width:$zone-player-secondary;
            height:100%;
            min-height: 440px;
            top:0px;
            left:0px;
            z-index:3;

            h3{
                position:absolute;
                display:block;
                width:100%;
                top:140px - 0.5*$grid-gutter-width;
                margin:0px;
                padding:$grid-gutter-width;
                text-align:right;
            }
            h4{
                position:absolute;
                display:block;
                width:100%;
                bottom:120px;
                text-align:right;
                margin:0px;
                padding:($grid-gutter-width - 12) $grid-gutter-width;
            }
            .input--new{
                position:absolute;
                display:block;
                bottom:64px;
                right:-49px;

                &.active{
                    right:-296px;
                }
            }

        }
    }
    &.partial--newest-session{
        &.v1{
            @include make-md-column(6);
            @include make-md-column-offset(1);
        }
        &.v2{
            display:block;
            position:absolute;
            width:$zone-player-primary;
            height:100%;
            min-height: 440px;
            top:0px;
            left:$zone-player-secondary;
            border-left:solid 1px $border;
            background:#F9F9F9;
            z-index:2;
            overflow-x:hidden;
            overflow-y:auto;
            .partial--list-sessions{
                display:block;
                top:120px;
                @include container-fixed(128px);


                .partial--played-session{
                    display:block;
                    position:relative;
                    @include make-row();
                    height:96px;
                    clear:both;

                    .partial__illustration{
                        display:block;
                        padding-top:16px;
                        padding-bottom:16px;
                        @include make-sm-column(2);
                    }
                    .partial__actions, .partial__description {
                        border-bottom:solid 1px $border;
                    }

                    .partial__description{
                        @include make-sm-column(6);
                        height:96px;
                        padding-top:$grid-gutter-width/2;
                        padding-bottom:$grid-gutter-width/2;
                        p{
                            margin:0px;
                            padding:0px;
                        }
                    }

                    .partial__actions{
                        @include make-sm-column(4);
                        height:96px;
                        a.btn{
                            margin: 3*$grid-gutter-width/4;
                            float:left; 
                        }
                    }

                    &:last-child {
                        .partial__description, .partial__actions{
                            border:none;
                        }
                    }
                }   
            }
        }
    }
    &.partial--choose-group{
        display:block;
        position:absolute;
        width:$zone-joingrp-secondary;
        height:100%;
        min-height: 440px;
        top:0px;
        left:0px;
        z-index:3;
        h3{
            position:absolute;
            display:block;
            width:100%;
            top:140px - 0.5*$grid-gutter-width;
            margin:0px;
            padding:$grid-gutter-width;
            text-align:right;
        }
        .session-name{
            position:absolute;
            display:block;
            width:100%;
            top:110px - 0.5*$grid-gutter-width;
            margin:0px;
            padding:$grid-gutter-width;
            text-align:right;
        }
        .input{
            &.input--text{
                position:absolute;
                display:block;
                top:0px;
                width:262px;
                right:32px;
                margin-top:264px;
            }
            &.input--new{
                position:absolute;
                display:block;
                top:0px;
                width:320px;
                right:-16px;
                margin-top:264px;
            }
        }
    }

    &.partial--group{
        display:block;
        position:absolute;
        width:$zone-joingrp-primary;
        height:100%;
        min-height: 440px;
        top:0px;
        left:$zone-joingrp-secondary;
        padding:112px 96px 64px 96px;
        z-index:2;
        overflow-x:hidden;
        overflow-y:auto;
        .message{
            position:relative;
            display:block;
            width:auto;
            height:48px;
            border-radius:2px;
            margin-top:150px;
            padding:16px 32px;
            font-weight:300;
            text-align:center;
        }
        .partial--group__list{
            @include container-fixed(0px);
            @include material-shadow(2);
            position:relative;
            display:block;
            height:100%;
            background:white;
            border-radius:2px;
            overflow-y:auto;
            overflow-x: auto;
            .list__head{
                @include make-row(0px);
                padding-top:24px;
                padding-bottom:16px;
                background:$primary-color;
                border-bottom:solid 1px lighten($primary-color, 10%);
                margin-bottom:32px;
                h4{
                    @include make-md-column-offset(2);
                    @include make-md-column(10, 0px);
                    font-size:24px; 
                    line-height:48px;
                    font-weight: 300;
                    color:$white;
                }
            }
            .list__item{
                @include make-row(0px);
                height:80px;
                .item__illustration{
                    @include make-md-column(2);
                    height:80px;
                    padding-bottom:16px;
                    padding-top:16px;
                }
                .item__infos{
                    @include make-md-column(8, 0px);
                    height:80px;
                    padding-top:16px;
                    padding-bottom:16px;
                    line-height:48px;
                    font-size:18px;
                    border-bottom:solid 1px $border;
                }
                .item__actions{
                    @include make-md-column(2);
                    height:80px;
                    padding-bottom:16px;
                    padding-top:16px;
                    .btn{
                        margin:0px auto;
                        float:none;
                    }

                }
                &:last-child{
                    .item__infos{
                        border-bottom:none;
                    }
                }
            }

        }
    }

    
}