<div class="view view__menu-workspaces">
    <div ng-if="user.isTrainer || user.isScenarist || user.isAdmin">
        <input type="checkbox" class="menu--toggler" id="menu-toggler" />
        <label class="btn--menu" for="menu-toggler"><span></span></label>
        <div class="menu">
            <ul>
                <li>
                    <a ui-sref-active="button--active" ui-sref="wegas.private.player" class="button button--default-reverse button--player">
                        <span class="button__label">Player</span>
                    </a>
                </li>
                <li ng-if="user.isTrainer || user.isScenarist || user.isAdmin">
                    <a ui-sref-active="button--active" ui-sref="wegas.private.trainer" class="button button--default-reverse button--trainer"><span class="button__label">Trainer</span></a>
                </li>
                <li ng-if="user.isScenarist || user.isAdmin">
                    <a ui-sref-active="button--active" ui-sref="wegas.private.scenarist" class="button button--default-reverse button--scenarist"><span class="button__label">Scenarist</span></a>
                </li>
                <li ng-if="user.isAdmin">
                    <a ui-sref-active="button--active" ui-sref="wegas.private.admin" class="button button--default-reverse button--admin"><span class="button__label">Admin</span></a>
                </li>
            </ul>
        </div>
    </div>
    <h2 class="view__headding-workspace">{{name}}</h2>
    <ul class="view__sub-menu">
        <li class="action">
            <a ng-click="logout()" class="button button--default-reverse button--label-off button--sign-out" title="Logout"><span class="button__label">Logout</span></a>
        </li>
        <li class="action">
            <a ng-click="editProfile()" class="button button--default-reverse button--user button-without-label" title="Edit profile"><span class="button__label">{{ user.username }}</span></a>
        </li>
    </ul>
</div>