<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight(%-5level): %date{yyyy/MMM/dd; HH:mm:ss.SSS Z} [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>myApp.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>-->
    <logger name="org.apache" level="WARN"/>
    <logger name="com.wegas.core" level="WARN"/>
    <logger name="com.wegas.admin.AdminFacade" level="INFO"/> <!-- log scheduled deletion -->
    <logger name="com.wegas.core.ejb.GameModelFacade" level="INFO"/> <!-- log scheduled deletion -->
    <logger name="com.wegas.core.rest.util" level="INFO"/>
    <logger name="com.wegas.core.ejb.RequestManager" level="INFO"/>
    <logger name="com.wegas.core.ejb.ApplicationLifecycle" level="INFO"/>
    <logger name="com.wegas.core.ejb.ApplicationStartup" level="INFO"/>
    <logger name="com.wegas.core.ejb.cron" level="INFO"/>
    <logger name="com.wegas.core.jcr.JackrabbitConnector" level="INFO"/>
    <logger name="com.wegas.core.rest.ScriptController" level="INFO"/>
    <logger name="com.wegas.core.security.ejb.UserFacade" level="INFO"/>
    <logger name="com.wegas.core.rest.util.GuestTracker" level="INFO"/>
    <logger name="com.wegas.log.xapi.Xapi" level="INFO"/>
    <!--<logger name="com.wegas.core.persistence.EntityListener" level="DEBUG"/>-->

    <!-- JCR GC -->
    <logger name="org.apache.jackrabbit.oak.plugins.blob.MarkSweepGarbageCollector" level="INFO"/>
    <logger name= "org.apache.jackrabbit.oak.plugins.document.VersionGarbageCollector" level="INFO"/>

    <logger name="net.sf.ehcache" level="WARN"/>

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
