{{#modal-dialog action="close" title="Players"}}
    <ul>
    {{#each player in players}}
        <li>{{player.name}} ({{player.status}})</li>
    {{else}}
        No players
    {{/each}}
    </ul>
{{/modal-dialog}}
