<div class="view__users-team" ng-repeat="team in teams">
    <div ng-if="team.status === 'LIVE'">
        <h4>
            <span>{{team.name}}</span>
            <a
                class="button button--small button--round button--default-reverse button--label-off button--trash"
                title="{{'TRAINER-MODALE-USERS-REMOVE-TEAM-BTN'| translate}}"
                confirmed-click="remove(team.id)"
                ng-confirm-click="{{'TRAINER-MODALE-USERS-REMOVE-TEAM-CONFIRM'| translate}}">
                <span class="button__label">{{'TRAINER-MODALE-USERS-REMOVE-TEAM-BTN'| translate}}</span>
            </a>
        </h4>
        <div class="view__users-individual" trainer-sessions-users-individual-list players="team.players"></div>
    </div>
</div>
