{
    "presets": [
        "react",
        [
            "env",
            {
                "useBuiltIns": true,
                "debug": false,
                "modules": false,
                "loose": true,
                "targets": {
                    "browsers": [
                        "last 2 Chrome versions",
                        "last 2 Safari versions",
                        "last 2 Firefox versions"
                    ],
                    "uglify": true
                },
                "exclude": ["transform-regenerator"]
            }
        ]
    ],
    "plugins": [],
    "env": {
        "development": {
            "presets": []
        },
        "production": {
            "plugins": ["transform-react-remove-prop-types"]
        }
    }
}
