{
    "presets": [
        "@babel/preset-react",
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "debug": false,
                "corejs": 2,
                "modules": false,
                "loose": true,
                "targets": {
                    "browsers": [
                        "last 2 Chrome versions",
                        "last 2 Safari versions",
                        "last 2 Firefox versions"
                    ]
                },
                "exclude": [
                    "transform-regenerator"
                ]
            }
        ]
    ],
    "plugins": [],
    "env": {
        "development": {
            "presets": []
        },
        "production": {
            "plugins": []
        }
    }
}
