<div class="card__illustration illustration illustration--icon" illustration="{{scenario.properties.iconUri}}"></div>
<div class="card__description"
      ng-class="{true:'card__description--two-lines', false:'card__description--three-lines'}[scenario.comments == null || scenario.comments == '']" >
    <div class="line line--primary">{{scenario.name}}</div>
    <div class="line">{{'COMMONS-DATE' | translate: {date: scenario.createdTime} }}</div>
    <div ng-if="!((scenario.comments == null) || (scenario.comments == ''))" class="line line--optional">{{scenario.comments}}</div>
</div>
<div class="card__actions">
  <a class="button button--small button--round button--default-reverse button--label-off button--settings" title="{{'SCENARIST-CARD-SETTINGS-BTN' | translate}}" ui-sref=".settings({scenarioId: scenario.id})">
    <span class="button__label">{{'SCENARIST-CARD-SETTINGS-BTN' | translate}}</span>
  </a>
  <a class="button button--small button--round button--default-reverse button--label-off button--user" title="{{'SCENARIST-CARD-USERS-BTN' | translate}}" ui-sref=".coscenarists({scenarioId: scenario.id})">
    <span class="button__label">{{'SCENARIST-CARD-USERS-BTN' | translate}}</span>
  </a>
  <a id="dupe-{{scenario.id}}"
     class="button button--small button--round button--label-off button--default-reverse glyphicon glyphicon-duplicate"
     title="{{'SCENARIST-CARD-DUPLICATE-BTN' | translate}}" ng-click="duplicate(scenario)">
      <span class="button__label">{{'SCENARIST-CARD-DUPLICATE-BTN' | translate}}</span>
  </a>
  <a class="button button--small button--round button--default-reverse button--label-off button--fork" title="{{'SCENARIST-CARD-VERSIONS-BTN' | translate}}" ui-sref=".history({scenarioId: scenario.id})">
    <span class="button__label">{{'SCENARIST-CARD-VERSIONS-BTN' | translate}}</span>
  </a>
  <a id="archive-{{scenario.id}}"
     class="button button--small button--round button--default-reverse button--label-off button--archive" title="{{'SCENARIST-CARD-MOVE-ARCHIVE-BTN' | translate}}" ng-click="archive(scenario)">
    <span class="button__label">{{'SCENARIST-CARD-MOVE-ARCHIVE-BTN' | translate}}</span>
  </a>
  <a class="button button--small button--round button--default button--label-off button--scenarist action--button" title="{{'SCENARIST-CARD-EDIT-BTN' | translate}}" href="{{ServiceURL}}edit.html?gameModelId={{scenario.id}}" target="_blank">
    <span class="button__label">{{'SCENARIST-CARD-EDIT-BTN' | translate}}</span>
  </a>
</div>
