<h3>Add scenario</h3>

<form class="form form__create-scenario" ng-submit="createScenario()">
  <div class="form__row">
    <input class="form__row__entry input input--small" type="text" id="session-token" ng-model="newScenario.name" placeholder="Scenario name" autocomplete="off">
  </div>
  <div class="form__row fade" ng-if="newScenario.name != ''">
    <select class="form__row__entry input input--small" ng-model="newScenario.templateId">
        <option value="0">Based on scenario</option>
        <option ng-repeat="scenario in scenarios | filter: { canDuplicate: true }" value="{{scenario.id}}">{{scenario.name}}</option>
        <option value="upload">Upload from JSON</option>
        option
    </select>
  </div>
  <div class="form__row fade" ng-if="newScenario.templateId == 'upload'">
    <input id="import-json-scenario" type="file" value="upload a scenario" scenarist-scenario-create-upload />
  </div>
  <div class="form__row form__row--right">
    <input class="form__row__btn button button--default" type="submit" value="Create" />
  </div>
</form>