<div class="view view--new-session view--bottom"
	 scenarios="scenaristIndexCtrl.scenarios"
	 create="scenaristIndexCtrl.createScenario"
	 scenarist-scenario-create
>
</div>
<div class="view view--sessions-list view--middle">
	<h3>Current scenarios</h3>
	<div class="view__tools">
		<div class="tool tool--search tool--open">
			<a class="tool__link"></a>
			<input 
				class="tool__input" 
				ng-model="scenaristIndexCtrl.search" 
				type="text" 
			/>
		</div>
	</div>
	<div 
		ng-if="scenaristIndexCtrl.scenarios.length"
		ng-class="{true:'view__list--with-archive', false:''}[scenaristIndexCtrl.nbArchives > 0]"
		class="view__list" 
		scenarios="scenaristIndexCtrl.scenarios"
		archive="scenaristIndexCtrl.archiveScenario"
		maximum="scenaristIndexCtrl.maxScenariosDisplayed"
		search="scenaristIndexCtrl.search"
		scenarist-scenarios-list 
		repeat-auto-load
		>
	</div>
	<div ng-if="scenaristIndexCtrl.nbArchives > 0" class="view__archives">
		<a class="button button--small button--default button--archive" ui-sref=".archives">
			<span class="button__label">{{scenaristIndexCtrl.nbArchives}} &nbsp; archives</span>
		</a>
	</div>

</div>