<div class="card card--scenarist-scenario"
      ng-repeat="scenario in scenarios | orderBy: 'createdTime':true | filter: searchFn | limitTo: maximum"
      scenario="scenario"
      archive="archive"
      duplicate="duplicate"
      duplicating="duplicating"
      isDuplicated="isDuplicated"
      searchFn="searchFn"
      scenario-card >
</div>
<div ng-if="(search !== '') && (scenarios | filter: searchFn).length == 0">
    {{'SCENARIST-INDEX-LIST-NO-SCENARIO' | translate}}"{{search}}"
</div>
