<h3 ng-if="(adminWhoCtrl.message.length == 0)">{{adminWhoCtrl.who.length}} {{(adminWhoCtrl.who.length == 1 ? 'ADMIN-WHO-SINGULAR-TITLE' : 'ADMIN-WHO-PLURAL-TITLE') | translate}}</h3>
<h3 ng-if="(adminWhoCtrl.message.length != 0)" style="color:red;">{{adminWhoCtrl.message}}</h3>
<div ng-if="!adminWhoCtrl.loading"
     class="view__list" style="height: calc( 100% - 75px );">
    <div ng-repeat="role in adminWhoCtrl.roles | orderBy:'id'"
         role="role">
        <div ng-if="(adminWhoCtrl.who | filter: {highestRole: role.id}).length != 0"
             class="group-title">{{role.name}}&thinsp;:</div>
        <div class="card card--admin-who" style="transition: none;"
             ng-repeat="user in adminWhoCtrl.who | filter: {highestRole: role.id} | orderBy:'connectionDate':true"
             user="user">
            <div class="card__description" title="ID: {{ user.id }}  Username: {{ user.username }}">
                <div class="line line--primary" style="padding: 0px; line-height: 17px;">
                    <div class="card-number">{{ ($index+1) + "." }}</div>
                    <div class="card-fullname">{{ user.fullname }}</div>
                    <div class="card-be button button--small button--round button--default-reverse button--label-off button--play"
                       title="Impersonate !"
                       ng-controller="AdminUsersCtrl as adminUsersCtrl"
                       ng-click="adminUsersCtrl.be(user.user)">
                        <span class="button__label">{{'ADMIN-USERS-CARD-EDIT-BTN' | translate}}</span>
                    </div>
                    <div class="card-be button button--small button--round button--default-reverse button--label-off button--customize"
                       title="{{'ADMIN-USERS-CARD-EDIT-BTN' | translate}}"
                       ui-sref="wegas.private.admin.users.edit({id: user.id})">
                        <span class="button__label">{{'ADMIN-USERS-CARD-EDIT-BTN' | translate}}</span>
                    </div>
                    <div class="card-email">{{ user.email }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="adminWhoCtrl.loading"
     class="view__list view__list--loading"
     content-loading="{{'ADMIN-USERS-LOADING' | translate}}">
</div>
