.wegas {
  @MainColor: var(--common-colors-maincolor);
  @DisabledColor: var(--common-colors-disabledcolor);

  @TextColor: var(--common-colors-textcolor);
  @SecondaryTextColor: var(--common-colors-secondarytextcolor);

  @HoverColor: var(--common-colors-hovercolor);
  @HoverTextColor: var(--common-colors-hovertextcolor);

  @ActiveColor: var(--common-colors-activecolor);
  @HeaderColor: var(--common-colors-headercolor);

  @SuccessColor: var(--common-colors-successcolor);
  @WarningColor: var(--common-colors-warningcolor);
  @ErrorColor: var(--common-colors-errorcolor);

  @BorderRadius: var(--common-dimensions-borderradius);

  @TextFont2: var(--common-others-textfont2);

  &.wegas-btn {
    background-color: @MainColor;
    color: @SecondaryTextColor;
    border-style: none;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
    font-family: @TextFont2;
    border-radius: @BorderRadius;
    &:hover {
      color: @HoverTextColor;
      background-color: @ActiveColor;
      outline: none;
    }
    &:focus {
      outline: none;
    }
    &.noHover {
      &:hover {
        color: unset;
        background-color: unset;
      }
    }
    &.disabled {
      .noHover;
      background-color: @DisabledColor;
      cursor: initial;
    }
    &.noBackground {
      &:hover {
        color: @HoverColor;
      }
      background-color: transparent;
    }
    &.noClick {
      cursor: inherit;
    }
    &.iconOnly {
      color: @TextColor;
      background-color: transparent;
      &:hover {
        color: @ActiveColor;
      }
      &.disabled {
        &:hover {
          color: @DisabledColor;
        }
      }
    }
    &.disabledBorders {
      &.borderTopLeft {
        border-top-left-radius: unset;
      }
      &.borderTopRight {
        border-top-right-radius: unset;
      }
      &.borderBottomLeft {
        border-bottom-left-radius: unset;
      }
      &.borderBottomRight {
        border-bottom-right-radius: unset;
      }
    }
    &.confirmBtn {
      padding: 5px;
      background-color: @HeaderColor;
      text-align: center;
      display: inline-block;
      width: max-content;
    }
    &.success {
      background-color: @SuccessColor;
      &.iconOnly &.noBackground {
        background-color: transparent;
        color: @SuccessColor;
      }
    }
    &.warning {
      background-color: @WarningColor;
      &.iconOnly &.noBackground {
        background-color: transparent;
        color: @WarningColor;
      }
    }
    &.error {
      background-color: @ErrorColor;
      &.iconOnly &.noBackground {
        background-color: transparent;
        color: @ErrorColor;
      }
    }
  }

  &.wegas-cbx {
    cursor: pointer;
    color: @TextColor;

    &.disabled {
      cursor: default;
      color: @DisabledColor;
      &:hover {
        cursor: default;
        color: @DisabledColor;
      }
    }

    &.readOnly {
      cursor: default;
      color: @HeaderColor;
      &:hover {
        cursor: default;
        color: @HeaderColor;
      }
    }
  }
}
