h1{
    font-weight: 300;
    font-size: 48px;
    margin: 32px 0px 0px 0px;
}

h2{
    display:inline-block;
    font-size:16px;
    font-weight:300;
    margin:16px 0px 16px 8px;
}

h3{
    color: $default-color;
    font-weight: 200;
    padding:0px;
    font-size:25px;            
    margin:32px 0px 16px 0px;
    i, span{
        font-size:25px;   
        font-weight: 200;
        color: $default-color;
    }
}

h4{
    font-weight: 300;
    padding:0px;
}

h5, h6{
    font-weight: 300;
}
