<div class="growable">
    <a class="button button--small button--fork" title="{{'MODELER-MODALE-VERSIONS-NEW-TITLE-BTN'| translate}}">
        <span class="button__label" ng-click="addVersion()">{{'SCENARIST-MODALE-VERSIONS-NEW-BTN'| translate}}</span>
    </a>
    <!-- a class="button button--small button--duplicate" title="{{'SCENARIST-MODALE-VERSIONS-DUPLICATE-TITLE-BTN' | translate}}">
        <span class="button__label" ng-click="copyModel()">{{'SCENARIST-MODALE-VERSIONS-DUPLICATE-BTN' | translate}}</span>
    </a -->
</div>
<div>

    <span ng-if="user.isAdmin">
        <label ng-if="!diffDone" class="button button--small button--upload">{{'SCENARIST-MODALE-VERSIONS-DIFF-BTN'| translate}}
            <input id="import-json-scenario-patch-diff" type="file" value="Diff" accept=".json, .wgz" 
                   style="display:none"
                   modeler-history-patch-diff
                   model="model"
                   />
        </label>
        <label ng-if="diffDone" class="button button--small button--upload">{{'SCENARIST-MODALE-VERSIONS-PATCH-BTN'| translate}}
        <input id="import-json-scenario-patch" type="file" value="Patch" accept=".json, .wgz" 
                   style="display:none"
                   modeler-history-patch 
                   model="model"
                   />
        </label>
    </span>
    <a class="button button--small button--download" target="_blank" modeler-history-download-pdf model="model">{{'SCENARIST-MODALE-VERSIONS-PDF-BTN'| translate}}</a>
    <a class="button button--small button--download" target="_blank" modeler-history-download-wgz model="model">{{'SCENARIST-MODALE-VERSIONS-WGZ-BTN'| translate}}</a>
    <a class="button button--small button--download" target="_blank" modeler-history-download-json model="model">{{'SCENARIST-MODALE-VERSIONS-JSON-BTN'| translate}}</a>
</div>
