/* PMG GENERAL STYLES */
.layout {
    width:100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 9pt;
}
.header {
    height:50px;
    background:lightsteelblue;
    width:100%;
    border: 1px solid gray;
    border-bottom:none;

}
.yui3-wegas-variabledisplay {
    padding:5px;
    max-width:150px;
}
.yui3-wegas-variabledisplay-box-unit {
    width:5px;
    height:10px;
    background:steelblue;
    border:1px solid gray;
    margin-right:2px;
    float:left;
}
.yui3-wegas-valuebox-unit {
    background:steelblue;
    border:1px solid gray;
    float:left;
}

.yui3-wegas-valuebox-selected {
    background:white;
}
#menu {
    background:lightgray;
    border: 1px solid gray;
}
.menu-button {
    padding: 5px 10px;
    cursor: pointer;
    border-right: 1px solid gray;
}
.menu-button:hover {
    background:gray;
}
.yui3-wegas-login {
    padding:5px;
    float:right  !important;
    cursor: pointer;
}
.body {
    border: 1px solid gray;
    border-top:none;
    min-height:200px;
}