/* PMG GENERAL STYLES */
.pmg-mainlayout {
    width:100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 9pt;
}
.pmg-indicators {
    height: 80px;
    padding: 5px;
    background: transparent url(wegas-projectmanagementgame/assets/header.png) repeat;
    color: white;
    border-bottom: 0;
}
.pmg-indicators > ul {
    background: transparent;
}

/* PMG TOP MENU STYLES */
.yui3-wegas-variabledisplay-content {
    position:relative;
}
.yui3-wegas-variabledisplay-content canvas {
    margin-top: 5px;
}
.yui3-wegas-variabledisplay-gauge-text {
    position: absolute;
    top: 23px;
    left: 26px;
    color: #4D4D4D;
    width: 40px;
    text-align: right;
}
.yui3-wegas-variabledisplay-box-unit {
    background-color: yellow;
    border: 1pt solid #7D7D7D;
    float: left;
    height: 10px;
    width: 5px;
    margin-right: 1px;
    margin-top: 2px;
}
.pmg-indicators .yui3-wegas-variabledisplay {
    padding: 0 5px;
}
.pmg-timevariable {
    width:100px;
}
.pmg-indicators > ul >.pmg-timevariable-container {
    float: right;
}
/* PMG TOP MENU STYLES */
.pmg-topmenu {
    min-height: 29px;
    /*border: 1px solid black;*/
    background: transparent url(wegas-projectmanagementgame/assets/nav_horizontal.png) repeat;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.pmg-topbutton span {
    display: block;
    height: 15px;
    padding: 5px 10px 9px 20px;
    width: 90px;
    font-size: 1.1em;
    border-right: 1px solid black;
    cursor:pointer;
    /*   background: transparent url(wegas-projectmanagementgame/assets/nav_horizontal.png) repeat;
    */}
.pmg-topbutton span:hover {
    background-color: #DDD;
}
/* PMG Login button style */
.yui3-wegas-list-horizontal .yui3-wegas-login {
    float: right;
}
.yui3-wegas-login-content  {
    height: 15px;
    padding: 5px 10px 9px 20px;
}
/* PMG BODY STYLES */
#pmg-body {
    position: absolute;
    top: 121px;
    bottom: 0;
    left: 0;
    right: 0;
}
/*
#pmg-topmenu {
    position: absolute;
    left: 0;
    right: 0;
    top: 90px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#pmg-indicators {
    position: absolute;
    right: 0;
    left: 0;
}*/
.pmg-body {
    padding-right: 60px;
    background: white;
    position:relative;
    background-color: #7A7A7A;
    height: 100%;
}
.yui3-wegas-list-vertical > .yui3-wegas-widgetloader,
.yui3-wegas-list-vertical > .yui3-wegas-widgetloader > .yui3-wegas-widgetloader-content,
.yui3-wegas-list-vertical > .yui3-wegas-widgetloader > .yui3-wegas-widgetloader-content > .yui3-wegas-list,
.pmg-mainlayout,
.pmg-maindisplayarea {
    height:inherit;
}
#pmg-rightmenu,
#pmg-maindisplayarea {
    vertical-align: top;
}
#pmg-maindisplayarea {
    background:white;
    position: absolute;
    left: 0;
    right: 60px;
    top: 0;
    bottom: 0;
}
#pmg-maindisplayarea .yui3-wegas-text-content {
    padding:10px;
}
/* PMG RIGHT MENU STYLES */
#pmg-rightmenu {
    position: absolute;
    right: 1px;
    width:59px;
    background: #7A7A7A;
    border-left: 1px solid black;
    height: inherit;
}
.pmg-actionbutton,
.pmg-choicebutton {
    background: transparent url(wegas-projectmanagementgame/assets/nav_vertical.png) repeat;
    border-bottom: 1px solid black;
    padding:5px;
    width: 50px;
}
.pmg-actionbutton span,
.pmg-choicebutton span {
    height: 50px;
    display: block;
    cursor: pointer;
}
.pmg-actionbutton span {
    background: transparent url(wegas-projectmanagementgame/assets/available_action.png) no-repeat;
}
.pmg-choicebutton span {
    background: transparent url(wegas-projectmanagementgame/assets/choice.png) no-repeat;
}


/* PMG TABVIEW WIDGET STYLES */
.pmg-maindisplayarea {
    height:100%;
}
.pmg-maindisplayarea  .yui3-tabview-content {
    /*padding-left: 350px;*/
}
.yui3-skin-sam  .pmg-maindisplayarea .yui3-tabview-list {
    display: inline-block;
    float:left;
    /* margin-left: -350px;*/
    border: none;
    display: inline-block;
    border-right: 1px solid lightgray;
    width: 39.9%;
}

.yui3-skin-sam  .pmg-maindisplayarea .yui3-tabview-panel {
    display:inline-block;
    width:60%;
    float:left;
    overflow:inherit;  
}
.pmg-maindisplayarea .yui3-tab {
    display: block;
    border:none;
    border-bottom:1px solid #DBDBDB;
    margin: 0;
    cursor:pointer;
    width:100%;
    padding:0;
}
.pmg-maindisplayarea .pmg-subtitle {
    padding:6px 0;
    font-size: 1.2em;
    font-weight: normal;
    border-bottom: 2px solid #4D4D4D;
}
.yui3-skin-sam .pmg-maindisplayarea .pmg-subtitle  .left ,
.yui3-skin-sam .pmg-maindisplayarea .yui3-tab  .left {
    float:left;
    padding-left:8px;
}
.yui3-skin-sam .pmg-maindisplayarea .pmg-subtitle .right ,
.yui3-skin-sam .pmg-maindisplayarea .yui3-tab .right {
    float:right;
    padding-right:8px;
}
.yui3-skin-sam .pmg-maindisplayarea .yui3-tab a.yui3-tab-label  {
    background: none;
    border: none;
    padding: 6px 0px;
    font-size: 9pt;
    width:100%;
}
.yui3-skin-sam .pmg-maindisplayarea .yui3-tab a.yui3-tab-label .left {
    text-decoration: underline;
}
.yui3-skin-sam .pmg-maindisplayarea .yui3-tab .yui3-tab-label .right {
    text-decoration: none;
}
.yui3-skin-sam  .pmg-maindisplayarea .yui3-tab a:hover {
    background: #B2D2FF;
}
.yui3-skin-sam  .pmg-maindisplayarea .yui3-tab-selected {
    background: #CCCCCC;
}
.yui3-skin-sam  .pmg-maindisplayarea .yui3-tab-selected .yui3-tab-label {
    color:black;
}
/*
.yui3-skin-sam  .yui-layout-unit-center .yui-layout-bd .pmg-maindisplayarea,
.yui3-alba-displayareawidget,
.yui3-alba-displayareawidget-content, */
.pmg-maindisplayarea .yui3-tabview ,
.pmg-maindisplayarea .yui3-tabview-content,
.yui3-skin-sam .pmg-maindisplayarea .yui3-tabview-list,
.yui3-alba-textwidget-container {
    height:100%;
}

.pmg-maindisplayarea .h2 {
    display: block;
    height: 23px;
    background: transparent url(wegas-projectmanagementgame/assets/h2.png) repeat;
    border-bottom: 1px solid black;
    padding-left: 5px;
    padding-top: 8px;
    font-size: 1.1em;
    font-weight: bold;
}
.pmg-maindisplayarea {
    line-height: normal;
}
.pmg-maindisplayarea .h3 {
    font-size: 1.2em;
    font-weight: normal;
    padding: 2px 8px;
    border-bottom: 2px solid #4D4D4D;
}
.pmg-maindisplayarea .h4 {
    display: block;
    height: 16px;
    background: transparent url(wegas-projectmanagementgame/assets/h3.png) repeat;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: -1px;
    padding-left: 5px;
    padding-top:3px;
    padding-bottom: 2px;
    font-size: 1.1em;
    font-weight: bold;
}
.pmg-maindisplayarea  .description {
    margin: 5px;
    margin-bottom: 20px;
}
.pmg-maindisplayarea  input {
    margin: 5px;
    float: right;
    padding:5px;
}
.pmg-maindisplayarea .replies {
    margin: 5px;
}
.pmg-maindisplayarea .reply {
    margin-bottom: 5px;
    border-top:1px solid lightgray;
}
.pmg-maindisplayarea .reply.first-child {
    border:none;
}
.pmg-maindisplayarea .reply bold {
    font-weight: bold;
    display:block;
    margin-bottom:10px;
}