$buttons-icon : (
    (plug, $fa-var-plug,  "FontAwesome", 0px),
    (fork, $fa-var-code-fork,  "FontAwesome", 0px),
    (undo, $fa-var-reply,  "FontAwesome", 0px),
    (customize, $fa-var-pencil,  "FontAwesome", 0px),
    (adn, $fa-var-adn, "FontAwesome", 0px),
    (ambulance, $fa-var-ambulance, "FontAwesome", 0px),
    (search, $fa-var-search, "FontAwesome", 0px),
    (close, $fa-var-times, "FontAwesome", 0px),
    (user-plus, $fa-var-user-plus, "FontAwesome", 0px),
    (id-card, $fa-var-id-card-o, "FontAwesome", 0px),
    (user-remove, $fa-var-user-times, "FontAwesome", 0px),
    (play, $fa-var-play, "FontAwesome", 0px),
    (workspaces, $fa-var-th, "FontAwesome", 0px),
    (player, $fa-var-gamepad, "FontAwesome", 0px),
    //(trainer, $fa-var-tachometer, "FontAwesome", 0px),
    (scenarist, $fa-var-magic, "FontAwesome", 0px),
    (translate, $fa-var-language, "FontAwesome", 0px),
    (modeler, $fa-var-cubes, "FontAwesome", 0px),
    (add, $fa-var-plus, "FontAwesome", 0px),
    (remove, $fa-var-minus-circle, "FontAwesome", 0px),
    (download, $fa-var-download, "FontAwesome", 0px),
    (exclamation, $fa-var-exclamation-triangle, "FontAwesome", 0px),
    (eye, $fa-var-eye, "FontAwesome", 0px),
    (eye-slash, $fa-var-eye-slash, "FontAwesome", 0px),
    (lock, $fa-var-lock, "FontAwesome", 0px),
    (unlock, $fa-var-unlock, "FontAwesome", 0px),
    (valid, $fa-var-check, "FontAwesome", 0px),
    (admin, $fa-var-gavel, "FontAwesome", 0px),
    (refresh, $fa-var-refresh, "FontAwesome", 0px),
    (power-off, $fa-var-power-off, "FontAwesome", 0px),
    (repeat, $fa-var-repeat, "FontAwesome", 0px),
    (duplicate, $fa-var-files-o, "FontAwesome", 0px),
    (language, $fa-var-globe, "FontAwesome", 0px),
    (spinner, $fa-var-spinner, "FontAwesome", 0px),
    (mail, $fa-var-envelope, "FontAwesome", 0px),
    (archive, $wif-archive, "wegas-icons-font", 3px),
    //(eye, $wif-eye, "wegas-icons-font", 24px),
    (team, $wif-group, "wegas-icons-font", 3px),
    (key, $wif-key, "wegas-icons-font", 3px),
    (list, $wif-list, "wegas-icons-font", 3px),
    (sign-out, $wif-logout, "wegas-icons-font", 0px),
    (more, $wif-more, "wegas-icons-font", 3px),
    //(play, $wif-play, "wegas-icons-font", 24px),
    (settings, $wif-settings, "wegas-icons-font", 3px),
    (trash, $wif-trash, "wegas-icons-font", 3px),
    (user, $wif-user, "wegas-icons-font", 3px),
    (user-fa, $fa-var-user, "FontAwesome", 0px),
    (trainer, $wif-trainer, "wegas-icons-font", 0px)
);

%button--with-icon{
    $btn-default-size: nth(nth($sizes, 1),2);
    $btn-icon-size: nth(nth($sizes, 1),4);
    padding:$btn-default-size/3 $btn-default-size/2 $btn-default-size/3 ($btn-default-size);
    &:focus{
        padding:$btn-default-size/3 $btn-default-size/2 $btn-default-size/3 ($btn-default-size);
    }
    &:before{
        content:"A";
        display:block;
        position:absolute;
        top:0px;
        left:0px;
        text-align:center;
        padding:($btn-default-size - $btn-icon-size)/2 0px;
        margin:0px;
        font-size:$btn-icon-size;
        line-height:$btn-icon-size;
        width:$btn-default-size;
        height:$btn-default-size;
        background:none;
        font-family:"FontAwesome";
        color:$white;
    }

    @each $size in $sizes{
        $size-name:nth($size, 1);
        $size-pixel:nth($size, 2);
        $size-icon:nth($size, 4);

        &.button--#{$size-name}{
            padding:$size-pixel/3 $size-pixel/2 $size-pixel/3 ($size-pixel);
            &:focus{
                padding:$size-pixel/3 $size-pixel/2 $size-pixel/3 ($size-pixel);
            }
            &:before{
                padding:($size-pixel - $size-icon)/2 0px;
                font-size:$size-icon;
                width:$size-pixel;
                height:$size-pixel;
            }
        }
    }
}

.button.button--language {
    padding-right: 14px;
}
.button.button--language .button__label {
    margin-left: -9px;
}
.button.button--user {
    padding-right: 14px;
}
.button.button--user .button__label {
    margin-left: -9px;
}

.button.button--trainer:before {
    font-size: 29px !important;
}

.button.button--small.non-collapsible-expander-button {
    float: left;
    margin: 24px 12px 0px 12px;
}

.button.button--close.non-collapsible-close-button {
    position: absolute;
    right: 0;
    top: 0;
    /*
    position:relative;
    float:right;
    margin-right:-64px;
    padding-right:0;
    right:0;
    top: 18px;
    */
}

.button.glyphicon-duplicate:before {
    font-size:1.4em;
    margin-left: -7px;
}

.same-color-larger {
    color:inherit;
    font-size:110%;
}

.same-color {
    color:inherit;
}
