/*
*/
.wegas-template-box-unit {
    width:5px;
    height:10px;
    background:steelblue;
    border:1px solid gray;
    float:left;
    margin:0 0 3px 3px;
}
.wegas-template-valuebox-unit {
    background:steelblue;
    border:1px solid gray;
    float:left;
}
.wegas-template-valuebox-selected {
    background:white;
}
