.wegas-popup{
    position:absolute;
}
.wegas-popup-content {
    background: none repeat scroll 0 0 white;
    border: 1px solid #A9A9A9;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    border-radius: 3px;
    text-align: center;
}
.wegas-popup-content .yui3-widget-bd{
    text-align: center;
    padding: 1em;
    min-width: 150px;
}
.wegas-popup-content .yui3-widget-ft{
    border-radius: 0 0 3px 3px;
    background-color: #F5F4F1;
    border-top: solid 1px #EAE6DB;
    text-align: right;
}
.wegas-popup-content .yui3-widget-bd .icon{
    background-repeat: no-repeat;
    min-height: 48px;
    padding-left: 48px;
}
.wegas-popup-content .yui3-widget-bd .icon-error{
    background-image: url(../images/wegas-icon-error-48.png)
}
.wegas-popup-content .yui3-widget-bd .icon-success{
    background-image: url(../images/wegas-icon-success-48.png)
}
.wegas-popup-content .yui3-widget-bd .icon-info{
    background-image: url(../images/wegas-icon-info-48.png)
}
.wegas-popup-content .yui3-widget-bd .icon-warn{
    background-image: url(../images/wegas-icon-warning-48.png)
}
.wegas-popup-hidden { 
    display: none;
}

