*{
    font-family: $font-family;
    color:$default-color;
    font-weight:$font-weight-default;
}

body{
    display:block;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    height:100%;
    width:100%;
    max-width:1024px;
    margin: 0 auto;
    background-color:$background-default-secondary;
    overflow-x:hidden;
    overflow-y:auto;

    &.guideline{
        overflow:auto;
    }
}

hr{
    border-color:$border;
    clear:both;
}

a {
    color:$default-color-button;
    transition: all 0.5s ease;
}

a:hover, a:active{
    color:$secondary-color;
    transition: all 0.5s ease;
}


@import "base/headings";
@import "base/forms";
