@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

// Fonts
$font-family: "Lato", "Helvetica", "Arial", sans-serif;
$font-weight-default: 300;

// ---- Colors -----
$white: #fefefe;
$primary-color:#FA6942;
$primary-color-light:#FF7752;
$primary-color-dark:darken($primary-color, 10%);
$secondary-color:#41D2FA;
$secondary-color-light:#AFEAFA;
$secondary-color-dark:#38B6D9;


// ---- Background -----
$background-default:#f0f0f0; // ebebeb; A remplacer par lvl bottom
$background-default-secondary:#F9F9F9;
$background-white:$white;
$albasim-color:#a68f81;


$background-reverse:$primary-color; // Remplacer par top
$background-reverse-light:$primary-color-light; // remplacer par bottom

// ---- Text -----
$default-color:#272727;
$default-color-button:#666666;
$default-color-light:#BCBCBC;

// ---- Borders ----
$border:#d7d7d7;
$border-reverse:$primary-color-dark;

// ---- Infos -----
$danger-color:#e51c23;
$success-color:#4caf50;
$warning-color:#ff9800;

// --- Inputs -----
$input-height:38px;
$input-big-height:48px;
$box-size:18px;

// --- Lists -----
$positions: bottom top left right;
$buttons-types : (
	(default, $default-color-button),
	(primary, $primary-color),
	(info, $secondary-color),
	(success, $success-color),
	(warning, $warning-color),
	(danger, $danger-color)
);
$sizes : (
	(small, 48px, 0px, 21px),
	(medium, 64px, 8px, 26px),
	(big, 96px, 16px, 32px)
);
$backgrounds-levels : (
	(bottom, $background-default, lighten($primary-color-light, 10%)),
	(middle, $background-default-secondary, lighten($primary-color, 6%)),
	(top, $background-white, $primary-color)
);
$illustration-colors : (
	('white-orange', lighten(#FF9369, 10%)),
	('light-orange', lighten(#FF9369, 6%)),
	('orange', #FF9369),
	('dark-orange', darken(#FF9369, 10%)),
	('black-orange', darken(#FF9369, 20%)),

	('white-orangine', lighten(#FFB93C, 10%)),
	('light-orangine', lighten(#FFB93C, 6%)),
	('orangine', #FFB93C),
	('dark-orangine', darken(#FFB93C, 10%)),
	('black-orangine', darken(#FFB93C, 20%)),

	('white-greenyellow', lighten(#AAFF5F, 10%)),
	('light-greenyellow', lighten(#AAFF5F, 6%)),
	('greenyellow', #AAFF5F),
	('dark-greenyellow', darken(#AAFF5F, 10%)),
	('black-greenyellow', darken(#AAFF5F, 20%)),

	('white-bluepurple', lighten(#ADA8FF, 10%)),
	('light-bluepurple', lighten(#ADA8FF, 6%)),
	('bluepurple', #ADA8FF),
	('dark-bluepurple', darken(#ADA8FF, 10%)),
	('black-bluepurple', darken(#ADA8FF, 20%)),

	('white-wine', lighten(#B0747A, 10%)),
	('light-wine', lighten(#B0747A, 6%)),
	('wine', #B0747A),
	('dark-wine', darken(#B0747A, 10%)),
	('black-wine', darken(#B0747A, 20%)),

	('white-ocean', lighten(#90ACFF, 10%)),
	('light-ocean', lighten(#90ACFF, 6%)),
	('ocean', #90ACFF),
	('dark-ocean', darken(#90ACFF, 10%)),
	('black-ocean', darken(#90ACFF, 20%)),

	('white-greenblue', lighten(#6BB28A, 10%)),
	('light-greenblue', lighten(#6BB28A, 6%)),
	('greenblue', #6BB28A),
	('dark-greenblue', darken(#6BB28A, 10%)),
	('black-greenblue', darken(#6BB28A, 20%)),

	('white-blue', lighten(#A2E0F2, 10%)),
	('light-blue', lighten(#A2E0F2, 6%)),
	('blue', #A2E0F2),
	('dark-blue', darken(#A2E0F2, 10%)),
	('black-blue', darken(#A2E0F2, 20%)),

	('white-brown', lighten(#B2957C, 10%)),
	('light-brown', lighten(#B2957C, 6%)),
	('brown', #B2957C),
	('dark-brown', darken(#B2957C, 10%)),
	('black-brown', darken(#B2957C, 20%)),

	('white-red', lighten(#FF5E5E, 10%)),
	('light-red', lighten(#FF5E5E, 6%)),
	('red', #FF5E5E),
	('dark-red', darken(#FF5E5E, 10%)),
	('black-red', darken(#FF5E5E, 20%)),

	('white-yellow', lighten(#EDE466, 10%)),
	('light-yellow', lighten(#EDE466, 6%)),
	('yellow', #EDE466),
	('dark-yellow', darken(#EDE466, 10%)),
	('black-yellow', darken(#EDE466, 20%)),

	('white-purple', lighten(#DFB2FF, 10%)),
	('light-purple', lighten(#DFB2FF, 6%)),
	('purple', #DFB2FF),
	('dark-purple', darken(#DFB2FF, 10%)),
	('black-purple', darken(#DFB2FF, 20%)),

	('white-pink', lighten(#FF96D2, 10%)),
	('light-pink', lighten(#FF96D2, 6%)),
	('pink', #FF96D2),
	('dark-pink', darken(#FF96D2, 10%)),
	('black-pink', darken(#FF96D2, 20%)),

	('white-green', lighten(#BEED79, 10%)),
	('light-green', lighten(#BEED79, 6%)),
	('green', #BEED79),
	('dark-green', darken(#BEED79, 10%)),
	('black-green', darken(#BEED79, 20%)),

	('white-grey', lighten(#AEAAB2, 10%)),
	('light-grey', lighten(#AEAAB2, 6%)),
	('grey', #AEAAB2),
	('dark-grey', darken(#AEAAB2, 10%)),
	('black-grey', darken(#AEAAB2, 20%))
);

$player-color:#fb8160;
$trainer-color:#b4d66b;
$scenarist-color:#68caf6;
$modeler-color: palevioletred;
$admin-color:#B39DDB;

// Card settings
$card-size: 80px;
$card-text-size : 13px;
$card-base-padding: 4px;
