/****** STORY EDITOR BACKGROUND *********/
div.alba-map-background {
    background: transparent url(./src/alba-laddergame/assets/snake-ladder.jpg) no-repeat;
    float:left;
    width:1600px;
    height:1500px;
}