<h3>{{'ADMIN-USERS-TITLE' | translate}}</h3>
<div class="view__tools">
    <div class="tool tool--search tool--open">
        <a class="tool__link"></a>
        <input class="tool__input"
               ng-model="adminUsersCtrl.search"
               type="text"
        />
    </div>
</div>
<div ng-if="!adminUsersCtrl.loading"
     class="view__list" style="height:calc(100% - 80px);" repeat-auto-load >
    <div class="card card--player-session"
         ng-repeat="user in adminUsersCtrl.users | filter: adminUsersCtrl.search | limitTo: adminUsersCtrl.maxUsersDisplayed"
         user="user">
        <div class="card__illustration illustration illustration--icon" illustration="ICON_grey_user_wif"></div>
        <div class="card__description card__description--two-lines">
            <div class="line line--primary">
                {{ user.account.lastname + ' ' + user.account.firstname  }} <span ng-if="user.account.username">({{user.account.username}})</span>
            </div>
            <div class="line line--secondary">
                {{ user.account.email }} -- {{user.id}}
            </div>
        </div>
        <div class="card__actions">
            <a class="button button--small button--round button--default-reverse button--label-off button--customize"
               title="{{'ADMIN-USERS-CARD-EDIT-BTN' | translate}}"
               ui-sref="wegas.private.admin.users.edit({id: user.id})">
                <span class="button__label">{{'ADMIN-USERS-CARD-EDIT-BTN' | translate}}</span>
            </a>
            <a class="button button--small button--round button--default-reverse button--label-off button--play"
               title="Be!"
               ng-click="adminUsersCtrl.be(user)">
                <span class="button__label">{{'ADMIN-USERS-CARD-EDIT-BTN' | translate}}</span>
            </a>
            <a class="button button--small button--round button--default-reverse button--label-off button--trash"
               title="{{'ADMIN-USERS-CARD-DELETE-BTN' | translate}}"
               confirmed-click="adminUsersCtrl.deleteUser(user.id)"
               ng-confirm-click="{{'ADMIN-USERS-CARD-DELETE-CONFIRM' | translate}}">
                <span class="button__label">{{'ADMIN-USERS-CARD-DELETE-BTN' | translate}}</span>
            </a>
        </div>
    </div>
</div>
<div ng-if="adminUsersCtrl.loading"
     class="view__list view__list--loading"
     content-loading="{{'ADMIN-USERS-LOADING' | translate}}">
</div>
