<h3>{{'ADMIN-USERS-TITLE' | translate}}</h3>
<div id="searchField" class="view__tools">
    <div class="tool tool--search tool--open">
        <a class="tool__link"></a>
        <input
            class="tool__input"
            ng-model="search"
               type="text"
            ng-change="adminUsersCtrl.filterUsers(search);"
            ng-init="adminUsersCtrl.filterUsers(search);"
        />
    </div>
</div>
<div ng-if="!adminUsersCtrl.loading"
     class="view__list" style="height:calc(100% - 80px); overflow-y: scroll;"
     repeat-auto-load>
    <div ng-if="!(adminUsersCtrl.search.length != 0 && group.users.length == 0)"
         class="card--group--expandable"
         ng-repeat="group in adminUsersCtrl.groups"
         group="group">
        <div class="card card--group-mini">
        <div class="card__illustration illustration illustration--icon"
             illustration="ICON_grey_group_wif"
             ng-click="adminUsersCtrl.toggleExpansion(group)"></div>
        <div class="card__description">
            <div class="line line--primary">{{group.name}} ({{adminUsersCtrl.groupTransient[group.id].realSize}})</div>
        </div>
        <div class="card__actions">
            <a class="button button--small button--round button--default-reverse button--label-off button--mail"
               title="{{'ADMIN-GROUPS-CARD-EMAILS-BTN' | translate}}"
               ng-click="adminUsersCtrl.displayGroupEmails(group)">
                <span class="button__label">{{'ADMIN-GROUPS-CARD-EMAILS-BTN' | translate}}</span>
            </a>
            <a class="button button--small button--round button--default-reverse button--label-off button--team"
               style="padding-right: 30px;"
               title="{{'ADMIN-GROUPS-CARD-TOGGLE-MEMBERS-BTN' | translate}}"
               ng-click="adminUsersCtrl.toggleExpansion(group)">
                <span style="padding-left: 12px;"><i class="fa fa-lg" ng-class="group.isExpanded ? 'fa-angle-up' : 'fa-angle-down'" style="color: #666666;"></i></span>
                <span class="button__label">{{'ADMIN-GROUPS-CARD-TOGGLE-MEMBERS-BTN' | translate}}</span>
            </a>
        </div>
        </div>


        <div ng-if="adminUsersCtrl.groupTransient[group.id].isExpanded"
             class="card--group-users-list">
        <div class="card card--player-mini"
             ng-repeat="user in group.users"
         user="user">
            <div ng-if="!user.isVerified" class="card__illustration illustration illustration--icon" illustration="ICON_grey_user_wif" title="✘ Unverified identity"></div>
            <div ng-if="user.isVerified"  class="card__illustration illustration illustration--icon" illustration="ICON_grey_id-card-o_fa" title="✔ verified identity"></div>
        <div class="card__description">
            <div class="line line--primary">
                    {{ user.account.name }} <span ng-if="user.account.username">({{user.account.username}})</span>
            </div>
            <div class="line line--secondary">
                {{ user.account.email }} -- {{user.id}}
            </div>
        </div>
        <div class="card__actions">
            <a class="button button--small button--round button--default-reverse button--label-off button--customize"
               title="{{'ADMIN-USERS-CARD-EDIT-BTN' | translate}}"
               ui-sref="wegas.private.admin.users.edit({id: user.id})">
                <span class="button__label">{{'ADMIN-USERS-CARD-EDIT-BTN' | translate}}</span>
            </a>
            <a class="button button--small button--round button--default-reverse button--label-off button--play"
               title="Be!"
               ng-click="adminUsersCtrl.be(user)">
                <span class="button__label">{{'ADMIN-USERS-CARD-EDIT-BTN' | translate}}</span>
            </a>
            <a class="button button--small button--round button--default-reverse button--label-off button--trash"
               title="{{'ADMIN-USERS-CARD-DELETE-BTN' | translate}}"
               confirmed-click="adminUsersCtrl.deleteUser(user.id)"
               ng-confirm-click="{{'ADMIN-USERS-CARD-DELETE-CONFIRM' | translate}}">
                <span class="button__label">{{'ADMIN-USERS-CARD-DELETE-BTN' | translate}}</span>
            </a>
        </div>
    </div>
    </div>
    </div>
</div>
<div ng-if="adminUsersCtrl.loading"
     class="view__list view__list--loading"
     content-loading="{{'ADMIN-USERS-LOADING' | translate}}">
</div>
