<div class="modal__header">
	<div class="modal__illustration illustration illustration--medium illustration--icon" illustration="{{playerSessionJoinCtrl.sessionToJoin.properties.iconUri}}"></div>
	<h5 class="modal__title">{{playerSessionJoinCtrl.sessionToJoin.name}}</h5>
	<a class="modal__close button button--medium button--label-off button--default-reverse button--close" ng-click="close()">
   		<span class="button__label">{{'MODALE-CLOSE' | translate}}</span>
	</a>
</div>
<div
	class="modal__content modal__content--nav-off"
	ng-class="{true: 'modal__content--nav-off', false: 'modal__content--nav-tools-off'}[playerSessionJoinCtrl.newTeam]"
	teams="playerSessionJoinCtrl.sessionToJoin.teams"
	join-team="playerSessionJoinCtrl.joinTeam"
	new-team="playerSessionJoinCtrl.newTeam"
	player-session-teams-list >
</div>
<div
	ng-if="playerSessionJoinCtrl.newTeam"
	class="modal__tools"
	new-team="playerSessionJoinCtrl.newTeam"
	create-team="playerSessionJoinCtrl.createTeam()"
	check-name-usability="playerSessionJoinCtrl.checkNameUsability()"
    check-size="playerSessionJoinCtrl.checkSize()"
    player-session-add-team>
</div>
