/*********************** TABVIEW STYLES ************************************/
.yui3-skin-sam .yui3-tabview-panel {
    border: none;
    background: none;
}
.yui3-skin-sam .yui3-datatable caption {
    padding: 0;
}

