<div class="view view--new-session view--bottom"
	 scenarios="scenariosIndexCtrl.scenarios"
	 create="scenariosIndexCtrl.createScenario"
	 scenarist-scenario-create
>
</div>
<div class="view view--sessions-list view--middle">
	<h3>Current scenarios</h3>
	<div class="view__tools">
		<div class="tool tool--search tool--open">
			<a class="tool__link"></a>
			<input 
				class="tool__input" 
				ng-model="scenariosIndexCtrl.search" 
				type="text" 
			/>
		</div>
	</div>
	<div 
		ng-if="scenariosIndexCtrl.scenarios.length"
		ng-class="{true:'view__list--with-archive', false:''}[scenariosIndexCtrl.archives.length > 0]"
		class="view__list" 
		scenarios="scenariosIndexCtrl.scenarios"
		archive="scenariosIndexCtrl.archiveScenario"
		maximum="scenariosIndexCtrl.maxScenariosDisplayed"
		search="scenariosIndexCtrl.search"
		scenarist-scenarios-list 
		repeat-auto-load
		>
	</div>
	<div ng-if="scenariosIndexCtrl.archives.length" class="view__archives">
		<a class="button button--small button--default button--archive" ui-sref="wegas.private.scenarist.scenarios.archives">
			<span class="button__label">{{scenariosIndexCtrl.archives.length}} archives</span>
		</a>
	</div>

</div>