/****************************BASE STYLES ***********************************/
ul {
	list-style-type: none;
	margin: 0;
}
ul li {
	list-style:none;
}

/****************************BASE STYLES ***********************************/
.yui3-alba-listwidget-content {
	vertical-align:top;
	/** FIXME ONLY TEMPORARY */
}
.yui3-alba-listwidget-horizontal  > li {
	display:block;
	float:left;
	vertical-align:top;
}
.yui3-alba-listwidget-vertical  > li {
}


/****************************LAYOUT STYLES ***********************************/
/* Turn off the border on the top unit since Menu has it's own border */
.yui-skin-sam .yui-layout .yui-layout-unit-top div.yui-layout-bd {
	border: none;
}
/* Change some of the Menu colors */
.yui-skin-sam .yuimenu .bd {
	background-color: #F2F2F2;
}
/* Hide center panel hd background */
.yui-skin-sam .yui-layout .yui-layout-hd {
	background: none;
	border: none;
}
.yui-skin-sam .yui-layout .yui-layout-unit div.yui-layout-hd h2 {
	/*display:none;*/
}

.yui-skin-sam .yui-layout .yui-layout-unit-center div.yui-layout-bd-nohd {
	/*border-top: none;*/
}
.yui-skin-sam .yui-layout .yui-layout-unit-top div.yui-layout-bd-nohd {
	border:none;
}
.yui-skin-sam .yui-resize .yui-resize-handle {
	border: 1px solid gray;
	border-left: none;
	border-right: none;
}
.yui-layout .yui-layout-scroll div.yui-layout-bd {
	overflow: hidden;
}
.yui-layout-unit-center  .yui-layout-bd  > div {
	padding: 2px 0 2px 0;
}
.yui-layout-unit-left  .yui-layout-bd  > div {
	padding: 2px 5px 2px 2px;
}
.yui-layout-unit-right  .yui-layout-bd  > div {
	padding: 2px 2px 2px 5px;
}
.yui-skin-sam .yui-layout .yui-layout-unit div.yui-layout-bd {
	border:	none;
}
/****************************LAYOUT'S TABVIEW STYLE **********************************/
.yui3-skin-sam .yui3-tabview-panel {
	background: white;
	padding: 0;
}
/****************************TOP MENUBAR STYLES ***********************************/
.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel {
	padding-right: 10px;
}
.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel-hassubmenu {
	padding-right: 20px;
}

/****************************EXPLORER TOOLBAR STYLES ***********************************/
.yui-toolbar-container .yui-button {
	overflow: visible;
}

.yui-skin-sam .yui-toolbar-container .yui-button-selected {
	background-repeat: repeat-x;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-group h3 {
	display:none;
}
.yui-skin-sam .yui3-alba-editortabtoolbar {
	border:none;
	border-bottom: 1px solid gray;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-subcont {
	border: none;
	padding: 2px 4px;
}
.yui-toolbar-container .yui-toolbar-group {
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-new span.yui-toolbar-icon {
	background: url(albasim-map-sprite.png) no-repeat 0px 0px;
	left:5px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-play span.yui-toolbar-icon {
	background: url(albasim-map-sprite.png) no-repeat 0px -192px;
	left:5px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-stop span.yui-toolbar-icon {
	background: url(albasim-map-sprite.png) no-repeat 0px -172px;
	left:5px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-zoomin span.yui-toolbar-icon {
	background: url(albasim-map-sprite.png) no-repeat 0px -124px;
	left:5px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-zoomout span.yui-toolbar-icon {
	background: url(albasim-map-sprite.png) no-repeat 0px -152px;
	left:5px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-selecttool span.yui-toolbar-icon {
	background: url(albasim-map-sprite.png) no-repeat 0px -244px;
	left:5px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-movetool span.yui-toolbar-icon {
	background: url(albasim-map-sprite.png) no-repeat 0px -214px;
	left:5px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-cut span.yui-toolbar-icon {
	background: url(albasim-map-sprite.png) no-repeat 0px -42px;
	left:5px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-copy span.yui-toolbar-icon {
	background: url(albasim-map-sprite.png) no-repeat 0px -68px;
	left:5px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-paste span.yui-toolbar-icon {
	background: url(albasim-map-sprite.png) no-repeat 0px -271px;
	left:5px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-view {
	width: 50px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-filters {
	width: 60px;
}
/****************************FORMS ****************************************/
input[type="text"], input[type="password"], textarea,select  {
	width: 100%;
}
input[type="submit"] {
	padding: 2px 5px;
}
div.inputEx-fieldWrapper {
	padding-left: 75px;
	padding-right: 10px;
}
div.inputEx-Group div.inputEx-label {
	width: 70px;
	margin-left: -75px;
	padding:0;
}
div.inputEx-Field {
	width:100%;
}
div.inputEx-Form-buttonBar {
	margin: 3px 0 0 80px;
}
.inputEx-Button {
	margin: 0 4px 0 0;
	padding: 2px;
}
.alba-pm-body div.inputEx-fieldWrapper {
	padding:0;
}
.alba-pm-body div.inputEx-fieldWrapper div.inputEx-fieldWrapper{
	width:75%;
}
.alba-pm-body  div.inputEx-Field {
	padding: 0;
}
.yui3-alba-formtitle {
	color: #2647A0;
	padding: 7px 0px 2px 10px;
	font-size: 12pt;
	font-weight: bold;
	background-color: #F2F2F2;
	border-bottom: 1px solid gray;
}
.yui3-alba-formmsg {
	padding: 10px;
	margin: 10px;
	display: none;
}
.yui3-alba-formmsg  .yui3-alba-formmsg-icon {
	width: 55px;
	height: 50px;
	display: inline-block;
}
.yui3-alba-formmsg  .yui3-alba-formmsg-content {
	vertical-align: top;
	margin-top: 15px;
	display: inline-block;
}
.yui3-alba-formmsg-success {
	border: 1px solid green;
	background: lightGreen;
}
.yui3-alba-formmsg-success .yui3-alba-formmsg-icon {
	background: url(alba-icon-success-48.png) no-repeat;
}
.yui3-alba-formmsg-error {
	border: 1px solid red;
	background: lightCoral;
}
.yui3-alba-formmsg-error .yui3-alba-formmsg-icon {
	background: url(alba-icon-error-48.png) no-repeat;
}
/****************************MAP STYLES ***********************************/
.albasim-map {
	/*width: 100%;
	height: 100%;	*/
}

div.WireIt-Container div.body {
	padding: 0;
	border: none;
	background:none;
}

div.WireIt-Container div.body  div.albasim-map-state {
	background-color: lightgray;
	cursor: move;
	border:1px solid gray;
	padding: 3px 5px;
}

div.WireIt-Container div.body  div.albasim-map-state .alba-map-activity {
	width: 15px;
	height:15px;
	margin:3px;
	background: transparent url(nolight.png);
}
div.WireIt-Container div.body  div.albasim-map-state .alba-map-activity-on {
	background: transparent url(greenlight.png);
}
div.WireIt-Container  div.body div.albasim-map-transition {
	width: 30px;
	height: 30px;
	background-color: AliceBlue ;
	cursor: move;
	position: absolute;
	border:1px solid gray;
	overflow: hidden;
}
div.WireIt-Container div.body  div.albasim-map-over {
	background-color: lightblue;
}

canvas.WireIt-Wire {
	/*z-index: 1000;*/
}
div.WireIt-Wire-Label {
	background: lightYellow;
	padding: 2px;
	border: 1px solid gray;
	font-size: 8pt;
	cursor:pointer;
	z-index: 999;
	width: 75px;
}
div.WireIt-Container div.body  div.albasim-map-over,
div.albasim-map-over {
	background-color: lightblue;
}

div.WireIt-Container  div.body   div.albasim-map-selected, 
div.albasim-map-selected {
	background-color: CornflowerBlue;
}

canvas.WireIt-LayerMap {
	position: relative;
	border: 1px solid gray;
	background: white;
}

/************************************************ Datatable game ***********************************************/
table.ygtvtable {
	width: 100%;
}