
<form class="view__login-form form" ng-submit="usersSignupCtrl.signup()">
  <div class="form__row">
      <input class="form__row__entry input input--small input--primary" ng-model="formInfo.email" type="text" id="login" placeholder="email" autocomplete="off">
  </div>
  <div class="form__row">
      <input class="form__row__entry input input--small input--primary" ng-model="formInfo.p1"type="password" id="password1" placeholder="password" autocomplete="off">
  </div>
    <div class="form__row">
      <input class="form__row__entry input input--small input--primary" ng-model="formInfo.p2" type="password" id="password2" placeholder="Please retype your password" autocomplete="off">
  </div>
  <div class="form__row form__row--right">
      <input class="form__row__btn button button--default" type="submit" value="Sign up" />
  </div>
</form>