/**
 * @author Francois-Xavier Aeberhard <fx@red-agent.com>
*/

/* Layout styles */
.yui-skin-sam .yui-layout .yui-layout-unit div.yui-layout-bd,
.yui-skin-sam .yui-layout .yui-layout-unit div.yui-layout-bd {
    background-color: white;
}
.yui-skin-sam .yui-layout .yui-layout-unit div.yui-layout-bd-nohd {
    border:none;
}

/* InputEx Styles */
div.inputEx-Field input, div.inputEx-Field textarea, div.inputEx-Field select {
    border: 1px solid lightgray;
}
.inputEx-Group div.inputEx-Field > div > input[type=text] {
    width: 100%;
}
.inputEx-Group div.inputEx-Field select {
    margin: 0;
}
.inputEx-Group div.inputEx-Field textarea {
    width:100%;
}
.inputEx-Group .inputEx-fieldWrapper {
    padding-left:135px;
    position: relative;
}
.inputEx-Group div.inputEx-fieldWrapper > div.inputEx-label {
    padding:.2em 5px 0 0;
    margin-left:-135px;
}
.inputEx-Group div.inputEx-fieldWrapper > div.inputEx-label:first-letter {
    text-transform: uppercase;
}
.inputEx-Group div.inputEx-fieldWrapper > div.inputEx-Field {
    width:99.8%;
}

.inputEx-Group  div.inputEx-ListField div.inputEx-fieldWrapper {
    padding-left:55px;
    position: relative;
}
.inputEx-Group div.inputEx-ListField div.inputEx-fieldWrapper > div.inputEx-label {
    padding:.2em 5px 0 0;
    margin-left:-55px;
}

.inputEx-Group div.inputEx-fieldWrapper div.inputEx-fieldWrapper > div.inputEx-label {
    margin-left:-70px;
    width:65px;
}
/*div.inputEx-valid > div.inputEx-message {
}*/
div.inputEx-message {
    margin: 0;
}

.inputEx-Button {
    padding: 3px 5px;
}
.inputEx-CombineField > .inputEx-Group {
    float:none !important;
    clear:both !important;
}
.inputEx-CombineField > div.inputEx-label {
    width: 127px;
}
/*.inputEx-CombineField > .inputEx-fieldWrapper {
    padding:0;
}*/
/* Inputex List styles */
div.inputEx-ListField {
    position: relative;
    padding-bottom: 20px;
}
div.inputEx-ListField > span {
    display:none;
}
div.inputEx-ListField-subFieldEl {
    margin-left: 0;
    width: 100%;
}
.inputEx-ListField-childContainer > div {
    position:relative;
    /*   margin-left:16px;
       border-top: 1px solid lightgray;
       padding-top: 5px;*/
}
a.inputEx-List-link {
    position: absolute;
    right: 10px;
    top: 0px;
}
/* The "add"" button */
div.inputEx-ListField >  a.inputEx-List-link {
    bottom:3px;
    top: auto;
}
img.inputEx-ListField-delButton {
    margin-left:-16px;
}
/* Tabs styles */
/* @FIXME This rule is way to broad, and should only apply to direct children of the layout widget */
.yui3-skin-sam .wegas-layout .yui3-tabview,
.yui3-skin-sam .wegas-layout .yui3-tabview > .yui3-tabview-content ,
.yui3-skin-sam .wegas-layout .yui3-tabview > .yui3-tabview-content > .yui3-tabview-panel{
    height:inherit;
}
.yui3-skin-sam .yui3-tabview-panel {
    padding:0px;
}
.yui3-skin-sam .yui3-tabview-panel  > .yui3-tab-panel > .yui3-tab-panel-content {
    position: absolute;
    bottom: 0px;
    overflow: auto;
    padding:0;
    left:0px;
    right:0px;
    top: 57px;
}


/** Toolbar styles **/
.wegas-tab-toolbar {
    vertical-align: top;
    border: none;
    min-height: 26px;
    padding: 2px 0;
    border-bottom: 1px solid lightgray;
    position: absolute;
    width: 100%;
    z-index: 20;
    box-shadow: 0px 2px 5px grey;
}
.yui-layout-unit-right .wegas-tab-toolbar {
    padding-left:6px;
}
.wegas-tab-toolbar-header{
    vertical-align: top;
    border: none;
    min-height: 26px;
}
.wegas-tab-toolbar-panel {
    overflow: hidden;
    max-height: 0px;
    background-color: white;
    -webkit-transition-property: max-height;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 0.3s;
    -moz-transition-property: max-height;
    -moz-transition-duration: 0.5s;
    -moz-transition-timing-function: linear;
    -moz-transition-delay: 0.3s;
    -ms-transition-property: max-height;
    -ms-transition-duration: 0.5s;
    -ms-transition-timing-function: linear;
    -ms-transition-delay: 0.3s;
    -o-transition-property: max-height;
    -o-transition-duration: 0.5s;
    -o-transition-timing-function: linear;
    -o-transition-delay: 0.3s;
    transition-property: max-height;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: 0.3s;
}
.wegas-tab-toolbar:hover > .wegas-tab-toolbar-panel{
    max-height: 200px;
    overflow-y: auto;
}
.wegas-tab-toolbar .yui3-button {
    vertical-align: top;
    margin: 0;
    padding: 0.1em 0.4em .1em;
    margin-left: 0.3em;
    min-height: 24px;
    background-color:white;
}
.wegas-tab-toolbar .yui3-button > *{
    vertical-align: top;
}
.yui3-skin-sam .wegas-tab-toolbar .yui3-button .wegas-icon {
    margin: -2px 2px 0 0;
}
.wegas-tab-toolbar .wegas-selectbutton {
    display:inline-block;
}
.wegas-tab-toolbar .inputEx-fieldWrapper {
    margin:0;
    padding-left: 4px;
    display:inline-block;
}
.wegas-tab-toolbar select {
    margin: 1px 0;
    height: 22px;
}
/*.yui-skin-sam .yui-toolbar-container .yui-toolbar-selectplayer .first-child a:before {
    content: 'Current user: ';
}*/
.wegas-tab-toolbar div.inputEx-label {
    padding: 4px 1px 0 0;
}
/* Wegas small icons */
.yui3-skin-sam .wegas-icon {
    display: inline-block;
    height: 18px;
    width: 18px;
    overflow: hidden;
    background: url(../images/wegas-editor-sprite.png) no-repeat 0px 0px;
}

.yui3-skin-sam .wegas-icon-reset {
    background: url(../images/wegas-editor-sprite.png) no-repeat 0px -300px;
}
.yui3-skin-sam .wegas-icon-new {
    background: url(../images/wegas-editor-sprite.png) no-repeat 0px 0px;
}
.yui3-skin-sam .wegas-icon-play {
    background: url(../images/wegas-editor-sprite.png) no-repeat 0px -192px;
}
.yui3-skin-sam .wegas-icon-stop {
    background: url(../images/wegas-editor-sprite.png) no-repeat 0px -172px;
}
.yui3-skin-sam .wegas-icon-zoomin {
    background: url(../images/wegas-editor-sprite.png) no-repeat 0px -124px;
}
.yui3-skin-sam .wegas-icon-zoomout {
    background: url(../images/wegas-editor-sprite.png) no-repeat 0px -152px;
}
.yui3-skin-sam .wegas-icon-select{
    background: url(../images/wegas-editor-sprite.png) no-repeat 0px -244px;
}
.yui3-skin-sam .wegas-icon-move {
    background: url(../images/wegas-editor-sprite.png) no-repeat 0px -214px;
}
.yui3-skin-sam .wegas-icon-cut {
    background: url(../images/wegas-editor-sprite.png) no-repeat 0px -42px;
}
.yui3-skin-sam .wegas-icon-copy {
    background: url(../images/wegas-editor-sprite.png) no-repeat 0px -68px;
}
.yui3-skin-sam .wegas-icon-paste {
    background: url(../images/wegas-editor-sprite.png) no-repeat 0px -271px;
}
.yui3-skin-sam .wegas-icon-save {
    background: url(../images/wegas-editor-sprite.png) no-repeat 0px -654px;
}
.yui3-skin-sam .wegas-icon-delete {
    background: url(../images/wegas-editor-sprite.png) no-repeat 0px -771px;
}
.yui3-skin-sam .wegas-icon-preview {
    background: url(../images/wegas-editor-sprite.png) no-repeat 0px -741px;
}
.yui3-skin-sam .wegas-icon-cancel {
    background: url(../images/wegas-editor-sprite.png) no-repeat 0px -834px;
}
.yui3-skin-sam .wegas-icon-fileexplorer {
    background: url(../images/wegas-editor-sprite.png) no-repeat 0px -870px;
}

/* Console style */
.yui3-console-hd {
    display:none;
}
.yui3-skin-sam .yui3-console-ft, .yui3-skin-sam .yui3-console-content,
.yui3-skin-sam .yui3-console-ft .yui3-console-filters-sources,
.yui3-skin-sam .yui3-console-ft .yui3-console-filters-categories{
    background: transparent;
    border: none;
}
.yui3-skin-sam .yui3-console-ft .yui3-console-filters-sources,
.yui3-skin-sam .yui3-console-ft .yui3-console-filters-categories {
    /*padding:0;*/
    margin:0;
    border-top: 1px solid #777;
}
.yui3-skin-sam .yui3-console-bd {
    border-top: none;
    height:auto !important;
    position: absolute;
    bottom: 90px;
    left: 0;
    right: 0;
    top:1px;
}
.yui3-skin-sam .yui3-console-ft {
    height:auto !important;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
}
/* Console Styles */
.wegas-console div.inputEx-Field {
    float:none;
}
.wegas-console .results {
    overflow: auto;
    position: absolute;
    top: 155px;
    bottom: 0;
    left: 0;
    right: 0;
}

.wegas-console .results .result {
    padding:2px 10px;
    font-size:11px;
}
/* CSSEditor Styles */
.wegas-csseditor div.inputEx-Field {
    float:none;
}
.wegas-csseditor,
.wegas-csseditor .wegas-csseditor-content,
.wegas-csseditor .inputEx-Field,
.wegas-csseditor .inputEx-fieldWrapper {
    height: 100%;
}

/* Chat styles */
.wegas-chat  div.inputEx-fieldWrapper {
    padding:0;
}
.wegas-chat div.inputEx-Field {
    float:none;
}
.wegas-chat  div.inputEx-Field textarea {
    width:98%;
    padding: 1% 1%;
    border: none;
    border-bottom:1px solid lightgray;
}
.wegas-chat div.inputEx-Form-buttonBar {
    margin: 0;
    float: right;
}
.wegas-chat-msgs {
    margin-top: 5px;
    border-top: 1px solid lightgray;
    padding:5px;
}
.wegas-chat-msg {
    padding-bottom:2px;
}

/* Scriptlibrary Styles */
.wegas-scriptlibrary div.inputEx-Field {
    float:none;
}
.wegas-scriptlibrary,
.wegas-scriptlibrary .wegas-scriptlibrary-content,
.wegas-scriptlibrary .inputEx-Field,
.wegas-scriptlibrary .inputEx-fieldWrapper {
    height: 100%;
}

/* YUI 2 RTE Styles */
.yui-skin-sam .yui-editor-container {
    border: 1px solid lightgray;
}
.yui-skin-sam .yui-toolbar-container {
    background-color: transparent;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-titlebar {
    display: none;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-subcont {
    padding: .3em .3em 0;
    border-bottom: 1px solid lightgray;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-group {
    margin-bottom: .3em;
}
.yui-skin-sam .yui-editor-panel .hd span.close {
    top: 4px;
}

/* Add file/image panel styles */
.yui-skin-sam .yui-editor-panel button {
    padding: 4px 4px 0;
    margin: -2px 0px 0 4px;
}
.yui-skin-sam .yui-editor-panel .hd h3 {
    color: black;
    border: 1px solid lightgray;
    background: white;
}
.yui-skin-sam .yui-editor-panel .bd {
    background-color: white;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}
.yui-skin-sam .yui-editor-panel .ft {
    border: 1px solid lightgray;
}
/* Code source plugin */
.yui-skin-sam .yui-toolbar-container .yui-toolbar-editcode span.yui-toolbar-icon,
.yui-skin-sam .yui-toolbar-container .yui-button-editcode-selected span.yui-toolbar-icon {
    background: transparent url(../images/wegas-editor-sprite.png) 2px -805px no-repeat;
    left: 5px;
}
.yui-skin-sam .yui-editor-container textarea {
    border:none;
}
.yui-skin-sam .yui-editor-container .editor-hidden {
    visibility: hidden;
    top: -9999px;
    left: -9999px;
    position: absolute !important;
}
/* Editor treeview styles */
.yui3-treenode-content-header, .yui3-treeleaf-content-header {
    cursor:pointer;
}
.yui3-treeview .wegas-treeview-editmenubutton {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: transparent url(../images/wegas-editor-sprite.png) 2px -332px no-repeat;
    margin: 3px 5px;
    display: inline-block;
}

/* Treeview icons */
.wegas-icon-game,
.wegas-icon-gamemodel,
.wegas-icon-team,
.wegas-icon-player,
.wegas-icon-variabledescriptor {
    position: relative;
    top: 4px;
}
.yui3-skin-sam .wegas-icon-gamemodel {
    background: transparent url(../images/wegas-editor-sprite.png) 0 -517px no-repeat;
}
.yui3-skin-sam .wegas-icon-game {
    background: transparent url(../images/wegas-editor-sprite.png) 0 -517px no-repeat;
}
.yui3-skin-sam .wegas-icon-team {
    background: transparent url(../images/wegas-editor-sprite.png) 0 -624px no-repeat;
}
.yui3-skin-sam .wegas-icon-player {
    background: transparent url(../images/wegas-editor-sprite.png) 0 -593px no-repeat;
}
.wegas-icon-variabledescriptor {
    background: transparent url(../images/wegas-editor-sprite.png) 0 -978px no-repeat;
}

/* Edit Menu Styles */
.wegas-editor-menu {
    position:absolute;
}
.wegas-editor-menu-hidden {
    display: none;
}
.ygtvcell > div.wegas-editor-menu{
    display:none;
}
.ygtvcell:hover > div.wegas-editor-menu{
    display:block;
}
/* Top Menu bar */

.yui-skin-sam #topmenubar {
    background: white;
    border: none;
}
.yui-skin-sam #topmenubar .yuimenubaritemlabel {
    color: #6d6d6d;
    border-color: transparent;
    line-height: 1.9em;
    font-weight: bold;
    font-size:11px;
    padding-top: 2px;
}
.yui-skin-sam #topmenubar .yuimenubaritem-selected {
    background: lightgray;
}
.yui-skin-sam .yuimenubarnav .yuimenubaritem {
    border-right: solid 1px transparent;
}

/* System messages */
.wegas-systemmessage {
    padding: 10px;
    margin: 10px;
    display: none;
}
.wegas-systemmessage  .icon {
    width: 55px;
    height: 50px;
    display: inline-block;
}
.wegas-systemmessage  .content {
    vertical-align: top;
    margin-top: 15px;
    display: inline-block;
}
.wegas-systemmessage.success {
    border: 1px solid green;
    background: lightGreen;
    display:block;
}
.wegas-systemmessage.success .icon {
    background: url(../images/wegas-icon-success-48.png) no-repeat;
}
.wegas-systemmessage.error {
    border: 1px solid red;
    background: lightCoral;
    display:block;
}
.wegas-systemmessage.error .icon {
    background: url(../images/wegas-icon-error-48.png) no-repeat;
}
/* Panel Widget Styles */
.yui3-skin-sam .yui3-panel .yui3-widget-hd {
    background: white;
    color: #606060;
    margin-bottom: 0px;
    border-bottom: 1px solid lightgray;
}
.yui3-skin-sam .yui3-panel .yui3-widget-hd .yui3-widget-buttons {
    padding: 8px 8px 0 0;
}
.yui3-skin-sam .yui3-panel .yui3-widget-hd .yui3-button-close {
    background: url(../../lib/yui2in3/build/assets/skins/sam/sprite.png) no-repeat 0 -300px;
    width: 26px;
    height: 15px;
}
.yui3-skin-sam .yui3-panel .yui3-widget-hd .yui3-button-close::before {
    /*    content: url(../../lib/yui2in3/build/assets/skins/sam/sprite.png);*/
    content: "";
    width: 30px;
}

/* Wysiwyg code editor */
.wegas-wysiwygeditor {
    padding:10px;
}
.wegas-wysiwygeditor span {
    display: none;
}
.wegas-wysiwygeditor div.inputEx-fieldWrapper {
    padding:0;
    margin:0;
    vertical-align: top;
}
.wegas-wysiwygeditor div.inputEx-message {
    display:none;
}
.wegas-wysiwygeditor div.inputEx-label {
    display: none;
}
.wegas-field-body .inputEx-Group,
.wegas-field-body .inputEx-fieldWrapper,
.wegas-field-body .wegas-field {
    display:inline-block;
}
.wegas-field-memberexpression .wegas-field-object > fieldset::after {
    content: ".";
    vertical-align: top;
}
.wegas-field-arguments {
    display: inline-block;
}
.wegas-field-arguments::before {
    content: "(";
    vertical-align: top;
}
.wegas-field-arguments::after {
    content: ")";
    vertical-align: top;
}
.wegas-field-arguments .inputEx-ListField-childContainer {
    display:inline-block;
}
.wegas-field-arguments .inputEx-List-link {
    display: none;
}
.wegas-field-arguments .wegas-field-identifier > div::after  {
    content: ",";
    vertical-align: top;
}

