
/* InputEx Styles */
div.inputEx-hidden {
    display: none;
}
div.inputEx-Field input, div.inputEx-Field textarea, div.inputEx-Field select {
    border: 1px solid lightgray;
}
.inputEx-Group div.inputEx-fieldWrapper > div.inputEx-label:first-letter {
    text-transform: uppercase;
}
div.inputEx-message {
    margin: 0;
}
div.inputEx-fieldWrapper {
    margin-bottom: 0.4em;
}


/* Wegas Url Field styles */
.inputEx-wegas-UrlField {
    padding-right:40px;
}
.inputEx-wegas-UrlField button {
    float: right;
    margin-right: -40px;
    padding: 5px 7px 1px;
    vertical-align: top;
    margin-top: -4px;
}

/* Inputex List styles */
div.inputEx-ListField {
    /*    position: relative;*/
    /*    padding-bottom: 20px;*/
}
div.inputEx-ListField > span {
    /*    display:none;*/
}
div.inputEx-ListField-subFieldEl {
    width: 100%;
    margin-left: -135px;
}
.inputEx-ListField-childContainer > div {
    position:relative;
}

/* The "add"" button */
img.inputEx-ListField-delButton {
    margin-left: -20px;
    margin-top: 2px;
    position: absolute; /* to allow click events */
    z-index: 5;
}

/* wegas-inputex-ace styles */
.ace_editor {
    width: 100%;
    height: 150px;
}

/* Wysiwyg code editor */
.inputEx-WysiwigScript .inputEx-fieldWrapper,
.inputEx-WysiwigScript .inputEx-CombineField,
.inputEx-WysiwigScript .inputEx-Group .inputEx-Group,
.inputEx-WysiwigScript div.inputEx-fieldWrapper {
    float: left;
    padding-left:0;
}
.inputEx-WysiwigScript fieldset {
    display: inline-block;
}
.inputEx-WysiwigScript select {
    width:auto;
    max-width: 150px;
}
.inputEx-WysiwigScript div.inputEx-CombineField {
    padding:0;
}
.inputEx-WysiwigScript .inputEx-ListField .yui3-button {
    background: none;
    border: none;
    box-shadow: none;
    margin: -2px 5px 0;
}


/* YUI 2 RTE Styles */
.yui-skin-sam .yui-editor-container {
    border: 1px solid lightgray;
    margin: 0 -2px;
}
.yui-skin-sam .yui-toolbar-container {
    background-color: transparent;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-titlebar {
    display: none;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-subcont {
    padding: .3em .3em 0;
    border-bottom: 1px solid lightgray;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-group {
    margin-bottom: .3em;
}
.yui-skin-sam .yui-editor-panel .hd span.close {
    top: 4px;
}

/* YUI2 RTE: Add file/image panel styles */
.yui-skin-sam .yui-editor-panel .hd h3 {
    color: black;
    border: 1px solid lightgray;
    background: white;
}
.yui-skin-sam .yui-editor-panel .bd {
    background-color: white;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}
.yui-skin-sam .yui-editor-panel label {
    padding:0;
}
.yui-skin-sam .yui-editor-panel .ft {
    border: 1px solid lightgray;
}
.yui-skin-sam .yui-editor-panel .height-width input[type="text"] {
    width: auto;
}
.yui-skin-sam .yui-editor-panel .inputEx-fieldWrapper {
    margin: 0 26px;
    padding-left: 50px;
}
.yui-skin-sam .yui-editor-panel div.inputEx-fieldWrapper div.inputEx-label {
    /*margin: 0;
    width: 20px;*/
    margin-left: -25px;
    width: 16px;
}
.yui-skin-sam .yui-editor-panel .inputEx-wegas-UrlField {
    /*    padding: 0;*/
}
.yui-skin-sam .yui-editor-panel div.inputEx-StringField-wrapper {
    /*    width: 308px;*/
}

/* YUI2 RTE: View source code plugin */
.yui-skin-sam .yui-toolbar-container .yui-toolbar-editcode span.yui-toolbar-icon,
.yui-skin-sam .yui-toolbar-container .yui-button-editcode-selected span.yui-toolbar-icon {
    background: transparent url(../images/wegas-editor-sprite.png) no-repeat 2px -805px;
    left: 5px;
}
.yui-skin-sam .yui-editor-container textarea {
    border:none;
}
.yui-skin-sam .yui-editor-container .editor-hidden {
    visibility: hidden;
    top: -9999px;
    left: -9999px;
    position: absolute !important;
}

/* YUI2 RTE: Insert video plugin styles */
.yui-skin-sam .yui-toolbar-container .yui-toolbar-insertmedia span.yui-toolbar-icon,
.yui-skin-sam .yui-toolbar-container .yui-toolbar-insertmedia-selected span.yui-toolbar-icon {
    background: transparent url(../images/wegas-icon-files.png) 2px -292px no-repeat;
    top: 1px;
    left: 4px;
}
.wegas-rte-videoplugin-body {
    padding: 10px;
}


