<h2>Coscenarists</h2>
<article class="card card--flat card--big card--coscenarist-permission" ng-repeat="permission in permissions track by permission.user.id" permission="permission">
  <div class="card__illustration illustration illustration--big illustration--icon" illustration="ICON_grey_user"></div>
<div class="card__description">
  <h4 class="card__description__titre">{{ permission.user.name }}</h4>
  <p class="card__description__date">{{ permission.user.email }}</p>

</div>
<scenarist-coscenarists-user-permissions class="card__detailled-actions" permission="{{ permission.permission }}"></scenarist-coscenarists-user-permissions>
<div class="card__actions">
  <a class="button button--medium button--round button--default-reverse button--label-off button--trash" title="Archive session" ng-click="removeUser(scenario.id, permission.user.id)">
    <span class="button__label">Remove user</span>
  </a>
</div>
</article>
