<h3>Add new user - <em>{{ scenario.name }}</em></h3>
<form ng-submit="addNewCoscenarist()">
  <div class="form__row">
    <label class="input__label" for="name">Share with</label>
    <input class="input input--small" type="text" id="name" auto-complete ui-items="names" ng-model="username" placeholder="mail or username" autocomplete="off">
  </div>

  <div class="form__row form__row--right">
    <input class="form__row__btn button button--default" type="submit" value="share" />
  </div>

  <div class="form__row" mass-autocomplete>

      <label class="input__label" for="name">Share with</label>
      <input class="input input--small" ng-model="dirty.value" mass-autocomplete-item="autocomplete_options">

  </div>
</form>
