<div class="growable">
    <a class="button button--small button--fork" title="{{'SCENARIST-MODALE-VERSIONS-NEW-TITLE-BTN' | translate}}">
        <span class="button__label" ng-click="addVersion()">{{'SCENARIST-MODALE-VERSIONS-NEW-BTN' | translate}}</span>
    </a>
    <!-- a class="button button--small button--duplicate" title="{{'SCENARIST-MODALE-VERSIONS-DUPLICATE-TITLE-BTN' | translate}}">
        <span class="button__label" ng-click="copyScenario()">{{'SCENARIST-MODALE-VERSIONS-DUPLICATE-BTN' | translate}}</span>
    </a -->
</div>
<div>
    <a class="button button--small button--download" target="_blank" scenarist-history-download-pdf scenario="scenario">{{'SCENARIST-MODALE-VERSIONS-PDF-BTN' | translate}}</a>
    <a class="button button--small button--download" target="_blank" scenarist-history-download-wgz scenario="scenario">{{'SCENARIST-MODALE-VERSIONS-WGZ-BTN' | translate}}</a>
    <a class="button button--small button--download" target="_blank" scenarist-history-download-json scenario="scenario">{{'SCENARIST-MODALE-VERSIONS-JSON-BTN' | translate}}</a>
</div>
