
<div class="card__illustration illustration illustration--icon" illustration="ICON_blue_code-fork"></div>
<div class="card__description">
    <div class="line line--primary">{{'SCENARIST-CARD-VERSION-TITLE' | translate: {dateVersion: version.date} }}</div>
    <div class="line">{{'SCENARIST-CARD-VERSION-AUTHOR' | translate: {author: version.author} }}</div>
</div>
<div class="card__actions">
    <a class="button button--small button--round button--default-reverse button--label-off button--repeat" title="{{'SCENARIST-MODALE-VERSIONS-CREATE-BTN' | translate}}"  ng-click="createFork(version.name)">
        <span class="button__label">{{'SCENARIST-MODALE-VERSIONS-CREATE-BTN' | translate}}</span>
    </a>
    <a class="button button--small button--round button--default-reverse button--label-off button--trash" title="{{'SCENARIST-MODALE-VERSIONS-DELETE-BTN' | translate}}" ng-click="deleteFork(version.name)">
        <span class="button__label">{{'SCENARIST-MODALE-VERSIONS-DELETE-BTN' | translate}}</span>
    </a>
</div>
