<h2 ng-if="!loadingScenarios">{{'MODELER-MODALE-VERSIONS-INTEGRATOR'| translate}}</h2>
<form class="form form__integrate_model">
    <div class="form__row">
        <select class="form__row__entry input input--small" ng-model="scenarioToIntegrateId">
            <option value="0" disabled>{{'MODELER-MODALE-VERSIONS-INTEGRATOR'| translate}}</option>
            <option ng-repeat="scenario in scenariomenu" value="{{scenario.id}}">{{scenario.name}}</option>
        </select>

        <a ng-click="integrateScenario()" class="form__row__btn form__submit button button--success" style="margin-left:8px">
            <span class="button__label">{{'MODELER-MODALE-VERSIONS-INTEGRATOR_BTN'| translate}}</span>
        </a>
    </div>
</form>
