/* 
    Document   : wegas-app
    Created on : Nov 2, 2011, 1:02:16 AM
    Author     : fx
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

