<span ng-if="newTeam.alreadyUsed" class="modal__tools__info fade">
    <i class="fa fa-info-circle"></i>{{'PLAYER-MODALE-JOIN-TEAM-EXISTING-MESSAGE' | translate}}
</span>
<input class="input input--small" type="text"
       ng-model="newTeam.name" placeholder="{{'PLAYER-MODALE-JOIN-TEAM-CREATE-INPUT' | translate}}"
       ng-keyup="$event.keyCode == 13 && newTeam.name != '' && newTeam.validSize && create()"/>

<select id="newTeamSize"
       title="{{'PLAYER-MODALE-JOIN-TEAM-CREATE-SIZE-TOOLTIP' | translate}}"
       class="input input-small size"
       ng-model="newTeam.size">
<option value="0" selected="selected">{{'PLAYER-MODALE-JOIN-TEAM-CREATE-SIZE' | translate}}</option>
    <option value="1">&nbsp;&nbsp;&nbsp;1</option>
    <option value="2">&nbsp;&nbsp;&nbsp;2</option>
    <option value="3">&nbsp;&nbsp;&nbsp;3</option>
    <option value="4">&nbsp;&nbsp;&nbsp;4</option>
    <option value="5">&nbsp;&nbsp;&nbsp;5</option>
    <option value="6">&nbsp;&nbsp;&nbsp;6</option>
    <option value="7">&nbsp;&nbsp;&nbsp;7</option>
    <option value="8">&nbsp;&nbsp;&nbsp;8</option>
    <option value="9">&nbsp;&nbsp;&nbsp;9</option>
    <option value="10">&nbsp;&nbsp;10</option>
</select>

<a class="button button--create-team" ng-click="create()"
   ng-class="{true:'button--disable button--default', false:'button--success'}[newTeam.alreadyUsed || newTeam.name === '' || !newTeam.validSize]">
        {{'PLAYER-MODALE-JOIN-TEAM-CREATE-BTN' | translate}}
</a>

<!--
<input class="input input--small size" type="number"
       min="1" max="99" maxlength="2" placeholder="{{'PLAYER-MODALE-JOIN-TEAM-CREATE-SIZE' | translate}}"
       title="{{'PLAYER-MODALE-JOIN-TEAM-CREATE-SIZE-TOOLTIP' | translate}}"
       ng-model="newTeam.size"
       ng-keyup="$event.keyCode == 13 && newTeam.name != '' && newTeam.validSize && create()"/>

-->
