<div class="card__illustration illustration illustration--icon" illustration="ICON_grey_group_wif"></div>
<div class="card__description">
    <div class="line line--primary">{{team.name}}</div>
    <div class="line">
        {{team.players.length}} {{'PLAYER-MODALE-JOIN-TEAM-NUMBER-PLAYER'| translate}}<span ng-if="team.players.length > 1">s</span>
        <!--<span ng-if="team.players.length > 0">:&nbsp;</span>-->
        <!--
            hide player names
            <span class="line" ng-repeat="(ind,player) in team.players">{{player.name}}
            <span ng-if="ind + 1 < team.players.length">,&nbsp;&nbsp;</span> 
        </span>-->
    </div>
</div>
<div class="card__actions">
    <a  class="button button--small button--join-team button--info"
        ng-click="join(team.id)">
        <span class="button__label">{{'PLAYER-MODALE-JOIN-TEAM-JOIN-BTN'| translate}}</span>
    </a>
</div>
