<div class="modal__content__search">
    <div class="tool tool--search tool--open">
        <a class="tool__link"></a>
        <input id="searchFieldSessionArchives"
            name="searchFieldSessionArchives"
            class="tool__input"
            ng-model="search"
            type="text"
        />
    </div>
</div>
<div ng-if="!loading && sessions.length > 0" class="modal__content__list">
    <div class="card card--archive card--archive-trainer" ng-repeat="session in sessions">
        <div class="card__illustration illustration illustration--icon" illustration="{{session.properties.iconUri}}"></div>
        <div
            class="card__description"
            ng-class="{true:'card__description--three-lines', false:'card__description--four-lines'}[session.gameModel.comments == null || session.gameModel.comments == '']" >
            <div class="line line--primary">{{session.name}}</div>
            <div class="line">{{'TRAINER-CARD-DETAILS-CREATED-ON' | translate}} {{'COMMONS-DATE' | translate: {date: session.createdTime} }}
                <span>{{'TRAINER-CARD-DETAILS-CREATED-BY' | translate}}
                    <span ng-class="{true:'highlighted'}[session.createdByName !== username]">{{session.createdByName}}</span>
                </span>
            </div>
            <div class="line">{{'TRAINER-CARD-DETAILS-SCENARIO' | translate}}:&nbsp;{{session.gameModelName}}</div>
            <div ng-if="!((session.gameModel.comments == null) || (session.gameModel.comments == ''))" class="line line--optional">{{session.gameModel.comments}}</div>
        </div>
        <div class="card__actions">
            <a
                class="button button--small button--round button--default-reverse button--label-off button--settings"
                title="{{'TRAINER-MODALE-ARCHIVE-SETTINGS-BTN' | translate}}"
                ng-click="details(session)">
                <span class="button__label">{{'TRAINER-MODALE-ARCHIVE-SETTINGS-BTN' | translate}}</span>
            </a>
            <a
                class="button button--small button--round button--default-reverse button--label-off button--user"
                title="{{'TRAINER-MODALE-ARCHIVE-USERS-BTN' | translate}}"
                ng-click="users(session)">
                <span class="button__label">{{'TRAINER-MODALE-ARCHIVE-USERS-BTN' | translate}}</span>
            </a>
            <a class="button button--small button--round button--default-reverse button--label-off button--undo" title="{{'TRAINER-MODALE-ARCHIVE-MOVE-CURRENT-BTN' | translate}}" ng-click="unarchive(session)">
                <span class="button__label">{{'TRAINER-MODALE-ARCHIVE-MOVE-CURRENT-BTN' | translate}}</span>
            </a>
            <a
                class="button button--small button--round button--default-reverse button--label-off button--trash"
                title="{{'TRAINER-MODALE-ARCHIVE-DELETE-BTN' | translate}}"
                confirmed-click="delete(session)"
                ng-confirm-click="{{'TRAINER-MODALE-ARCHIVE-DELETE-CONFIRM' | translate}}">
                <span class="button__label">{{'TRAINER-MODALE-ARCHIVE-DELETE-BTN' | translate}}</span>
            </a>

        </div>
    </div>
</div>
<div class="modal__content__empty" ng-if="!loading && sessions.length == 0">
    {{'TRAINER-MODALE-ARCHIVE-NO-SESSION' | translate}}"{{search}}"
</div>
<div class="modal__content__loading" ng-if="loading" content-loading="{{'COMMONS-SESSIONS-LOADING' | translate}}"></div>
