/* CrimeSim GENERAL STYLES */
.layout {
    width:100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 9pt;
min-width: 800px;
}
.header {
    height:55px;
    background:lightsteelblue;
    width:100%;
    /* border-top: 1px solid gray;
     border-bottom:none;*/
}
.body .wegas-text, .layout .button {
    padding: 5px 10px;
}

.wegas-crimesim-title {
    display: inline-block;
    vertical-align: top;
    font-weight: bolder;
    font-size: 32px;
    line-height: 42px;
    color:  white;
    text-shadow: 1px 2px 2px steelBlue;
    margin: 0px 15px;
    padding: 0;
    margin: 0;
    padding: 5px 25px 0px 10px;
    letter-spacing: -2px;
}
.wegas-template {
    padding:5px;
}
.wegas-template-box {
    max-width:150px;
}
.wegas-template-box-unit {
    width:5px;
    height:10px;
    background:steelblue;
    border:1px solid gray;
    float:left;
}
.wegas-valuebox-unit {
    background:steelblue;
    border:1px solid gray;
    float:left;
}
.wegas-valuebox-selected {
    background:white;
}

.menu {
    background:lightgray;
    border-top: 1px solid gray;
}
.menu .menu-button {
    padding: 5px 10px;
    cursor: pointer;
    border-right: 1px solid gray;
}
.menu .menu-button:hover {
    background:gray;
}

.unread-count .value{
    background-image: url(../../wegas-crimesim/images/unread-count.png);
    background-position: center;
    background-repeat: no-repeat;
    color:white;
    padding:7px;
    margin-left:2px;
}


.menu .wegas-login {
    padding:5px;
    float:right  !important;
    cursor: pointer;
}
.body {
    border-top: 1px solid gray;
    min-height:200px;
}
/* Schedule display Widget style */
.wegas-crimesim-scheduledisplay {
    min-width: 1000px;
}
.wegas-crimesim-scheduledisplay-content {
    position:relative;
}
/* Schedule detail style */
.schedule-detail {
    background: white;
    position: absolute;
    right: 0;
    top: 0;
    width: 809px;
    min-height: 140px;
    display: none;
    box-shadow: 5px 4px 5px #888;
    border: 1px solid gray;
    padding-bottom: 20px;
}
.schedule-detail .schedule-gallery {
    padding: 10px 5px;
}
.schedule-detail .schedule-icon-close {
    float: left;
    margin: 4px 5px;
    width: 16px;
    height: 15px;
    border: 1px solid gray;
    cursor: pointer;
    background: white url(../../wegas-app/images/sprite_icons.png) 2px 3px no-repeat;
}
.schedule-detail .schedule-icon-close:hover {
    background-color: lightgray;
}
.schedule-detail h1,
.schedule-detail h2 {
    background: lightSteelBlue;
    padding: 0px 5px 1px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    font-weight: bold;
    margin: 0;
    min-height: 32px;
}
.schedule-detail h3 {
    padding: 5px 5px 1px;
    font-style: italic;
    margin: 0;
    font-weight: normal;
}
.schedule-detail .content {
    padding: 10px 5px;
    min-height:29px;
}
/* CrimeSim Analyisis table styles */
.schedule-table {
    width: 100%;
    table-layout: fixed;
    font-size: 9pt;
}
.schedule-table th, .schedule-table td {
    padding: 4px 10px;
    border: 1px solid gray;
    border-left: none;
    text-align: center;
}
.schedule-table th {
    background:steelBlue;
    color:white;
    text-shadow: 0 1px 1px lightSteelBlue;
}
.schedule-table th.schedule-leftcolum {
    text-align:left;
}

.schedule-table tr {

}
.schedule-table td {
    /*  height: 30px;*/

}
.schedule-table tfoot td {
    font-size: 7pt;
}
.schedule-table td.schedule-leftcolum {
    text-align: left;
    cursor: pointer;
    padding: 4px 10px;
}

.schedule-table td.schedule-leftcolum:hover {
    background: lightgray;
}
.schedule-table td.schedule-leftcolum-selected {
    cursor: auto;
    background:#6D6D6D;
    color:white;
}
.schedule-table .schedule-maincolum {
    width:60px;
}
.schedule-table td.schedule-task {
    padding:1px;
}
.schedule-table td .icon {
    height:26px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.schedule-table .schedule-past {
    background:lightgray;
}

.schedule-table .schedule-available div:hover .icon {
    background: transparent url(../../wegas-app/images/wegas-app-sprite.png) no-repeat 25px 3px;
    cursor:pointer;
}

.schedule-table .schedule-task > div {
    position:relative;
}
.schedule-table .schedule-task .icon {
    position: absolute;
    top: -11px;
    height: 15px;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 3px gray;
    padding: 2px 11px 2px 2px;
}
.schedule-table .schedule-task.schedule-future .icon {
    background: lightblue;
}
.schedule-table .schedule-task.schedule-past .icon {
    background: darkgrey;
}

.schedule-table .schedule-task.schedule-ongoingtask .icon {
    background: yellow;
}
.schedule-table .schedule-inactive.schedule-future .icon,
.schedule-table .schedule-inactive.schedule-present .icon {
    background: red;
}
.schedule-table .schedule-unavailable-0 .icon {
    width: 20px;
}
.schedule-table .schedule-unavailable-1 .icon {
    width: 61px;
}
.schedule-table .schedule-unavailable-2 .icon {
    width: 141px;
}
.schedule-table .schedule-unavailable-3 .icon {
    width: 222px;
}

.schedule-table .schedule-unavailable-4 .icon {
    width: 303px;
}

.schedule-table .schedule-unavailable-5 .icon {
    width: 384px;
}
/* Schedule cancel icon */
.schedule-table .schedule-present.schedule-task .icon .close-icon,
.schedule-table .schedule-future.schedule-task .icon .close-icon {
    background: transparent url(../../wegas-crimesim/images/close-icon.png) no-repeat 0px 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    width:14px;
    height:16px;
    cursor: pointer;
}
/*
.schedule-table .schedule-available > div > * {
    display:none;
}
.schedule-table .schedule-available > div:hover > * {
    display:block;
}*/

.wegas-tooltip h3 {
    font-style: italic;
    font-weight: normal;
}


/* TabView Styles */
.wegas-mcqtabview  .yui3-tabview-content {
    /*padding-left: 350px;*/
}
.yui3-skin-sam  .wegas-mcqtabview .yui3-tabview-list {
    display: inline-block;
    float:left;
    /* margin-left: -350px;*/
    border: none;
    display: inline-block;
    border-right: 1px solid lightgray;
    width: 39.9%;
}

.yui3-skin-sam  .wegas-mcqtabview .yui3-tabview-panel {
    display:inline-block;
    width:59.5%;
    float:left;
    overflow:inherit;
}
.wegas-mcqtabview .yui3-tab {
    display: block;
    border:none;
    border-bottom:1px solid #DBDBDB;
    margin: 0;
    cursor:pointer;
    width:100%;
    padding:0;
}
.wegas-mcqtabview .pmg-subtitle {
    padding:6px 0;
    font-size: 1.2em;
    font-weight: normal;
    border-bottom: 2px solid #4D4D4D;
}
.yui3-skin-sam .wegas-mcqtabview .pmg-subtitle  .left ,
.yui3-skin-sam .wegas-mcqtabview .yui3-tab  .label {
    float:left;
    padding-left:8px;
}
.yui3-skin-sam .wegas-mcqtabview .pmg-subtitle .right ,
.yui3-skin-sam .wegas-mcqtabview .yui3-tab .status {
    float:right;
    padding-right:8px;
}
.yui3-skin-sam .wegas-mcqtabview .yui3-tab a.yui3-tab-label  {
    background: none;
    border: none;
    padding: 6px 0px;
    width:100%;
}
.wegas-crimesim .yui3-tabview-panel{
    padding: 0;
}
.wegas-mcqtabview {
    line-height: normal;
}
.yui3-skin-sam  .wegas-mcqtabview .yui3-tab a:hover {
    background: #B2D2FF;
}
.yui3-skin-sam  .wegas-mcqtabview .yui3-tab-selected {
    background: #CCCCCC;
}
.yui3-skin-sam  .wegas-mcqtabview .yui3-tab-selected .yui3-tab-label {
    color:black;
}

.wegas-mcqtabview .title {
    background:lightsteelblue;
    font-weight: bold;
    padding: 2px 5px;
    border-bottom: 1px solid black;
}
.wegas-mcqtabview .subtitle {
    background:lightsteelblue;
    font-weight: bold;
    padding: 2px 5px;
    border-top:1px solid gray;
    border-bottom:1px solid gray;
}
.wegas-mcqtabview  .description {
    margin: 5px;
    margin-bottom: 20px;
}
.wegas-mcqtabview  input {
    float: right;
}
.wegas-mcqtabview .replies {
}
.wegas-mcqtabview .reply {
    margin: 5px;
    margin-bottom: 10px;
}
.wegas-mcqtabview .reply.first-child {
    border:none;
}
.wegas-mcqtabview .reply .name {
    font-weight: bold;
}
.wegas-mcqtabview .reply content {
    /*font-weight: bold;*/
    margin-bottom:5px;
}
.wegas-mcqtabview .unread {
    font-weight:bold;
}

/* Result Display widget styles */
.wegas-crimesim .yui3-datatable-header {
    background: steelblue;
    color: white;
    text-shadow: 0 1px 1px lightSteelBlue;
}
.wegas-crimesim .yui3-datatable-columns .yui3-datatable-sorted,
.wegas-crimesim .yui3-datatable-sortable-column:hover {
    background-color: lightsteelblue ;
}
.wegas-crimesim .yui3-datatable-table {
    border: none;
    border-bottom: 1px solid gray;
    width: 100%;
}
.wegas-crimesim .yui3-datatable-data .period {
    width:50px;
    text-align:center;
}
.wegas-crimesim .yui3-datatable-data .description {
}
.wegas-crimesim .yui3-datatable-cell,
.wegas-crimesim .yui3-datatable-header {
    border-left: 1px solid gray;
}

.wegas-crimesim .treeble-value p{
    display:inline;
}

.wegas-crimesim .yui3-datatable-table .yui3-datatable-data td{
    text-align: left;
}

.wegas-crimesim .hidden{
    display:none;
}