.dialogue{
    height: 150px;
    width:920px;
    margin-top: 0px;
    padding:30px;
    background: #fefcea; /* Old browsers */
    background: -moz-linear-gradient(top,  #fefcea 0%, #f1da36 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(100%,#f1da36)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fefcea 0%,#f1da36 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
    background-position: bottom;
    border: solid 1px #f1da36;
    position:relative;
    font-family:Verdana,sans-serif;
    font-size: 1.3em;
}

.dialogue .talk{
    width:65%;
    height: 100%;
    float:left;
    padding-right:10px;
    overflow-y: auto;
    text-align: justify;
}

.dialogue .response{
    width: 30%;
    height: 100%;
    float:right;
    font-style: italic;
    /*overflow-y: auto;*/
    padding-left:20px;
}

.dialogue .response li{
    margin-bottom:10px;
}

.dialogue .response li:hover{
    list-style-image: url(wegas-games/wegas-simpledialogue/images/response.png);
    cursor: pointer;
    font-style: normal;
}

.icecream {
    background: url(wegas-games/wegas-simpledialogue/images/icecream.png);
    background-repeat: no-repeat;
    padding: 0px 10px 20px 40px;
    top: 10px;
    position: relative;
}