.illustration{
    @include unselect();
    display:block;
    position:relative;
    padding:0px;
    margin:0px;
    overflow:hidden;
    text-align:center;
    img{
	    position: absolute;
	    border:none;
	    width:auto;
	    height:100%;
	    margin:0px;
	    padding:0px;
	    left: 50%;
	    top: 50%;
	    -webkit-transform: translateY(-50%) translateX(-50%);
	}

	@each $size in $sizes{
		$size-nom: nth($size, 1);
		$size-value: nth($size, 2);
		&.illustration--#{$size-nom}{
			width:$size-value;
			height:$size-value;
			&.illustration--icon{
				i{
                                    font-size:(nth($size, 2))/2;
                                    line-height:nth($size, 2);
                                    &.wif{
                                        line-height:nth($size, 2) * 1.2;
                                    }
				}
			}
		}
	}
	@each $color in $illustration-colors{
		$name : nth($color, 1);
		$value : nth($color, 2);
		&.illustration--#{$name}{
			background-color:$value;
			color:$white;
			i{
				color:$white;
			}
		}
	}
        
        &.card__illustration{
            width:$card-size;
            height:$card-size;
            &.illustration--icon{
                i{
                    font-size:$card-size/2;
                    line-height:$card-size;
                    &.wif{
                        line-height:$card-size * 1.2;
                    }
                }
            }
        }

	
	&.illustration--round{
		border-radius:50%;
	}
	&.illustration--round-square{
		border-radius:6px;
	}
	&.illustration--center{
		margin:0px auto;
	}
}