.link{
	display:inline-block;
	position:relative;
	width:auto;
	height:24px;
	line-height:12px;
	color:darken($secondary-color, 20%);
	padding:6px 12px 6px 12px;
	margin:4px 8px;
	font-size:12px;
	text-transform: uppercase;
	border-radius:12px;
		background-color:$white;
	text-decoration: none;
	transition: .5s;

	&:hover, &:focus, &:active{
		color:darken($secondary-color, 20%);
		cursor:pointer;
		text-decoration: none;
		background-color:$white;
		@include material-shadow(2);
		transition: .5s;
	}
	&.link--simple-primary{
		color:$primary-color;
		background:none;
		cursor:pointer;
		text-decoration:underline;
		box-shadow: none;
		padding:0px;
		margin:0px;
		&:hover, &.focus, &.link.active{
			color:darken($primary-color, 6%);
			background:none;
			text-decoration:underline;
			box-shadow: none;
		}

		&.link--active{
			background:none;
			color:$primary-color;
		}
	}

	&.link--simple{
		color:$white;
		background:none;
		cursor:pointer;
		text-decoration:underline;
		box-shadow: none;
		padding:0px;
		margin:0px;
		
		&:hover, &.focus, &.link.active{
			color:darken($white, 6%);
			background:none;
			text-decoration:underline;
			box-shadow: none;
		}

		&.link--active{
			background:none;
			color:$white;
                }
	}

	&.link--medium{
		margin:20px 0px;
	}

	&.link--active{
		color:darken($secondary-color, 20%);
		cursor:default;
		text-decoration: none;
		background-color:$white;
	}

	&:first-child{
		margin-left:0px;
	}
	&:last-child{
		margin-right:0px;
	}

	&.link--reverse{
		color:$white;
		background-color:lighten($primary-color, 6%);
		&:hover, &.focus, &.link.active{
			color:$white;
			background-color:lighten($primary-color, 12%);
		}
		&.link--active{
			background-color:lighten($primary-color, 12%);
			color:$white;
			cursor:default;
		}
		i{
			color:$white;
		}
	}
        
        &.link--language{
            padding-right:16px;

            &.link--active{
                color:#666666;
                text-decoration: none;
            }
        }

    @each $button-type in $buttons-types{
        $type-name : nth($button-type, 1); 
        $type-color : nth($button-type, 2);
		&.link--#{$type-name}{
			color:$white;
			background-color:lighten($type-color, 6%);
			&:hover, &.focus, &.link.active{
				color:$white;
				background-color:lighten($type-color, 12%);
			}
			&.link--active{
				background-color:lighten($type-color, 12%);
				color:$white;
				cursor:default;
			}
			i{
				color:$white;
			}
		}
	}
}