.permission-edit {
    .permission-edit__select {
        float: left;
    }
    .permission-edit__permissions {
        list-style-type: none;
        padding: 0;
        li {
            display: inline-block;
            float: left;
            min-width: 50px;
            width: 30%;
            margin-right: 10px;
        }
    }
    .permission-edit__id {
        float: right;
        .permission-edit__id__value {
            width: 100px;
        }
        .permission-edit__id__select {
            width: 200px;
        }
    }
    .permission-edit__output {
        clear: both;
        font-weight: bold;
    }
}
