.qrcode_link {
    padding: 10px;
    
    a {
        cursor: pointer;
    }
    
    .qrcode_thumbnail {
        img {
            display: inline !important;/* to override element.style */
            width: 24px;
        }
    }
}