.pointer {
    cursor: pointer;
}

.selected {
    font-style: italic;
    color: pink;
}

.noDisplay {
    display: none;
}
.noSelect {
    font-style: italic;
    opacity: 0.7;
}
.treeNodeContainer {
    list-style: none;

    & > ul {
        margin-left: .5em;
        list-style: none;
        position: relative;

        &:before {
            content: "";
            display: block;
            width: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            border-left: 1px solid;
        }
    }

    & & {
        margin: 0 0 0.5em 0;
        padding: 0 1.5em;
        line-height: 2em;
        position: relative;

        &::before {
            content: "";
            display: block;
            width: 10px;
            height: 0;
            border-top: 1px solid;
            margin-top: -1px;
            position: absolute;
            top: 1em;
            left: 0;
        }

        &:last-child::before {
            background: white;
            height: auto;
            top: 1em;
            bottom: 0;
        }
    }
}

.treeHead {
    position: relative;

    &:focus {
        outline: none;

        &::after {
            content: "<<";
            position: absolute;
            bottom: 0;
        }
    }
}

