<div class="infos--single-column">
	<label class="infos__label">{{'PRIVATE-SCENARIOS-NAME-LABEL-INPUT' | translate}}</label>
	<input ng-model="activeInfos.name" class="input input--small" required type="text" placeholder="{{'PRIVATE-SCENARIOS-NAME-PLACEHOLDER-INPUT' | translate}}" />

	<label class="infos__label" style="margin-top:20px">{{'PRIVATE-SCENARIOS-TYPE-LABEL-CHECKBOX' | translate}}</label>
	<label class="choice indented">
		<div class="choice__box">
			<input ng-model="activeInfos.individual" type="radio" ng-value="true" />
			<div class="choice__box__display"></div>
		</div>
		<div class="choice__label">{{'PRIVATE-SCENARIOS-TYPE-INDIVIDUALLY-CHECKBOX' | translate}}</div>
 	</label>
 	<label class="choice indented">
		<div class="choice__box">
			<input ng-model="activeInfos.individual" type="radio" ng-value="false" />
			<div class="choice__box__display"></div>
		</div>
		<div class="choice__label">{{'PRIVATE-SCENARIOS-TYPE-IN-TEAM-CHECKBOX' | translate}}</div>
 	</label>

    <label class="infos__label" style="margin-top:30px">{{'PRIVATE-SCENARIOS-COMMENTS-LABEL-INPUT' | translate}}</label>
    <textarea ng-model="activeInfos.comments" class="input input--small input--multi-lines" style="height:100px" placeholder="{{'PRIVATE-SCENARIOS-COMMENTS-PLACEHOLDER-INPUT' | translate}}"></textarea>

</div>
