/* CrimeSim GENERAL STYLES */
.layout {
    width:100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 9pt;
}
#menu {
    background:orange;
    border-top: 1px solid gray;
}
.title {
    font-size: 13px;
    font-weight: bold;
}
.wegas-button {
    cursor: pointer;
}
.wegas-button:hover {
    background:white;
}
.wegas-login {
    padding:5px;
    float:right  !important;
    cursor: pointer;
}
.body {
}

.menu.wegas-list-horizontal > div {
    border-right: 1px solid gray;
    padding: 5px 10px;
    border-right: 1px solid gray;
    height:15px;
}
.wegas-mmo {
    background:black;
}
.wegas-mmo-content > .yui3-g {
    padding-left:250px;
}
.wegas-mmo .left {
    width:250px;
    margin-left:-250px;
}
.wegas-mmo .right {
    width:100%;
}
.wegas-mmo .topright {
    padding-right:250px;
}
.wegas-mmo .topcenter {
    width:100%;
}
.wegas-mmo .toptopright {
    width:250px;
    margin-right:-250px;
}
.wegas-mmo .inventory,
.wegas-mmo .api,
.wegas-mmo .terrain,
.wegas-mmo .bottomright,
.wegas-mmo .ai,
.wegas-mmo .debugger {
    border: 1px solid orange;
    margin:5px;
    padding:5px;
}
.wegas-mmo .terrain {
    height:200px;
}
.wegas-mmo .inventory {
    background: transparent url("/Wegas/wegas-mmo/images/inventory.png");
    height:280px;
}
.wegas-mmo h1 {
    font-weight: bold;
    font-size: 15px;
    color: orange;
}
/* Code input styles */
.wegas-mmo .code {
    border: 1px solid orange;
    margin:5px;
}
.wegas-mmo .code h1{
    padding:5px;
}
.wegas-mmo div.inputEx-Field {
    float:none;
}
.wegas-mmo .ace-tm .ace_gutter {
    background:black;
    color: orange;
    border-right: 1px solid orange;
}
.wegas-mmo .ace_text-layer {
    color: white;
}
.wegas-mmo .ace_editor .ace_print_margin_layer {
    display:none;
}