<div class="card card--big card--archive" ng-repeat="scenario in scenarios | filter : { name: search }"">
    <div class="card__illustration illustration illustration--big illustration--icon" illustration="{{scenario.properties.iconUri}}"></div>
    <div 
        class="card__description" 
        ng-class="  {true:'card__description--two-lines', false:'card__description--three-lines'}[scenario.comments == null || scenario.comments == '']" >
        <div class="line">{{scenario.createdTime | date:"dd.MM.yyyy"}}</div>
        <div class="line line--primary">{{scenario.name | limitTo: 36}}<span ng-if="scenario.comments.length > 36">...</span></div>
        <div ng-if="!((scenario.comments == null) || (scenario.comments == ''))" class="line line--optionnal">{{scenario.comments | limitTo: 36}}<span ng-if="scenario.comments.length > 36">...</span></div>
    </div>
    <div class="card__actions">
        <a class="button button--medium button--round button--default-reverse button--label-off button--undo" title="Move to current scenarios" ng-click="unarchive(scenario)">
            <span class="button__label">Move to current scenarios</span>
        </a>
        <a 
            class="button button--medium button--round button--danger-reverse button--label-off button--trash" 
            title="Delete scenario" 
            confirmed-click="delete(scenario)" 
            ng-confirm-click="Are you sure you want to delete the scenario ? This action is irreversible.">
            <span class="button__label">Delete scenario</span>
        </a> 
    </div>
</div>
<div ng-if="(scenarios | filter:{name: search}).length == 0">
    No archived scenario with the name "{{search}}"
</div>