/* Pageeditor Plugin styles */
.wegas-pageeditor-designmode{
    position:relative;
    overflow: hidden;
}
.wegas-pageeditor-designmode .wegas-widget{
    box-shadow: 0px 0px 2px green, 0px 0px 2px violet inset !important;
}
.wegas-list,
.wegas-choicelist,
.wegas-pageloader{
    -webkit-transition: padding-top 0.7s;
}
.wegas-pageeditor-designmode .wegas-pageloader-content{
    position: relative;
}
.wegas-pageeditor-layoutmode .wegas-container,
.wegas-pageeditor-layoutmode .wegas-pageloader{
    padding: 10px;
    padding-top: 20px !important;
}
.wegas-pageeditor-designmode .pageeditor-overlay-mask{
    z-index: 49;
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 0px; 
    left: 0px;
    cursor:pointer;
}
.wegas-pageeditor-layoutmode .wegas-widget {
    background: rgba(0,0,0,0.05) !important;
    color: #990808 !important;
    min-width: 20px;
    min-height: 20px;
    visibility: visible !important;
}
.wegas-pageeditor-layoutmode .wegas-widget > *{
    background: none !important;
}
.wegas-pageeditor-designmode > .wegas-pageloader-content .wegas-pageloader{
    position: relative;
    background-color: darkgray !important;
}
.wegas-pageeditor-designmode > .wegas-pageloader-content .wegas-pageloader:after{
    content:"" url(../../wegas-editor/images/webpage.png) "Page sub zone, edit page by choosing it in the left tab"  no-repeat center darkgray !important ;
    color: white;
    position: absolute;
    background-color: darkgray;
    width:100%;
    top:40%;
    text-align: center;
}
.wegas-pageeditor-designmode > .wegas-pageloader-content .wegas-pageloader-content *{
    visibility: hidden !important;
} 
.wegas-pageeditor-ace {
    height: 100%;
}
.wegas-pageeditor-overlay-hidden {
    height: 0 !important;
}
.yui3-skin-sam .wegas-pageeditor-overlay {
    font-style:normal;
    font-size: 8pt;
    font-weight: bold;
    letter-spacing: normal;
    position: absolute;
    overflow: hidden;
    line-height: normal;
    color: white;
    font-family: sans-serif;
    white-space: nowrap;
    font-variant: normal;
    padding: 0;
}
.wegas-pageeditor-overlay-content {
    padding:0;
    margin: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(38, 71, 160, 0.05);
    box-shadow: 0px -1px 7px rgba(38, 71, 160, 0.6) inset;
    /* opacity: 0.5; */
}
.wegas-pageeditor-overlay-content div{
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px 0px;
    background: rgba(38, 71, 160, 0.6)
        /*top:40%;*/
}

.wegas-page-editor .content-header{
    cursor: pointer;
}
.editor-preview .wegas-pageloader-content .highlighted{
    position: relative;
    -moz-box-shadow: 0px 0px 25px black, 0 0 15px white inset !important;
    -webkit-box-shadow: 0px 0px 25px black, 0 0 15px white inset !important;
    box-shadow: 0px 0px 25px black, 0 0 15px white inset !important;
    z-index:5;
}
.editor-preview .wegas-pageloader-content .highlighted:after{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    font-style:normal;
    font-size: 8pt;
    font-weight: bold;
    letter-spacing: normal;
    background: rgba(38, 71, 160, 0.6);
    color: red;
    content: "Editing";
    font-family: sans-serif;
    border-radius: 2px;
    line-height: normal;
    text-shadow: none;
    text-overflow: ellipsis;
    color: white;
    text-align: center;
    overflow: hidden;
    padding: 4px 0px;
}
.wegas-pageeditor-overlay-content > .wegas-editmenubutton{
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: transparent url("../../wegas-app/images/wegas-app-sprite.png") 2px -334px no-repeat;
    margin: 2px 5px;
    display: inline-block;
    z-index:1000;
    position:absolute;
    top:0;
    right:0;
}
/*DRAG*/
.pageeditor-dragnode{
    position:absolute;
    background: url(../../wegas-editor/images/drag_icon.png) no-repeat;
    width:24px;
    height:24px;
    cursor:move;
    /*    -webkit-transition: top 0.15s;
        transition: top 0.15s;*/
}
/*RESIZE*/
.pageeditor-resizenode{
    position:absolute;
    background: url(../../wegas-editor/images/resize_icon.png) no-repeat right bottom;
    width:24px;
    height:24px;
    cursor: nwse-resize;
}

/*special rules*/
.wegas-pageeditor-layoutmode .timed-hidden-node{
    visibility: visible;
}
body > .wegas-pageloader{
    position: absolute;
    background: white;
}
.yui3-skin-sam .wegas-icon-fullscreen{
    background: url(../../wegas-editor/images/full_screen.png) no-repeat;
}