<div class="modal__header">
    <div class="modal__illustration illustration illustration--medium illustration--icon"
      illustration="ICON_grey_user"></div>
    <h5 class="modal__title">{{adminGroupsMemberIndexCtrl.group.name}} {{results.length}}/{{adminGroupsMemberIndexCtrl.users.length}}</h5>
    <a class="modal__close button button--medium button--label-off button--default-reverse button--close"
      ng-click="close()">
        <span class="button__label">{{'MODALE-CLOSE' | translate}}</span>
    </a>
</div>
<div class="modal__content modal__content--nav-off">
    <div class="card card--users"
      ng-repeat="user in adminGroupsMemberIndexCtrl.users | filter:{name:userfilter} | orderBy:'name' as results">
        <div class="card__illustration illustration illustration--icon"
          illustration="ICON_grey_user_wif"></div>
        <div class="card__description card__description">
            <div class="line line--primary">{{user.name}}</div>
        </div>
    </div>
</div>
<div class="modal__tools">
    <div class="tool tool--search tool--open">
        <a class="tool__link"></a>
        <input type="text"
          class="tool__input"
          ng-model="userfilter"
          placeholder="Filter">
    </div>

</div>
