.card{
    position:relative;
    display:flex;
    flex-wrap: wrap;

    /*width:100%;*/
    height: auto;
    padding:0px;
    margin:12px auto;
    border:none;
    box-sizing: border-box;
    background:$white;
    border-radius:2px;
    transition:.3s;
    clear:both;
    overflow:hidden;
    @include material-shadow(1);

    &:hover{
        @include material-shadow(2);
    }

    > div {
        height:$card-size;
    }

    .card__illustration{
        flex-shrink:  0;
        .icon-users {
            padding-right: 8px;
        }
    }
    .card__description{
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 80px;
        min-width: 80px;
        padding:0px ($card-base-padding*3);
        display: flex;
        flex-direction: column;
        justify-content: center;

        .line{
            line-height: $card-text-size;
            font-size: $card-text-size;
            margin: 0px;
            padding: 0px;
            padding-bottom:$card-base-padding;
            color: #555555;
            box-sizing: border-box;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &.line--primary{
                font-size:$card-text-size + 2;
                line-height: $card-text-size + 2;
                padding-bottom:$card-base-padding - 1;
                padding-top: 0px;
                font-weight:500;
            }

            &.line--optional{
                font-style:italic;
            }

            .highlighted{
                font-style:italic;
                font-weight:500;
            }
        }
    }

    &.ng-enter,
    &.ng-leave
    {
        transition: .6s;
    }

    &.ng-enter.ng-enter-active,
    &.ng-leave {
        visibility: visible;
        opacity: 1;
        height: $card-size;
    }

    &.ng-leave.ng-leave-active,
    &.ng-enter {
        visibility: hidden;
        opacity: 0;
        height: 1px;
    }

    .card__actions{
        display: flex;
        flex-wrap: wrap;
        padding: 16px;
        height: auto;

        .button{
            display: block;
        }
    }

    .card__list{
        clear:both;
        margin-left:92px;
        margin-bottom:8px;
        h4{
            font-weight:500;
            font-size:14px;
            padding-top:8px;
            margin-bottom:4px;
        }
        p{
            font-size:14px;
        }

        &.ng-enter,
        &.ng-leave{
            transition: .2s;
        }

        &.ng-enter.ng-enter-active,
        &.ng-leave {
            max-height:400px;
            transition: .4s;
        }

        &.ng-leave.ng-leave-active,
        &.ng-enter {
            max-height: 1px;
            transition: .4s;
        }

        .card__list__player{
            &:after{
                display:inline;
                position:relative;
                content:",";
                margin-right:12px;
            }
        }
        .card__list__player:last-child{
            &:after{
                display:none;
            }
        }

        @media screen and (max-width: 619px) {
            margin-left:24px;
        }
    }

    &.card--scenario {
        .card__illustration {
            width: 96px;
        }
        .card__content {
            @include make-xs-column(12);
            width: calc(100% - 96px);

            .card__description {
                @include make-xs-column(7.5);
                width: calc(100% - 275px)
            }
            .card__actions {
                @include make-xs-column(5.5);
                width: 275px;
                padding: 15px 0 0 0;
            }
        }
    }

    &.card--coscenarist-permission {
        &.ng-leave {
            animation: bounceOut 1s;
        }
        .card__detailled-actions {
            padding:11px 16px 12px 16px;
            ul {
                padding: 0px;
                margin: 0px;
                list-style-type: none;
            }
        }
    }

    &.card--player-session{
        .card__actions.progressbar{
            padding: 32px 16px;

            .progressbar_full {
                height:15px;
                width:150px;
                font-size: 10px;
                border:1px solid #c3c3c3;
                text-align: center;

                .progressbar_progress {
                    background-color:#7cddee;
                    height: 100%;
                }

                .progressbar_counter {
                    height: 100%;
                    width: 100%;
                    margin-top :-12px;
                }
            }
        }
    }

    &.card--player-mini {
        margin-left: 78px;
        margin-top: 10px;
        margin-bottom: 6px;
        transition: none;

        > div {
            height: 60px;
        }

        .card__illustration {
            width: 60px;

            &.illustration--icon i {
                font-size: 30px;
            }
            .wif {
                line-height: 72px !important;
            }
            .fa {
                line-height: 64px !important;
            }
        }

        .card__actions {
            padding-top: 6px;
        }
    }

    &.card--group-mini {
        width: auto;
        margin-left: 7px;
        margin-top: 13px;
        margin-bottom: 6px;
        transition: none;


        > div {
            height: 60px;
        }

        .card__illustration {
            width: 60px;

            &.illustration--icon i {
                font-size: 30px;
            }
            .wif {
                line-height: 72px !important;
            }
            .fa {
                line-height: 64px !important;
            }
        }

        .card__actions {
            padding-top: 6px;
        }
    }

    &.card--trainer-session{
        .card__actions{
            user-select:none;
            .card__actions__access{
                display:block;
                position:relative;
                /* width:230px; */
                white-space: nowrap;

                .line{
                    font-size:13px;
                    padding:2px;

                    &.line--title-open{
                        display:none;
                    }

                    &.line--title-close{
                        display:none;
                    }
                }

                .choice{
                    float:left;
                    margin-right:5px;
                }
                .key-label{
                    width: 190px;
                    height:24px;
                    padding-left:2px;
                    padding-top: 3px;
                    box-sizing: border-box;
                    /* float:left; */
                    white-space: nowrap;
                    cursor: pointer !important;

                    &:before{
                        display: block;
                        position: relative;
                        float: left;
                        font-size: 18px;
                        width: 24px;
                        height: 24px;
                        content: "d";
                        color:#828282;
                        font-family: "wegas-icons-font";
                    }
                    .key{
                        display:block;
                        border:none;
                        width: calc(100% - 79px); /* was 100% - 24px */
                        text-overflow:ellipsis;
                        overflow:hidden;
                        white-space: nowrap;
                        font-weight:500;
                    }

                }
                &.card__actions__access--close{
                    padding-top: 12px;
                    .line--title-close{
                        display:block;
                        overflow:hidden;
                        text-overflow:ellipsis;
                    }
                    .key-label{
                        display:block;
                        &:before{
                            color:#a9a9a9;
                        }
                        .key{
                            display:none;
                        }
                    }
                }

                &.card__actions__access--open{
                    /* top: 4px; */
                    padding-top: 12px;
                    .line--title-open{
                        display:block;
                        overflow:hidden;
                        text-overflow:ellipsis;
                        color: #4caf50;
                    }
                }
            }

        }

        @media print and (max-width: 850px) { /* was screen and 1116px */
            .card__description{
                width: calc(100% - 412px);
            }
            .card__actions{
                .card__actions__access{
                    width:100px;
                    transition: padding .2s;

                    &.card__actions__access--close{
                        padding-top:12px;
                        .line--title-close{
                            display:none;
                        }
                    }

                    &.card__actions__access--open{
                        .line--title-open{
                            display:none;
                        }
                    }

                    .key-label{
                        float:none;
                        width:auto;
                        &:before{
                            display:none;
                            padding-left:4px;
                        }
                        .key{
                            width:100%;
                            margin:0px;
                        }
                    }
                }
            }
        }
    }

    &.card--team-joinable{
        @media screen and (max-width: 440px) {
            .card__actions{
                .button--eye, .button--eye-slash{
                    padding-right:0px;
                    .button__label{
                        display:none;
                    }
                }
            }
        }
    }

    &.card--admin-who{

        > div {
            height : 40px;
        }

        .card__description{
            padding: 4px;

            .line {
                display: flex;

                .card-number{
                    width: 25px;
                }

                .card-fullname, .card-email{
                    flex-grow: 1;
                    flex-basis: 1px;
                }

            }
        }

        .card__actions{

            .card-be{
                transform: scale(0.7);
                margin-top: -18px;
            }
        }

        .card__description * {
            font-weight: normal;
        }
    }
}

.card--group-users-list {
    background: #e6e4e7;
    padding: 67px 0 1px;
    margin-top: -72px;
    margin-bottom: 30px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;

    .card {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    @media screen and (max-width: 700px) {
        padding-top: 127px;
        margin-top: -132px;
    }
}

.card--group--expandable:first-of-type .card--group {
    margin-top: 0;
}
