#flash-messages {
  position: fixed;
  top: 50px;
  left: calc(50% - 40px);
  z-index: 10000;

  li{
    box-shadow: 0 2px 10px rgba(0,0,0,0.25);
    padding: 5px 15px;
    display: block;
    text-align: center;
    width: 500px;
    color: white;
    margin-left: -250px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 1.7em;
    &.ng-enter {
      animation: fadeIn 1s;
    }
    &.ng-leave {
      animation: fadeOut 1s;
    }
  }

  @each $flash in $buttons-types {
    $flash-name: nth($flash, 1);
    $flash-color: nth($flash, 2);

    .#{$flash-name} {
      background-color: lighten($flash-color, 10%);
    }
  }
}
