.input{
    $size-default:nth(nth($sizes, 1), 2);
    background:none;
    outline:none;
    border:solid 1px $border;
    box-sizing: border-box;
    width:100%;
    color:$default-color;
    height:$size-default;
    padding:0px $size-default/2;
    font-size: $size-default/3;
    line-height:$size-default;
    border-radius:$size-default/8;
    margin-bottom:8px;
    transition:.8s;

    @each $size in $sizes {
        $size-nom: nth($size, 1);
        $size-value: nth($size, 2);
        &.input--#{$size-nom}{
            height: $size-value;
            padding:$size-value/4 $size-value/2;
            font-size: $size-value/3;
            line-height: $size-value/2;
            border-radius: $size-value/8;

            &.input--multi-lines{
                height: $size-value * 3;
            }
        }
    }

    &:focus{
        background-color:white;
        transition:.8s;
    }

    &.input--primary{
        background-color:$white;
        border:none;
        @include material-shadow(2);
        &:focus{
            background-color:white;
            transition:.8s;
            @include material-shadow(3);
        }
    }

    @each $buttons-type in $buttons-types {
        $type-name: nth($buttons-type, 1);
        $type-color: nth($buttons-type, 2);
        &.input--state-#{$type-name}{
            border-color:$type-color;
        }
    }
    &.input--disabled{
        background-color:lighten($border, 5%);
        color:#777777;
    }
    &.ng-invalid{
        border-color: red;
        &.token-input + .token-error-msg{
            display: block;
        }
    }
}

.token-error-msg{
    display: none;
    color: red;
    font-weight: bold;
    position: absolute;
    top: 105px;
    left: 240px;
}

.input--group{
    .input{
        border-bottom-left-radius: 6px;
        border-bottom-right-radius:0px;
        border-top-left-radius: 6px;
        border-top-right-radius: 0px;
    }
    .button{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius:6px;
        border-top-left-radius: 0px;
        border-top-right-radius: 6px;
    }
}

label.choice{
    display:block;
    position:relative;
    clear:both;
    height: 24px;
    width:100%;
    cursor:pointer;
    box-sizing: border-box;

    .choice__box{
        display:block;
        position:relative;

        width:24px;
        height:24px;
        float:left;
        overflow:hidden;
        input[type="radio"], input[type="checkbox"]{
            display:none;
        }
        .choice__box__display{
            display:block;
            position:absolute;
            width:18px;
            height:18px;
            margin:3px;
            padding:0px;
            background:none;
            border:solid 1px $border;
            border-radius:2px;
            box-sizing: border-box;
            transition:.3s;
        }

        input[type="radio"]:checked + .choice__box__display{
            border:solid 9px lighten($primary-color, 10%);
            transition:.3s;
        }


        input[type="checkbox"]:checked + .choice__box__display{
            border:solid 6px lighten($primary-color, 10%);
            transition:.3s;
        }

    }

    .choice__label{
        height:24px;
        margin-left:2px;
        font-size:14px;
        line-height: 24px;
        width:auto;
    }

    &.choice--toogle{
        $box-size: 24px;
        width: $box-size*2;
        .choice__label{
            // display:none;
        }
        .choice__box{
            width:$box-size*2;
            height:$box-size;
            border:solid 1px $border;
            border-radius:$box-size/2;
            overflow:hidden;

            .choice__box__display{
                display:block;
                position:absolute;
                width:$box-size - 2;
                height:$box-size - 2;
                padding:0px;
                margin:0px;
                top:0px;
                left:$box-size;
                border:none;
                background:$default-color-button;
                border-radius:($box-size - 2)/2;
                box-sizing: border-box;
                transition:.3s;
            }

            input[type="checkbox"]:checked + .choice__box__display{
                border:none;
                left:0;
                background:$success-color;
                transition:.3s;
            }
        }
    }
}

.indented {
    margin-left:20px;
}
