div#loading-bar .bar {
  height: 4px;
  z-index:10003 !important;
}

.player{
    div#loading-bar .bar {
        background: $player-color;
    }
}

.trainer{
    div#loading-bar .bar {
        background: $trainer-color;
    }
}

.scenarist{
    div#loading-bar .bar {
        background: $scenarist-color;
    }
}

.modeler{
    div#loading-bar .bar {
        background: $modeler-color;
    }
}

.admin{
    div#loading-bar .bar {
        background: $admin-color;
    }
}

// Needs to be improved
.view.view--menu.view--top.view--separate-shadow.view--separate-primary.ng-scope {
  transition: border 0.3s ease;
  &.view--loading {
    display: none;
    border-top: solid 4px $background-default-secondary;
    border-bottom: solid 2px $background-default-secondary;
  }
}

#loading-bar-spinner {
	top:0!important;
	left:0!important;
	width:100%;
	height:100%;
	background-color:none;
	.spinner-icon {
		display:block;
		position:absolute;
		top:12px;
		left:50%;
		margin-left:48px;
		border-radius:50% !important;
		width: 32px !important;
	  	height: 32px !important;

		border:  solid 8px transparent;
		border-top-color:  lighten($secondary-color, 10%);
		border-left-color: lighten($secondary-color, 10%);

		$spinner-timer: 2000ms;
		-webkit-animation: loading-bar-spinner $spinner-timer linear infinite !important;
	 	-moz-animation:    loading-bar-spinner $spinner-timer linear infinite !important;
	  	-ms-animation:     loading-bar-spinner $spinner-timer linear infinite !important;
		-o-animation:      loading-bar-spinner $spinner-timer linear infinite !important;
		animation:         loading-bar-spinner $spinner-timer linear infinite !important;
	}
	&:after{
		content:"Please wait";
		display:block;
		position:absolute;
		top:12px !important;
		left:50% !important;
		right:auto !important;
		margin:0 0 0 -84px !important;
		padding:8px 0px !important;
		width:120px !important;
		height:16px !important;
		text-align:right;
		color:$secondary-color;
	}
}
