$color-btn-menu: #000;
$color-bg-hover: #eee;

.menu--toggler {
  position: absolute;
  top: -9999999px;
  left: -9999999px;
}

.btn--menu {
    // @include unselect();
    float:left;
    display: block; // Will inherit :before size
    padding:0px;
    margin:0px;
    width: 48px;
    height:48px;

    &:hover, &:hover #roleMenuTitle  {
        cursor: pointer;
        background-color: $color-bg-hover;
    }

    #roleMenuTitle {
        white-space: nowrap;
        position: relative;
        /*top:-38px;
        left: 40px;
        height:48px;*/
        padding:0;
        margin-top: -24px;
        margin-left: 47px;
    }

    #roleMenuTitleBtn:hover {
        background-color: transparent;
    }

    span{
        // @include unselect();
        position: relative;
        display:block;
        width: 26px;
        margin:22px 11px 0px 11px;
        height:2px;
        background:$default-color;


        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;


        &:before, &:after {
            content: "";
            display:block;
            position:absolute;
            visibility:visible;
            opacity:1;
            left:0px;
            top:-8px;
            display: inline-block;
            width: 26px;
            height: 2px;
            border-radius:1px;
            background: $default-color;
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
        }

        &:after{
          top:8px;
        }
    }

    .menu--toggler:checked ~ & span{
        background: transparent;
    }

    .menu--toggler:checked ~ & span:before,
    .menu--toggler.menu--toggler_active ~ & span:before {
        top:0px;
        background:$default-color;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    .menu--toggler:checked ~ & span:after,
    .menu--toggler.menu--toggler_active ~ & span:after {
        top:0px;
        background:$default-color;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}

.menu {
    visibility: hidden;
    position: absolute;
    top: nth(nth($sizes, 1),2);
    background: white;
    margin: 0;
    //border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    // border: 1px solid #d7d7d7;
    @include material-shadow(1);
    border-top: none;
    padding: 0;
    z-index: 30;
    width: 0;
    height: 0;
    opacity: 0;
    transition: all 0.5s ease, width 0s ease;
    overflow: hidden;

    // Element that will trigger the menu
    .menu--toggler:checked ~ &,
    .menu--toggler.menu--toggler_active ~ & {
        visibility: visible;
        min-width: 305px;
        height: auto;
        opacity: 1;
    }

    ul{
        padding: 0;
        margin: 0;
        list-style-type: none;
        width:320px;
        li{
            width:100%;
            .button{
                width:100%;
            }
        }
    }

    hr {
      margin: 0;
    }

    .button--player{
        &:before, &:hover:before, &:active:before, &:visited:before{
            color:$player-color;
        }
    }

    .button--trainer{
        &:before, &:hover:before, &:active:before, &:visited:before{
            color:$trainer-color;
        }
    }

    .button--scenarist{
        &:before, &:hover:before, &:active:before, &:visited:before{
            color:$scenarist-color;
        }
    }

    .button--modeler{
        &:before, &:hover:before, &:active:before, &:visited:before{
            color:$modeler-color;
        }
    }

    .button--admin{
        &:before, &:hover:before, &:active:before, &:visited:before{
            color:$admin-color;
        }
    }
}

