.modal{
    position:fixed;
    display:block;
    visibility: hidden;
    opacity:0;
    top:50%;
    left:50%;
    width:800px;
    height:580px;
    margin: -290px 0px 0px -400px;
    background-color:$white;
    border-radius:8px;
    z-index:100;
    overflow-x:hidden;
    overflow-y:auto;
    transition:.5s;
    @include material-shadow(2);

    @media screen and (max-width: 800px) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        left: 0;
    }
    @media screen and (max-height: 580px) {
        height: 100%;
        top: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .modal__header{
        display:block;
        position:relative;
        width:100%;
        height:65px;
        box-sizing: border-box;
        border-bottom:solid 1px $border;

        .modal__illustration{
            float:left;
        }

        .modal__title{
            float:left;
            width:calc(100% - 130px);
            height:64px;
            box-sizing: border-box;
            padding:20px;
            font-size:24px;
            font-weight:300;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin:0px;

            &.modal__title--has-subtitle{
                padding:0px 20px;
                .modal__title__line{
                    display:block;
                    position:relative;
                    width:100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    &.modal__title__line--primary{
                        height:40px;
                        font-size:21px;
                        line-height:40px;
                    }

                    &.modal__title__line--secondary{
                        height:24px;
                        line-height:14px;
                        font-size:14px;
                    }
                }
            }
        }

        .modal__close{
            float:right;
        }
    }

    &.modal--public-password{
        width:360px;
        height:210px;
        top:50%;
        left:50%;
        margin: -140px 0px 0px -180px;

        .modal__title{
            width:calc(100% - 66px);
        }

        @media screen and (max-width: 360px) {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            left: 0;
        }

        @media screen and (max-height: 210px) {
            height: 100%;
            top: 0;
            margin-top: 0;
            margin-bottom: 0;
        }

    }
    &.modal--public-signup{
        width: 400px;
        height: 634px;
        top: 50%;
        left: 50%;
        margin: -317px 0px 0px -200px;

        .modal__title{
            width:calc(100% - 66px);
        }
        .form{
            margin-top:8px;
        }
        .form__row{
            margin:8px 4px;
        }
        @media screen and (max-width: 400px) {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            left: 0;
        }
        @media screen and (max-height: 540px) {
            height: 100%;
            top: 0;
            margin-top: 0;
            margin-bottom: 0;
        }

    }

    &.modal--users, &.modal--player-team {
        .modal__tools {
            .col-xs-6{
                margin:0px;
                padding:0px;
            }
            .input{
                width:80%;
            }

            .button {
                float: right;
                margin-top: 8px;
                margin-right: 8px;
            }
        }
    }

    &.modal--open{
        visibility: visible;
        opacity:1;
        transition:.5s;
    }

    .modal__nav{
        display: flex;
        border-bottom:solid 1px $border;

        .modal__nav__tab{
            flex-grow: 1;
            font-size:16px;
            padding: 11px 0;
            color:$default-color;
            text-decoration:none;
            text-align:center;
            cursor:pointer;
            border-bottom:solid 0px $secondary-color;
            transition:.2s;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &:hover{
                border-bottom:solid 2px $secondary-color;
            }
            &.modal__nav__tab--active, &:focus{
                text-decoration:none;
                border-bottom:solid 4px $secondary-color;
            }

        }
    }
    .modal__content{
        width:100%;
        height:calc(100% - 179px);
        box-sizing: border-box;
        background: $background-default-secondary;
        padding: 1em;
        overflow-x:hidden;
        overflow-y:auto;
        h2 {
            margin: 0;
            margin-bottom: 8px;
            font-size: 18px;
        }
        &.modal__content--nav-off{
            height:calc(100% - 130px);
        }
        &.modal__content--tools-off{
            height:calc(100% - 114px);
        }
        &.modal__content--nav-tools-off{
            height:calc(100% - 65px);
        }

        .modal__content__loading{
            @include loading-message();
        }
        .modal__content__colors{
            display:block;
            position:relative;
            width:100%;
            height:100px;
        }

        .modal__content__icons{
            display:block;
            position:relative;
            width:100%;
            height:300px;
            overflow-x:hidden;
            overflow-y:auto;
        }
    }

    .modal__tools{
        display:block;
        position:relative;
        width:100%;
        height:65px;
        border-top:solid 1px $border;
        box-sizing: border-box;

        &.flex {
            display: flex;
        }

        &> .growable {
            flex-grow: 1;
        }

        .modal__tools__info{
            margin:0px;
            padding:0px;
            height:48px;
            line-height:48px;
            color:$secondary-color;
            i{
                color:$secondary-color;
                margin:0px 8px;
            }
        }

        .modal__tools__message{
            float:left;
            margin:0px;
            padding:0px;
            height:48px;
            line-height:48px;
            color:$warning-color;

            i{
                color:$warning-color;
            }

            &.ng-enter,
            &.ng-leave
            {
                transition: .3s;
            }

            &.ng-enter.ng-enter-active,
            &.ng-leave {
                visibility:visible;
                opacity: 1;

            }

            &.ng-leave.ng-leave-active,
            &.ng-enter {
                visibility:hidden;
                opacity: 0;
            }
        }
        .modal__tools__autocomplete{
            display:block;
            position:relative;
            width:100%;
            height:100%;
        }
        .input--add-trainer{
            width:50%;
            box-sizing: border-box;
            margin:8px 16px;
        }
    }
    &.modal--coscenarists {
        .modal__header {}
        .modal__content { padding: 1em; }

        .modal__tools {
            padding: 1em;
            .form__row:nth-child(1) {
                @include make-xs-column(9);

                label {
                    @include make-xs-column(3);
                }
                input {
                    @include make-xs-column(9);
                    height: 36px;
                }
            }
            .form__row:nth-child(2) {
                @include make-xs-column(3);
                input {
                    @include make-xs-column(12);
                }
            }

        }
    }
    &.modal--history {
        .modal__header {

        }
        .modal__content {
            padding: 1em;
        }

        .modal__tools {
            padding: .5em 1em;
        }
    }
    &.modal--join-team {
        .modal__header {

        }
        .modal__content {
        }

        .modal__tools {
            input, select {
                width:58%;
                margin:8px 12px;
                float:left;
                background-color: transparent;
            }
            input::-ms-clear { /* Remove the 'x' in IE for clearing input fields */
                display: none;
            }
            select.size {
                width: 13%;
                margin-left: 0;
                padding:0 5px;
                border-radius: 6px 0 0 6px;
                text-align-last:center;
                text-align: center;
            }
            .button{
                margin:8px 0px;
            }
            .modal__tools__info {
                position:absolute;
                right:43%;
                top:9px;
                z-index: -1
            }
        }
    }
    &.modal--archives{
        .modal__content {
            padding: 1em;

            .modal__content__search{
                width:100%;
                height: 36px;
                margin-bottom:16px;
                .tool--search{
                    float:right;
                    width:50%;
                    @media screen and (max-width: 520px) {
                        width: 100%;
                    }
                }

            }
            .modal__content__list{
                display:block;
                position:relative;
                width:100%;
                overflow:auto;
                height:calc(100% - 52px);
                box-sizing:border-box;
            }
            .modal__content__empty{
                display:block;
                position:relative;
                width:100%;
                height:24px;
                padding:16px 0px;
                margin:0px;
            }
        }
        .modal__tools {
            padding:8px 16px;
            .button{
                float:right;
            }
        }
    }

    &.modal--admin-groups,  &.modal--admin-users{
        .form{
            padding:0px;
        }

        .modal__tools {
            padding:8px 16px;
            .modal__tools__button{
                float:right;
                margin-left:8px;
            }
        }
    }

    &.modal--profile {
        .modal__tools {
            padding:8px 16px;
            .modal__tools__button{
                float:right;
                margin-left:8px;
            }
        }
    }
    &.modal--settings{
        .modal__content{
            @include make-row(0px);
            padding:0px;
            margin:0px;
            .icon--chooser{
                float:left;
                margin: 0 7px;
                border:solid 0px white;
                transition:.3s;
                padding:6px 0px;
                i{
                    line-height:54px;
                    transition:.3s;
                }
                &:hover{
                    @include material-shadow();
                    border:solid 0px white;
                    transition:.3s;
                    cursor:pointer;

                }

                &.icon--selected{
                    border:solid 6px white;
                    padding:0px;
                    @include material-shadow(3);
                    transition:.3s;
                    cursor:default;

                }
            }
            .color{
                float: left;
                margin: 0px;
                width:32px;
                height:32px;
                border: 0px;
                transition: .3s;

                &:hover{
                    @include material-shadow();
                    border:solid 0px white;
                    transition:.3s;
                    cursor:pointer;
                }

                &.color--selected{
                    border:solid 6px white;
                    @include material-shadow(3);
                    transition:.3s;
                    cursor:default;
                }
            }
            .advanced {
                @include make-xs-column(10,100px);
                width: 100%;
                h3 {
                    color: $warning-color;
                    font-weight: 500;
                    font-size: 18px;
                    i{
                        color: $warning-color;
                    }
                }
            }
            .infos--single-column {
                @include make-xs-column(10,100px);
                width: 100%;
            }
            .infos--main {
                @include make-xs-column(7);
            }
            .infos--secondary {
                @include make-xs-column(5);
            }
            .infos--main, .infos--secondary, .infos--single-column, .advanced {
                .infos__label {
                    display:block;
                    padding:0px 0px;
                    margin:12px 0px 8px 0px;
                    color:#777777;
                    font-weight: bold;
                }
            }
        }
        .modal__tools {
            padding:8px 16px;
            .modal__tools__button{
                float:right;
                margin-left:8px;
            }
        }
    }

    & > .form{
        height:100%;
        padding:0px;
    }

}

.shadow{
    position:fixed;
    display:block;
    visibility: hidden;
    opacity:0;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color:rgba(0,0, 0, .6);
    z-index:99;
    transition:.5s;
    &.shadow--show{
        visibility: visible;
        opacity:1;
        transition:.5s;
    }

}
