.tool{
        &.tool--language{
            width: 100%;
            max-width: 180px;
            margin: auto;
            .tool__button{
                margin: auto;
                display:block;
                /*
                margin-right: -50px;
                background-image: url(../images/wegas-language-icon.png);
                background-repeat: no-repeat;
                background-position: center;
                */
            }
            .tool__subactions{
                display: block;
                visibility:hidden;
                opacity:0;
                height:1px;
                overflow:hidden;
                margin-top: -12px;
                background-color:white;
                padding:8px 0px;
                transition:.3s;

                .button{
                    width:100%;
                    height:32px;
                    line-height:32px;
                    padding:0px 12px;
                    text-overflow:ellipsis;
                    overflow:hidden;
                    white-space:nowrap;
                }
            }
            &.tool--open{
                .tool__button{
                    background-color:white;
                    padding-bottom:8px;
                    border-bottom-left-radius: 0px;
                    border-bottom-right-radius: 0px;
                }
                .tool__subactions{
                    display:block;
                    height:auto;
                    visibility:visible;
                    opacity:1;
                }
            }
        }
	$size-search:36px;
	&.tool--search{
		display: block;
		position: relative;
		width: $size-search;
		height: $size-search;
		background-color: $white;
		border-radius: $size-search/2;
		transition: .3s;
		overflow: hidden;
                @include material-shadow();

		.tool__link{
			display: block;
			position: relative;
			width: $size-search;
			height: $size-search;
			float: left;
			&:before{
				content: $fa-var-search;
				color: $default-color-button;
				display: block;
				position:absolute;
				top:0px;
				left:0px;
				width:$size-search;
				height:$size-search;
				font-size:$size-search/2;
				font-family:"FontAwesome";
				line-height:$size-search;
				text-align:center;
				transition:.3s;
				cursor:default;
			}
		}
		&:hover{
			background-color:$white;
			.tool__link{
				&:before{
					color:$default-color;
				}
			}
		}

		.tool__input{
			width:calc(100% - 48px);
			height:$size-search;
			border:none;
			background:none;
			outline:none;
			color:$default-color;
		}

		&.tool--open{
                    width:100%;
		}
	}
	$size-new-session:64px;
 	&.tool--new-session{
		display:block;
		position:relative;
		width:$size-new-session;
		height:$size-new-session;
		border-radius:$size-new-session/2;
		transition:.3s;
		overflow:hidden;
		.tool__link{
			display:block;
			position:absolute;
			bottom:0px;
			left:0px;
			width:$size-new-session;
			height:$size-new-session;
			border-radius:$size-new-session/2;
			background-color:$secondary-color;
			transition:.3s;
			&:before{
				content:$fa-var-plus;
				color:$white;
				display:block;
				position:absolute;
				top:0px;
				left:0px;
				width:$size-new-session;
				height:$size-new-session;
				font-size:$size-new-session/2;
				font-family:"FontAwesome";
				line-height:$size-new-session;
				text-align:center;
				transition:.3s;
				cursor:pointer;
			}
		}

		.tool__form{
			h4{
				padding:32px 24px 0px 24px;
			}
			display:block;
			position:absolute;
			bottom:$size-new-session;
			left:0px;
			width:100%;
			height:400px - $size-new-session;
			border-top-right-radius:$size-new-session/2;
			border-top-left-radius:$size-new-session/2;
			border-bottom-right-radius:$size-new-session/2;
			background-color:$white;
			transition:.3s;
			form{
				display:none;
			}
		}

		&:hover{
			.tool__link{
				background-color:$white;
				&:before{
					color:$default-color;
				}
			}
		}

		&.tool--open{
			width:calc(100% - 32px);
			height:400px;

			.tool__link{
				background-color:$white;
				border-top-left-radius:0px;
				border-top-right-radius:0px;
				&:before{
					color:$default-color;
				}
			}
			.tool__form{
				form{
					display:block;
				}
			}
		}
	}

	&.tool--selectable{
		/*display:block;*/
		position:relative;

		#text--selectable--tmp {
		    position: absolute;
		    display:block;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    background:none;
		    border: 0 none transparent;
		    margin: 0;
		    padding: 0;
		    outline: none;
		    resize: none;
		    overflow: hidden;
		    font-family: inherit;
		    font-size: 1em;
		}
	}

}
