.view {
    display: block;
    position: relative;
    overflow-x: visible;
    overflow-y: auto;

    // Styles de positionnements
    &.view--main {
        width: 100%;
        height: 100%;
        @include make-row(0px);
    }

    &.view--menu {
        @include make-row(0px);
        width: 100%;
        height: 50px; /* was 54px */
        z-index: 4;
        overflow: visible;
    }

    &.view--workspace {
        @include make-row(0px);
        width: 100%;
        height: calc(100% - 56px);
        min-height: 320px;
        z-index: 3;
    }

    &.view--public-index {
        height: calc(100% - 45px);
        background-color: $background-default-secondary !important;
        overflow: auto;

        @include make-sm-column(12);
        @include make-xs-column(12);

        .link--simple-primary {
            text-decoration:none;
            margin:20px auto 0;
            display:block;

            #create-account {
                margin:0 auto;
                display:block;
                font-weight: normal;
            }
        }

        .link--simple-primary:hover {
            text-decoration: none;
        }

    }
    .public-footer {
        text-align: center;
        font-style: italic;
        overflow: visible;
        position: static;
        color: #808080;

        a {
            color: inherit;
        }
    }

    &.view--public-forms {
        height: 100%;
        @include make-sm-column(4);
        @include make-xs-column(12);
        @media screen and (max-width: $screen-sm) {
            height: auto;
        }
    }

    &.view--trainer-tools {
        @include make-xs-column(12);
        @include make-sm-column(4);
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        @media screen and (max-width: $screen-sm) {
            height: auto;
        }
        .view__top-tools {
            display: block;
            position: absolute;
            width: 100%;
            height: 48px + 28px + 28px;
            top: 0px;
            left: 0px;
            padding: 28px 16px;
            .tool--search {
                float: right;
            }
        }
        .view__bottom-tools {
            display: block;
            position: absolute;
            width: 100%;
            height: 48px + 28px + 28px;
            bottom: 0px;
            left: 0px;
            padding: 28px 16px;
            .tool--new-session {
                display: block;
                position: absolute;
                bottom: 16px;
                left: 16px;
            }
            .tool--archive {
                display: block;
                position: absolute;
                bottom: 16px;
                right: 16px;
            }
        }
    }

    &.view--history-download {
        p {
            @include make-xs-column(6);
            @include make-md-column(12);
            button {
                width: 100%;
            }
        }
    }

    &.view--admin-menu {
        @include make-xs-column(12, 96px);
        @include make-md-column(3, 96px);
        overflow-x: hidden;
        width: 100% !important;
        background-color: transparent !important;
        border-bottom: 2px solid $admin-color;
        .form {
            margin: 0px;
            padding: 0px;
        }
    }

    &.view--new-session,
    &.view--join-session,
    &.view--create-scenario,
    &.view--history-download {
        max-height: 100%;
        width: 100% !important;
        overflow-y: hidden;
        /* @include make-xs-column(12, 96px); */
        /* @include make-md-column(3, 96px); */

        h3 {
            font-weight: normal;
            float: left;
            padding-top: 25px;
        }
        .form {
            margin: 0px;
            padding: 0px;

            .combobox {
                background-color: white;
                border:1px solid #dfdfdf;

                .tool.tool--search{
                    border-radius:0;
                }

                .combobox__choices {
                    margin-top: 5px;
                    padding: 0 5px;
                    max-height: 300px;
                    overflow-y : auto;

                    input {
                        display: none;
                    }

                    .combobox__choice{
                        &:hover {
                            background-color: #f0f0f0;
                        }

                        &.selected {
                            background-color: #c1c1c1;
                        }
                    }
                }

                label {
                    cursor: pointer;
                    display: inline-block;
                    width: 100%;
                }

                &.combobox-multiselect {
                    input {
                        display:inline-block;
                    }
                    label {
                        width: calc(100% - 15px)
                    }
                }

            }
        }
        .view__login-form {
            padding: 10px;
            min-width: 275px;
        }

        @media screen /* and (max-width: $screen-md) */ {
            display: block;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 0px;
            padding: 0px 128px;
            z-index: 2;
            transition: .3s;

            &.view--expanded {
                height: 100%;
                transition: .3s;
            }
        }

        @media screen and (max-width: 660px) {
            padding: 0px 48px;
        }

    }

    &.view--admin-content{
        .admin-tools {
            h4 {
                font-weight: bolder;
            }
            > div {
                margin-bottom: 40px;
            }

            .admin-actions li:hover {
                text-decoration: underline;
            }
        }
    }

    &.view--admin-content,
    &.view--played-sessions-list,
    &.view--managed-sessions-list,
    &.view--scenarios-list,
    &.view--history-list {
        @include make-xs-column(12, 96px);
        /*@include make-md-column(9, 96px); */ /* hack to occupy 100% width */
        height: 100%;

        h3 {
            @include make-xs-column(12);
            /* @include make-md-column(6); */
            box-sizing: border-box;
            padding: 0px;
            font-weight: normal;

            i {
                padding-right: 8px;
            }

            @media screen /* and (max-width: $screen-md)*/ {
                width: auto;
                float: left;
            }

            @media screen and (max-width: 819px) {
                i + span {
                    display: none;
                }
            }
        }

        .view__tools {
            margin: 28px 0 8px 0;
            padding: 0px;
            float: right;
            width: 50%;
            max-width: 320px;

            @media screen and (max-width: 800px) {
                clear: both;
                width: 100%;
                float: left;
                margin: 4px 0 12px 0px;
            }
        }

        .view__options {
            padding:40px 15px 15px 0;
            float:right;
            text-transform: uppercase;
            font-size: 12px;
            cursor: pointer;
            color: #888;

            &:hover {
                color: #000;

                .checkbox:before {
                    color: #000;
                }
            }

            .checkbox:before {
                content:"\f096";
                font-family: FontAwesome;
                color: #888;
                padding-right: 3px;
            }

            .checkbox.selected:before {
                content:"\f046";
            }

            @media screen and (max-width: 880px) {
                clear: both;
                width: 100%;
                float: left;
                padding-top: 15px;
            }
        }

        .view__list {
            @include make-xs-column(12);
            height: calc(100% - 90px);
            padding: 8px 0px 0px 0px;
            box-sizing: border-box;
            overflow-x: hidden;
            overflow-y: auto;

            &.ng-enter,
            &.ng-leave {
                transition: .3s;
            }

            &.ng-enter.ng-enter-active,
            &.ng-leave {
                visibility: visible;
                opacity: 1;

            }

            &.ng-leave.ng-leave-active,
            &.ng-enter {
                visibility: hidden;
                opacity: 0;
            }

            &.ng-enter {
                transition-delay: .3s;
            }

            &.view__list--no-content {
                padding: 16px 0px 32px 0px;
                font-style: italic;
            }
            &.view__list--loading {
                @include loading-message();
                overflow-y:hidden;
                /* height: 800px; */
            }
            &.view__list--with-archive {
                height: calc(100% - 160px);
            }

            .group-title {
                font-weight:bold;
                font-size: 16px;
                padding-top: 10px;
            }
        }
        .view__no-group {
            @include make-xs-column(12);
            height: calc(100% - 82px);
            padding: 8px 16px 32px 16px;
            box-sizing: border-box;
            overflow-x: hidden;
            overflow-y: auto;
        }

        .view__archives {
            @include make-xs-column(12);
            height: 80px;
            padding: 16px 0px;
            clear: both;
            box-sizing: border-box;
            .button {
                float: right;
            }

            &.view--admin-content,
            &.view--played-sessions-list,
            &.view--managed-sessions-list,
            &.view--scenarios-list,
            &.view--history-list {
                @include make-xs-column(12, 96px);
                /*@include make-md-column(9, 96px); */ /* hack to occupy 100% width */
                height: 100%;

                h3 {
                    @include make-xs-column(12);
                    /* @include make-md-column(6); */
                    box-sizing: border-box;
                    padding: 0px;
                    font-weight: normal;

                    i {
                        padding-right: 8px;
                    }

                    @media screen /* and (max-width: $screen-md)*/ {
                        width: auto;
                        float: left;
                    }

                    @media screen and (max-width: 819px) {
                        i + span {
                            display: none;
                        }
                    }
                }

                .view__tools {
                    margin: 28px 0 8px 0;
                    padding: 0px;
                    float: right;
                    width: 50%;
                    max-width: 320px;

                    @media screen and (max-width: 750px) {
                        clear: both;
                        width: 100%;
                        float: left;
                        margin: 4px 0 12px 0px;
                    }
                }

                .view__options {
                    padding: 40px 15px 15px 0;
                    float: right;
                    text-transform: uppercase;
                    font-size: 12px;
                    cursor: pointer;

                    label {
                        color: #999;
                    }

                    label:hover {
                        color: #333;
                    }

                    @media screen and (max-width: 980px) {
                        clear: both;
                        width: 100%;
                        float: left;
                        padding-top: 15px;
                    }
                }

                .view__list {
                    @include make-xs-column(12);
                    height: calc(100% - 90px);
                    padding: 8px 0px 0px 0px;
                    box-sizing: border-box;
                    overflow-x: hidden;
                    overflow-y: auto;

                    &.ng-enter,
                    &.ng-leave {
                        transition: .3s;
                    }

                    &.ng-enter.ng-enter-active,
                    &.ng-leave {
                        visibility: visible;
                        opacity: 1;

                    }

                    &.ng-leave.ng-leave-active,
                    &.ng-enter {
                        visibility: hidden;
                        opacity: 0;
                    }

                    &.ng-enter {
                        transition-delay: .3s;
                    }

                    &.view__list--no-content {
                        padding: 16px 0px 32px 0px;
                        font-style: italic;
                    }
                    &.view__list--loading {
                        @include loading-message();
                        overflow-y:hidden;
                    }
                    &.view__list--with-archive {
                        height: calc(100% - 160px);
                    }
                }
                .view__no-group {
                    @include make-xs-column(12);
                    height: calc(100% - 82px);
                    padding: 8px 16px 32px 16px;
                    box-sizing: border-box;
                    overflow-x: hidden;
                    overflow-y: auto;
                }

                .view__archives {
                    @include make-xs-column(12);
                    height: 80px;
                    padding: 16px 0px;
                    clear: both;
                    box-sizing: border-box;
                    .button {
                        float: right;
                    }
                }
            }
        }
    }

    &.view--managed-sessions-list,
    &.view--scenarios-list {
        display: flex;
        height: 100%;
        flex-direction: column;

        .view__list {
            flex-grow: 1;
            flex-shrink:1;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }

    &.view--sessions-users-new {
        @include make-xs-column(12);
        @include make-sm-column(4);
        margin: 0px;
        padding: 0px;
        float: none;
        clear: both;
        .view__users-tabs {
            .button {
                width: 50%;
                float: left;
                text-align: center;
            }
        }
        .view__users-add {
            h3 {
                padding: 64px 16px 16px 16px;
            }
        }

    }

    &.view--sessions-users-list {
        @include make-xs-column(12);
        @include make-sm-column(8);
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        h3 {
            padding: 64px 16px 16px 16px;
        }
    }

    &.view__users-individual {
        padding: 0px;
    }

    &.view__users-teams {
        & .view__users-team {
            padding-bottom: 16px;
            clear: both;
            & > h4 {
                margin: 0px 0px 16px 0px;
                padding: 0px;
                height: 48px;
                display: block;
                span {
                    font-size: 15px;
                    line-height: 48px;
                    height: 48px;
                    font-weight: 500;
                    float: left;
                    margin-left: 16px;
                }
            }
        }
    }

    // Styles de décorations
    @each $level in $backgrounds-levels {
        $level-name: nth($level, 1);
        $level-color: nth($level, 2);
        $level-color-reverse: nth($level, 3);

        .view--reverse-#{$level-name} {
            background-color: $level-color-reverse;
            color: $white;
        }
        .view--#{$level-name} {
            background-color: $level-color;
        }
    }

    .view--separate-primary {
        background-color: $background-default-secondary;
        border-top: none; /* solid 4px $background-default-secondary; */
        border-bottom: solid 2px #fff;
    }

    @each $position in $positions {
        .view--separate-#{$position} {
            border-#{$position}: solid 1px $border;
        }
        .view--separate-#{$position}-reverse {
            border-#{$position}: solid 1px $border-reverse;
        }
    }

    .view--separate-shadow {
        @include material-shadow(1);
    }

    // Elements
    .view__first-header {
        display: block;
        position: relative;
        text-align: left;
        margin: 32px 16px;
        height: 64px;
        padding: 8px 0px;
        padding-left: 80px;
        background-image: URL('../images/logo_wegas.png');
        background-repeat: no-repeat;
        background-size: 64px;
        color: $white;
    }

    .view__first-subtitle {
        display: block;
        position: relative;
        width: 100%;
        margin: auto;
        max-width: 380px;
        padding: 8px 20px 0px 20px;
        font-size: 16px;
        /*color: $white;*/

        &.subtitle--center {
            text-align: center;
        }

        &.subtitle--medium {
            padding: 32px 20px;
        }
    }

    .view__public-nav {
        display: block;
        position: relative;
        top: 40%;
        margin-top: 48px;
        padding: 0px 32px;
        text-align: right;
    }

    .view__public-lang {
        position: relative;
        max-width: 380px;
        margin: 0 auto;
        text-align: right;
        margin-top: -48px;

        .action {
            height: 48px;
            .button {
                margin: 0;
            }
        }

        li {
            float: right;
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100%;
        }
        .subactions {
            display: none;
            position: absolute;
            top: 46px;
            right: 0;
            width: 120px;
            padding: 0;
            background: #fff;
            box-shadow: 0 1px 3px rgba(0,0,0,.5);
            z-index: 100;

            &.subactions--show {
                display: block;
            }
        }
        .subaction .button {
            width: 100%;
            padding: 0 12px;
            height: 32px;
            line-height: 32px;
            margin: 0;
        }
    }

    .view__login-form {
        margin: auto;
        width: 100%;
        max-width: 380px;
        border-radius: 6px;
        padding: 12px 32px;

        #login.hidden {
            display: none;
        }
    }
    .view__password-form.form {
        padding: 16px;
        .form__row {
            margin: 0px;
        }
    }

    .view__signup-form {
        width: 100%;
        top: 40%;
        padding: 0px 64px;
        margin-top: -136px;
    }

    .view__aai-login {
        background-image: URL('../images/switch_aai.png');
        background-repeat: no-repeat;
        background-size: 13px 16px;
        background-position: 6px center;
        background-color: #eee !important;
        display: inline-block;
        font-family: Verdana, sans-serif;
        font-size: 14px;
        color: #666 !important;
        text-decoration: none;
        text-transform: none;
        border-radius: 5px;
        height: 25px;
        padding: 0 6px 3px 24px;
        border: 2px outset #e7e7e7;
    }

    .view__aai-login:hover {
        background-color: #ccc !important;
        color: black !important;
    }

    .view__aai-login:focus {
        outline: none;
    }

    .view__form--choose-team {
        @include make-sm-column(6);
        @include make-sm-column-offset(3);
        @include make-md-column(4);
        @include make-md-column-offset(4);
        margin-top: 128px;
    }

    .view__menu-workspaces {
        display: block;
        position: relative;
        width: 100%;
        height: 48px; /* was 100% */
        float: left;
        overflow: visible;

        .view__sub-menu {
            padding: 0px;
            float: right;
            li {
                float: right;
                list-style-type: none;
            }
            .action {
                height: 48px;
            }
        }
    }
    .view__headding-workspace {
        margin: 0px;
        padding: 14px 7px;
        float: left;
        color: black;
        cursor: pointer;
    }

    .view__menu-secondary {
        display: block;
        position: relative;
        width: 50%;
        height: 100%;
        float: right;
        text-align: right;
    }

    .view__button-archives {
        display: block;
        position: absolute !important;
        bottom: 16px;
        left: 16px;
        @media screen and (max-width: $screen-md) {
            position: relative !important;
            bottom: auto;
            left: auto;
        }
    }

    .view--albasim {
        display: block;
        position: relative;
        width: 360px;
        height: 40px;
        margin: auto;
        .view__logo-albasim {
            display: block;
            position: relative;
            width: 120px;
            height: 120px;
            margin: 0px;
            padding: 0px;
            background-size: 100%;
            background-image: url("../images/albasim_logo.png");
            background-repeat: no-repeat;
            float: left;
        }
        .view__first-subtitle {
            margin: 0px;
            padding: 64px 0 0 0;
            width: 240px;
            /*float: right;*/
            text-align: center;
        }
    }

    &.view--menu {
        .view__headding-workspace {
            @media screen and (max-width: $screen-xs) {
                width: calc(100% - 198px);
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }

        .view__headding-workspace--label {
            @media screen and (max-width: $screen-xs) {
                display: none;
            }
        }

        .view__sub-menu {
            .button--user {
                @media screen and (max-width: $screen-sm) {
                    padding: 16px 24px;
                    .button__label {
                        display: none;
                    }
                }
            }
        }

        .action {
            &.action--language {
                .subactions {
                    display: none;
                    &.subactions--show {
                        display: block;
                        position: absolute;
                        top: 50px;
                        right: 50px;
                        width: 120px;
                        padding: 0px;
                        padding-top: 4px;
                        background: white;
                        @include material-shadow(1);

                        .subaction {
                            width: 100%;
                            padding: 0px;
                            margin: 0px;

                            .button {
                                width: 100%;
                                height: 32px;
                                line-height: 32px;
                                padding: 0px 12px;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                            }
                        }
                    }
                }
            }
        }
    }
    .view__button-collapse, .view__button-expand {
        display: none;
    }
    .view__button-expand {
        &.button {
            @media screen and (max-width: $screen-md) {
                display: block;
                margin: 24px 12px 0px 12px;
                padding: 16px;
                float: left;
            }
        }
    }
    .view__button-collapse {
        @media screen and (max-width: $screen-md) {
            display: block;
            position: absolute;
            top: 18px;
            right: 32px;
        }
    }

}

.centered-page {
    max-width: 1024px;
    margin: 0 auto;
    /* position: relative; */
}

.player {
    @extend .centered-page;
    .view {
        &.view--menu {
            border-bottom-color: $player-color;
            transition: .3s;
        }
    }
}

.trainer {
    @extend .centered-page;
    .view {
        &.view--menu {
            border-bottom-color: $trainer-color;
            transition: .3s;
        }
    }
}

.scenarist {
    @extend .centered-page;
    min-height: 50%;
    .view {
        &.view--menu {
            border-color: $scenarist-color;
            transition: .3s;
        }
    }
}


.modeler {
    @extend .centered-page;
    min-height: 50%;
    .view {
        &.view--menu {
            border-color: $modeler-color;
            transition: .3s;
        }
    }
}



.admin {
    @extend .centered-page;
    .view {
        &.view--menu {
            border-color: $admin-color;
            transition: .3s;
        }
        .view__list--loading {
            float: left;
            margin-top: 24px;
            margin-left: 20px;
        }
    }
}

.guest {
    .view.view--middle {
        background-color: inherit;
        margin-top: 40px;
    }

    .view.view--played-sessions-list {
        #player-sessions-title {
            display: none;
        }
        #player-join-session-button {
            display: none;
        }
        .button--play {
            background-color: $success-color;
        }
    }

    .view.view--join-session {
        height: 0;

        /* NB: everything below should be removed when this layout becomes definitive */

        /*
            position: relative;
            height: auto;
            transition: none;

            .view__first-subtitle {
            max-width: 200%;
            width: 200%;
            padding: 0;
            margin: 20px -40% 20px;
            }
            .view__login-form {
            margin: auto;
            }
            #wegas-icon-title {
            display: none;
            }
            .link--simple-primary {
            display: block;
            margin: 20px auto 30px !important;
            text-decoration: none;

            #create-account {
            display: block;
            margin: 0 auto;
            font-weight: normal;
            }
            #create-account:hover {
            background-color: lightgray;
            }
            }
        */
    }
}
