.view{
    display:block;
    position:relative;
    overflow-x:visible;
    overflow-y:auto;

    // Styles de positionnements
    &.view--main{
        width:100%;
        height:100%;
        @include make-row(0px);
    }

    &.view--menu{
        @include make-row(0px);
        width:100%;
        height:54px;
        z-index:4;
        overflow:visible;
    }

    &.view--workspace{
        @include make-row(0px);
        width:100%;
        height:calc(100% - 56px);
        min-height: 320px;
        z-index:3;
    }

    &.view--public-index{
        height:100%;
        @include make-sm-column(12);
        @include make-xs-column(12);
    }

    &.view--public-forms {
        height:100%;
        @include make-sm-column(4);
        @include make-xs-column(12);
        @media screen and (max-width: $screen-sm) {
            height: auto;
        }
    }

    &.view--trainer-tools{
        @include make-xs-column(12);
        @include make-sm-column(4);
        height:100%;
        overflow-x:hidden;
        overflow-y:auto;
        @media screen and (max-width: $screen-sm) {
            height: auto;
        }
        .view__top-tools{
            display:block;
            position:absolute;
            width:100%;
            height:48px + 28px + 28px;
            top:0px;
            left:0px;
            padding:28px 16px;
            .tool--search{
                float:right;
            }
        }
        .view__bottom-tools{
            display:block;
            position:absolute;
            width:100%;
            height:48px + 28px + 28px;
            bottom:0px;
            left:0px;
            padding:28px 16px;
            .tool--new-session{
                display:block;
                position:absolute;
                bottom:16px;
                left:16px;
            }
            .tool--archive{
                display:block;
                position:absolute;
                bottom:16px;
                right:16px;
            }
        }
    }

    &.view--history-download {
        p {
            @include make-xs-column(6);
            @include make-md-column(12);
            button {
                width: 100%;
            }
        }
    }

    &.view--new-session,
    &.view--join-session,
    &.view--create-scenario,
    &.view--history-download
    {
        @include make-xs-column(12, 96px);
        @include make-md-column(4, 96px);
        .form{
            margin:0px;
            padding:0px;
        }
    }
    &.view--sessions-list,
    &.view--scenarios-list,
    &.view--history-list {
        @include make-xs-column(12, 96px);
        @include make-md-column(8, 96px);
        height:100%;

        h3{
            @include make-xs-column(12);
            @include make-md-column(6);
            box-sizing:border-box;
            padding:0px;
        }

        .view__tools{
            @include make-xs-column(12);
            @include make-md-column(6);
            margin-top:28px;
            padding:0px;
        }
        .view__list{
            @include make-xs-column(12);
            height:calc(100% - 82px);
            padding:8px 0px 32px 0px;
            box-sizing: border-box;
            overflow-x:hidden;
            overflow-y:auto;

            &.ng-enter, 
            &.ng-leave
            { 
                transition: .3s;
            } 
             
            &.ng-enter.ng-enter-active, 
            &.ng-leave {
                visibility:visible;
                opacity: 1;

            }
             
            &.ng-leave.ng-leave-active,
            &.ng-enter {
                visibility:hidden;
                opacity: 0;
            }
            
            &.ng-enter{
                transition-delay:.3s;
            }

            &.view__list--no-content{
                padding:8px 0px 32px 0px;
            }
            &.view__list--with-archive{
                height:calc(100% - 162px);
            }
        }
        .view__no-group{
            @include make-xs-column(12);
            height:calc(100% - 82px);
            padding:8px 16px 32px 16px;
            box-sizing: border-box;
            overflow-x:hidden;
            overflow-y:auto;
        }

        .view__archives{
            @include make-xs-column(12);
            height:80px;
            padding:16px 0px;
            clear:both;
            box-sizing: border-box;
            .button{
                float:right;
            }
        }

    }

    &.view--sessions-users-new{
        @include make-xs-column(12);
        @include make-sm-column(4);
        margin:0px;
        padding:0px;
        float:none;
        clear:both;
        .view__users-tabs{
            .button{
                width:50%;
                float:left;
                text-align:center;
            }
        }
        .view__users-add{
            h3{
                padding:64px 16px 16px 16px;
            }
        }

    }

    &.view--sessions-users-list {
        @include make-xs-column(12);
        @include make-sm-column(8);
        height:100%;
        overflow-y:auto;
        overflow-x:hidden;
        h3{
            padding:64px 16px 16px 16px;
        }

        .view__users-individual{
            padding:0px 16px;
        }

        .view__users-teams{

            & .view__users-team {
                padding-bottom:16px;
                clear:both;
                & > h4{
                margin:0px 16px 16px 16px;
                padding:16px 0px;
                font-size:15px;
                font-weight:500;
                border-bottom:solid 1px $border;
            }
            }
        }
    }

    // Styles de décorations
    @each $level in $backgrounds-levels {
        $level-name : nth($level, 1);
        $level-color : nth($level, 2);
        $level-color-reverse : nth($level, 3);

        .view--reverse-#{$level-name} {
            background-color: $level-color-reverse;
            color:$white;
        }
        .view--#{$level-name}{
            background-color: $level-color;
        }
    }

    .view--separate-primary {
        border-top: solid 5px $primary-color;
    }

    @each $position in $positions {
      .view--separate-#{$position} {
        border-#{$position}: solid 1px $border;
      }
      .view--separate-#{$position}-reverse {
        border-#{$position}: solid 1px $border-reverse;
      }
    }

    .view--separate-shadow{
        @include material-shadow(2);
    }

    // Elements
    .view__first-header{
        display:block;
        position:relative;        
        text-align:left;
        margin-top:64px;
        color:$white;
        @include make-sm-column(8);
        @include make-sm-column-offset(2);
        @include make-md-column(6);
        @include make-md-column-offset(3);
        @include make-lg-column(4);
        @include make-lg-column-offset(4);
    }

    .view__first-subtitle{
        display:block;
        position:relative;        
        @include make-sm-column(8);
        @include make-sm-column-offset(2);
        @include make-md-column(6);
        @include make-md-column-offset(3);
        @include make-lg-column(4);
        @include make-lg-column-offset(4);
        padding:8px 20px;
        font-size:16px;
        color:$white;

        &.subtitle--center{ 
            text-align:center;
        }

        &.subtitle--medium{
            padding:32px 20px;
        }
    }

    .view__public-nav{
        display:block;
        position:relative;
        top:40%;
        margin-top:48px;
        padding:0px 32px;
        text-align:right;
    }

    .view__login-form{
        @include make-sm-column(8);
        @include make-sm-column-offset(2);
        @include make-md-column(6);
        @include make-md-column-offset(3);
        @include make-lg-column(4);
        @include make-lg-column-offset(4);
    }
    .view__password-form.form{
        padding:16px;
        .form__row{
            margin:0px;
        }
    }

    .view__signup-form{
        width:100%;
        top:40%;
        padding:0px 64px;
        margin-top:-136px;
    }

    .view__form--choose-team{
        @include make-sm-column(6);
        @include make-sm-column-offset(3);
        @include make-md-column(4);
        @include make-md-column-offset(4);
        margin-top:128px;
    }

    .view__menu-workspaces{
        display:block;
        position:relative;
        width:100%;
        height:100%;
        float:left;
        overflow:visible;

        .view__sub-menu {
            float: right;
            li {
                float: right;
                list-style-type: none;
            }
        }
    }
    .view__headding-workspace{
        margin:0px;
        padding:14px 7px;
        float:left;
        color:black;
    }

    .view__menu-secondary{
        display:block;
        position:relative;
        width:50%;
        height:100%;
        float:right;
        text-align:right;
    }

    .view__button-archives{
        display:block;
        position:absolute !important;
        bottom:16px;
        left:16px;
        @media screen and (max-width: $screen-md) {
            position:relative !important;
            bottom:auto;
            left:auto;
        }
    }
    .view__logo-albasim{
        display:block;
        position:absolute;
        top:-110px;
        left:0px;
        width:120px;
        height:120px;
        background-size:100%;
        -webkit-filter: drop-shadow(0 1px 3px rgba(0,0,0,0.12));
        filter:         drop-shadow(0 1px 3px rgba(0,0,0,0.12)); 
        background-image:url("../images/albasim_logo.png");
    }

}