<div class="infos--main">
	<label class="infos__label">Name</label>
	<input ng-model="activeInfos.name" class="input input--small" type="text" placeholder="Name is required" />
	<label class="infos__label">Comment</label>
	<textarea ng-model="activeInfos.comments" class="input input--small input--multi-lines" placeholder="Comment is optionnal"></textarea>
</div>
<div class="infos--secondary">
	<label class="infos__label">Access key</label>
	<input ng-model="activeInfos.token" class="input input--small" type="text" placeholder="Access key without space is required" />
	<label class="infos__label">Type</label>
	<label class="choice">
		<div class="choice__box">
			<input ng-model="activeInfos.individual" type="radio" ng-value="true" /> 
			<div class="choice__box__display"></div>
		</div>
		<div class="choice__label">Individual</div>
 	</label>
 	<label class="choice">
		<div class="choice__box">
			<input ng-model="activeInfos.individual" type="radio" ng-value="false" /> 
			<div class="choice__box__display"></div>
		</div>
		<div class="choice__label">In team</div>
 	</label>
 	<label class="infos__label">Scenario : {{activeInfos.scenario}}</label>
</div>