<div class="advanced">

    <label class="infos__label">{{'PRIVATE-SCENARIOS-LANGUAGES-CHECKBOX'| translate}}</label>

    <div ng-repeat="language in activeInfos.languages">
        <label class="choice indented">
            <div class="choice__box">
                <input ng-disabled="isReadonly" ng-model="language.active" type="checkbox" />
                <div class="choice__box__display"></div>
            </div>
            <div class="choice__label">{{language.lang}} ({{language.code}})</div>
        </label>
    </div>
</div>
