.container {
    color: #6A95B6;
    display: inline-block;
    margin-top: 1.5em;
}

.icon {
    color: black;
    font-size:85%;
}

.tree {
    padding: 5px 10px;
    background-color: white;
    box-shadow: 0 2px 5px black;
    border-radius: 3px;
    width: auto;
}

.selectorLink {
    position: relative;
    margin-right: 1em;
}

.path {
    position: absolute;
    font-size: 75%;
    white-space: nowrap;
    bottom: 150%;
}

.globalMethod {
    color: hotpink;
}

.label{
    color:black;
}