<div style="max-width:30em; margin:auto;">
    <a class="non-collapsible-close-button button button--medium button--round button--default-reverse button--label-off button--close" ng-click="cancelModel()">
        <span class="button__label">X</span>
    </a>
    <h3>{{'MODELER-INDEX-ADD-TITLE'| translate}}</h3>
    <form class="form form__create-model">
        <div class="form__row">
            <input class="form__row__entry input input--small" type="text" id="session-token" ng-model="newModel.name" placeholder="{{'MODELER-INDEX-ADD-NAME-INPUT'| translate}}" autocomplete="off" style="background:#fff">
        </div>


        <div ng-if="rawmodelsmenu.length > 20" class="combobox">
            <div id="createModelSearchField" class="view__tools">
                <div class="tool tool--search tool--open">
                    <a class="tool__link"></a>
                    <input
                        class="tool__input"
                        ng-model="newModel.search"
                        type="text"
                        ng-change="filterModels(newModel.search);"
                        ng-init="filterModels(newModel.search);"
                        />
                </div>
            </div>

            <div class="combobox__choices">
                <div ng-repeat="model in modelsmenu" class="combobox__choice" ng-class="newModel.templateId === model.id ? 'selected' : ''">
                    <input type="radio" id="{{'model' + model.id}}" ng-model="newModel.templateId" ng-value="{{model.id}}">
                    <label for="{{'model'+model.id}}">{{model.name}}</label>
                </div>
            </div>
        </div>
        <div ng-if="rawmodelsmenu.length <= 20">
            <div class="form__row">
                <select class="form__row__entry input input--small" ng-model="newModel.templateId">
                    <option value="0" disabled>{{'MODELER-INDEX-ADD-SCENARIO-INPUT'| translate}}</option>
                    <option ng-repeat="model in modelsmenu" value="{{model.id}}">{{model.name}}</option>
                </select>
            </div>
        </div>

        <div class="form__row form__row--right">
            <a class="modal__tools__button button button--small button--default" ng-click="cancelModel()">
                <span class="button__label">{{'PRIVATE-MODALE-SETTINGS-CANCEL-BTN'| translate}}</span>
            </a>
            <a ng-click="createModel()" class="form__row__btn form__submit button button--success" style="margin-left:8px">
                <span class="button__label">{{'SCENARIST-INDEX-ADD-BTN'| translate}}</span>
            </a>
        </div>
    </form>
</div>
