<div class='modeler-model-extractor' style="max-width:30em; margin:auto;">
    <a class="non-collapsible-close-button button button--medium button--round button--default-reverse button--label-off button--close" ng-click="cancelModel()">
        <span class="button__label">X</span>
    </a>
    <h3>{{'MODELER-INDEX-EXTRACT-TITLE'| translate}}</h3>

    <form class="form form__extract-model">
        <div class="form__row">
            <input class="form__row__entry input input--small" type="text" id="session-token" ng-model="newModel.name" placeholder="{{'MODELER-INDEX-ADD-NAME-INPUT'| translate}}" autocomplete="off" style="background:#fff">
        </div>


        <div class='combobox combobox-multiselect'>
            <div id="extractSearchField" class="view__tools">
                <div class="tool tool--search tool--open">
                    <a class="tool__link"></a>
                    <input
                        class="tool__input"
                        ng-model="extractsearch"
                        type="text"
                        ng-change="filterScenarios(extractsearch);"
                        ng-init="filterScenarios(extractsearch);"
                        />
                </div>
            </div>

            <div class='combobox__choices'>
                <div class="combobox__choice" ng-repeat="scenario in scenariomenu" ng-class="selectedIds[scenario.id] ? 'selected' : ''">
                    <input type='checkbox' ng-model="selectedIds[scenario.id]" value="{{scenario.id}}" id="{{scenario.id}}"><label for="{{scenario.id}}">{{scenario.name}}</label>
                    <!--<select class="form__row__entry input input--small" ng-model="newModel.templateId">
                        <option value="0" disabled>{{'MODELER-INDEX-ADD-SCENARIO-INPUT' | translate}}</option>
                        <option ng-repeat="model in modelmenu" value="{{model.id}}">{{model.name}}</option>
                    </select>-->
                </div>
            </div>
        </div>
        <div class="form__row form__row--right">
            <a class="modal__tools__button button button--small button--default" ng-click="cancelModel()">
                <span class="button__label">{{'PRIVATE-MODALE-SETTINGS-CANCEL-BTN'| translate}}</span>
            </a>
            <a class="modal__tools__button button button--small button--default" ng-click="diffModel()">
                <span class="button__label">{{'PRIVATE-MODALE-SETTINGS-DIFF-BTN'| translate}}</span>
            </a>
            <a ng-click="extractModel()" class="form__row__btn form__submit button button--success" style="margin-left:8px">
                <span class="button__label">{{'SCENARIST-INDEX-ADD-BTN'| translate}}</span>
            </a>
        </div>
    </form>
</div>
