<div class="view view--new-session view--bottom"
     models="modelerIndexCtrl.models"
     create="modelerIndexCtrl.createModel"
     modelmenu="modelerIndexCtrl.modelmenu"
     expandable="create">
    <modeler-model-create></modeler-model-create>
</div>
<div class="view view--new-session view--bottom"
     models="modelerIndexCtrl.models"
     extract="modelerIndexCtrl.extractModel"
     scenariomenu="modelerIndexCtrl.scenariomenu"
     expandable="extract">
    <modeler-model-extract></modeler-model-extract>
</div>
<div id="modeler-models-list" class="view view--scenarios-list view--middle">
    <div class="view__header">
        <h3>{{'MODELER-INDEX-LIST-TITLE'| translate}}</h3>

        <a class="button button--small button--success-reverse non-collapsible-expander-button" expander="create">
            <span class="button__label"><i class="fa fa-plus-circle same-color-larger">&nbsp;</i>{{'MODELER-INDEX-ADD-TITLE'| translate}}</span>
        </a>

        <a class="button button--small button--success-reverse non-collapsible-expander-button" expander='extract'>
            <span class="button__label"><i class="fa fa-plus-circle same-color-larger">&nbsp;</i>{{'MODELER-INDEX-EXTRACT-TITLE'| translate}}</span>
        </a>

        <div id="searchField" class="view__tools">
            <div class="tool tool--search tool--open">
                <a class="tool__link"></a>
                <input
                    class="tool__input"
                    ng-model="search"
                    type="text"
                    ng-change="modelerIndexCtrl.filterModels(search);"
                    ng-init="modelerIndexCtrl.filterModels(search);"
                    />
            </div>
        </div>
        <div ng-if="user.isAdmin" class="view__options"
             title="{{'MODELER-INDEX-ME-FIRST-TOOLTIP'| translate}}"
             ng-click="modelerIndexCtrl.toggleMeFirst();"
             ng-init="modelerIndexCtrl.initMeFirst();"
             >
            <span class="checkbox" id="mefirst">
            </span>
            {{'MODELER-INDEX-ME-FIRST-TITLE'| translate}}
        </div>
    </div>
    <div
        ng-if="(!modelerIndexCtrl.loading && modelerIndexCtrl.models.length)"
        id = "modeler-models-list-container"
        class="view__list"
        style="padding-bottom: 10px;"
        search="modelerIndexCtrl.search"
        models="modelerIndexCtrl.models"
        archive="modelerIndexCtrl.archiveModel"
        duplicate="modelerIndexCtrl.duplicate"
        duplicating="modelerIndexCtrl.duplicating"
        user="modelerIndexCtrl.user"
        username="modelerIndexCtrl.username"
        modeler-models-list
        repeat-auto-load >
    </div>
    <div ng-if="(modelerIndexCtrl.search.length != 0) && (modelerIndexCtrl.models.length == 0)"
         class="view__list">
        {{'MODELER-INDEX-LIST-NO-MODEL'| translate}} "{{modelerIndexCtrl.search}}"
    </div>

    <div class="view__footer">
        <div ng-if="(!modelerIndexCtrl.loading) && (modelerIndexCtrl.nbArchives > 0)" class="view__archives">
            <a class="button button--small button--default button--archive" ui-sref=".archives">
                <span ng-if="modelerIndexCtrl.nbArchives === 1" class="button__label">{{modelerIndexCtrl.nbArchives}} {{'MODELER-INDEX-ARCHIVE-BTN'| translate}}</span>
                <span ng-if="modelerIndexCtrl.nbArchives > 1" class="button__label">{{modelerIndexCtrl.nbArchives}} {{'MODELER-INDEX-ARCHIVES-BTN'| translate}}</span>
            </a>
        </div>
    </div>
    <div ng-if="modelerIndexCtrl.loading"
         class="view__list view__list--loading"
         content-loading="{{'COMMONS-SCENARIOS-LOADING'| translate}}">
    </div>
</div>
