<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <module-name>Wegas-resources</module-name>
    <description>Web Game Authoring System</description>
    <display-name>Web Game Authoring System</display-name>
    <distributable/>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <!--File Mime Types-->
    <mime-mapping>
        <extension>json</extension>
        <mime-type>application/json;charset=ISO-8859-1</mime-type>
    </mime-mapping>
</web-app>
