/* 
*/
.wegas-mcqtabview {
    line-height: normal;
}

.wegas-mcqtabview .pmg-subtitle {
    padding:6px 0;
    font-size: 1.2em;
    font-weight: normal;
    border-bottom: 2px solid #4D4D4D;
}
.yui3-skin-sam .wegas-mcqtabview .pmg-subtitle  .left ,
.yui3-skin-sam .wegas-mcqtabview .yui3-tab  .label {
    float:left;
    padding-left:8px;
}
.yui3-skin-sam .wegas-mcqtabview .pmg-subtitle .right ,
.yui3-skin-sam .wegas-mcqtabview .yui3-tab .status {
    float:right;
    padding-right:8px;
}
.wegas-mcqtabview .title {
    font-weight: bold;
    padding: 7px 5px 2px;
    border-bottom: 1px solid lightgray;
    font-size: 13px;
}
.wegas-mcqtabview .subtitle {
    font-weight: bold;
    padding: 2px 5px 0px;
    border-bottom: 1px solid lightgray;
}
.wegas-mcqtabview  .description {
    margin: 8px;
    margin-bottom: 20px;
}
.wegas-mcqtabview  input {
    float: right;
}
.wegas-mcqtabview .replies {
    padding-bottom: 5px;
}
.wegas-mcqtabview .reply {
    margin: 3px 8px 0px;
}
.wegas-mcqtabview .reply .name {
    font-weight: bold;
}
.wegas-mcqtabview .reply content {
    /*font-weight: bold;*/
    margin-bottom:5px;
}
.wegas-mcqtabview .numberOfReplies{
    float:right;
}
.wegas-mcqtabview .unread {
    font-weight:bold;
}
/* Overide default tabview styles */
.yui3-skin-sam .horizontal-tabview  .yui3-tabview-content > .yui3-tabview-list {
    display: inline-block;
    float:left;
    border: none;
    display: inline-block;
    border-right: 1px solid lightgray;
    width: 39.5%;
}
.yui3-skin-sam .horizontal-tabview > .yui3-tabview-content > .yui3-tabview-panel {
    display:inline-block;
    width:59.5%;
    float:left;
    background:transparent;
    height: 100%;
}
.yui3-skin-sam .horizontal-tabview .yui3-tab-panel  {
    border-left: 1px solid lightgray;
}
.yui3-skin-sam .horizontal-tabview .yui3-tab {
    display: block;
    border:none;
    border-bottom:1px solid #DBDBDB;
    margin: 0;
    cursor:pointer;
    width:100%;
    padding:0;
}
.yui3-skin-sam .horizontal-tabview .yui3-tab a.yui3-tab-label  {
    background: none;
    border: none;
    padding: 6px 0px;
    width:100%;
}
.yui3-skin-sam .horizontal-tabview .yui3-tab a:hover {
    background: rgba(178, 210, 255, 0.1);
    box-shadow: 0px 0px 4px #6D6D6D;
}
.yui3-skin-sam .horizontal-tabview .yui3-tab-selected {
    background: rgba(178, 210, 255, 0.5);
    box-shadow: 0px 0px 4px #6D6D6D;
}
.yui3-skin-sam .horizontal-tabview .yui3-tab-selected .yui3-tab-label {
    color:black;
}
