.wegas-book-dice .result p{
    height:33px;
    width:33px;
    color:rgba(0,0,0,0);
    background-repeat: no-repeat;
    background-position: center;
    background-color:transparent;
}

.wegas-book-dice .result-value-1{
    background-image:url(../../wegas-book/images/de1.png);
    background-color: black;
}

.wegas-book-dice .result-value-2{
    background-image:url(../../wegas-book/images/de2.png);
}

.wegas-book-dice .result-value-3{
    background-image:url(../../wegas-book/images/de3.png);
}

.wegas-book-dice .result-value-4{
    background-image:url(../../wegas-book/images/de4.png);
}

.wegas-book-dice .result-value-5{
    background-image:url(../../wegas-book/images/de5.png);
}

.wegas-book-dice .result-value-6{
    background-image:url(../../wegas-book/images/de6.png);
}
/*
.wegas-monopoly .wegas-list-vertical .header {
    background-image:url(../../wegas-monopoly/images/plateau.jpg);
    background-repeat: no-repeat;
    background-position: 150px 20px;
    
}*/

.wegas-monopoly-buy {
    float: left
}

.yui3-togglebutton {
    float: left
}

.wegas-monopoly-Next {
    float: left
}

.wegas-monopoly-display-content{
    background-image:url(../../wegas-monopoly/images/plateau.jpg);
    background-repeat: no-repeat;
    /*background-position: 150px 0px;*/
    height: 600px;
    width: 800px;
    position: absolute;
    top: 30px;
    left: 120px;
}

.wegas-monopoly {
    height: 100%;
}

.wegas-monopoly .wegas-list-vertical {
    height: 100%;
}

.wegas-monopoly .wegas-list-vertical .header{
    height: 100%;
}


.pion1 {
    background-image:url(../../wegas-monopoly/images/pion1.png);
    background-size: 30px 22px;
    float: left;
    width: 30px;
    height: 22px;
}

.pion2 {
    background-image:url(../../wegas-monopoly/images/pion2.png);
    background-size: 30px 22px;
    float: left;
    width: 30px;
    height: 22px;
}

.box1 {
    position: absolute;
    top: 550px;
    left: 645px;
    width: 35px;
}

.box2 {
    position: absolute;
    top: 550px;
    left: 586px;
    width: 35px;
}

.box3 {
    position: absolute;
    top: 550px;
    left: 540px;
    width: 35px;
}

.box4 {
    position: absolute;
    top: 550px;
    left: 495px;
    width: 35px;
}

.box5 {
    position: absolute;
    top: 550px;
    left: 450px;
    width: 35px;
}

.box6 {
    position: absolute;
    top: 550px;
    left: 406px;
    width: 35px;
}

.box7 {
    position: absolute;
    top: 550px;
    left: 360px;
    width: 35px;
}

.box8 {
    position: absolute;
    top: 550px;
    left: 316px;
    width: 35px;
}

.box9 {
    position: absolute;
    top: 550px;
    left: 270px;
    width: 35px;
}

.box10 {
    position: absolute;
    top: 550px;
    left: 225px;
    width: 35px;
}

.box11 {
    position: absolute;
    top: 550px;
    left: 148px;
    width: 70px;
}

.box12 {
    position: absolute;
    top: 496px;
    left: 148px;
    width: 70px;
}

.wegas-chat {
    width: 225px;
    position: absolute;
    height: 100%;
    right: 0;
    margin-right: 9px;    
    top: 40px;
}

.conversation .inputEx-fieldWrapper {
    float: left;
    margin-top: 5px;
}

.wegas-chat-send {
    margin-left: 8px;
}

.wegas-chat-msgs {
    display: block;
    height: 60px;
    overflow-y: scroll;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}