<div class="permission-edit">
    <select class="permission-edit__type" type="value"
            ng-model="perm.type">
        <option value="GameModel">GameModel</option>
        <option value="Game">Game</option>
        <option value="User">User</option>
    </select>
    <label class="permission-edit__id">ID<select class="permission-edit__id__select" ng-options="opt.id+'' as opt.name for opt in options" ng-model="perm.id"></select>
    <input class="permission-edit__id__value" ng-model="perm.id"/></label>
    <ul class="permission-edit__permissions">
        <li ng-repeat="permission in availablePermissions">
            <label>
                <input type="checkbox"
                       value="{{permission.value}}"
                       ng-checked='perm.permissions.indexOf(permission.value) > -1'
                       ng-click="togglePerm(permission.value)"
                       ng-disabled="perm.permissions.indexOf('*') > -1 && permission.value !=='*'"> {{permission.label}}
            </label>
        </li>
    </ul>
    <div class="permission-edit__output">{{permission.value}}</div>
</div>
