<span class="view__first-subtitle" ng-bind-html="message"> </span>
<form id="login-form" class="view__login-form view--reverse-middle form" ng-submit="login()">
    <div class="row">
        <h1 id="wegas-icon-title" class="view__first-header">{{'WEGAS-TITLE' | translate}}</h1>
    </div>

    <div class="form__row">
        <input class="form__row__entry input input--small input--primary" type="text" class="form-control" id="login"
               placeholder="{{ 'LOGIN-INPUT-EMAIL' | translate }}" autocomplete="off" ng-model="username">
    </div>
    <div class="form__row">
        <input class="form__row__entry input input--small input--primary" type="password" class="form-control"
               id="password" placeholder="{{ 'LOGIN-INPUT-PASSWORD' | translate }}" autocomplete="off"
               ng-model="password">
    </div>
    <div class="form__row form__row--right" style="margin:-24px 2px -10px 0;">
        <a class="link link--medium link--simple" ui-sref="wegas.public.password">{{ 'PASSWORD-BTN' | translate }}</a>
    </div>
    <div class="form__row form__row--right" style="clear:both">
        <input class="form__row__btn button button--small button--default" type="submit" class="link"
               value="{{ 'LOGIN-BTN' | translate }}"/>
    </div>
</form>
<a class="link link--simple-primary" ui-sref="wegas.public.signup"><button id="create-account" class="button button--small button--success-reverse" type="button"><i class="fa fa-plus-circle same-color-larger">&nbsp;</i> {{'CREATE-ACCOUNT-BTN' | translate}}</button></a>
