{
    "presets": [
        "react",
        [
            "env",
            {
                "useBuiltIns": true,
                "debug": false,
                "modules": false,
                "loose": true,
                "targets": {
                    "browsers": [
                        "last 2 versions"
                    ]
                },
                "exclude": ["transform-regenerator"]
            }
        ]
    ],
    "plugins": [
        "transform-object-rest-spread",
        "syntax-dynamic-import"
    ],
    "env": {
        "development": {
            "presets": []
        },
        "production": {
            "plugins": [
                "transform-react-remove-prop-types"
            ]
        }
    }
}