{
    "root": true,
    "extends": "airbnb",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "indent": [
            2,
            4,
            {
                "SwitchCase": 1
            }
        ],
        "comma-dangle": 0,
        "arrow-parens": [
            "error",
            "as-needed"
        ],
        "react/jsx-indent": [
            2,
            4
        ],
        "react/jsx-indent-props": [
            2,
            4
        ],
        "react/jsx-filename-extension": [
            0
        ],
        "react/forbid-prop-types": [
            0
        ],
        "react/require-default-props": [
            0
        ],
        "jsx-a11y/no-static-element-interactions": [
            0
        ]
    },
    "env": {
        "es6": true,
        "browser": true
    },
    "plugins": [
        "react"
    ]
}