.removeButton {
    opacity: 0;
    margin-top: 1.5em;
    vertical-align: top;
    display: inline-block;
    transition: opacity 500ms 300ms;
}

.container:hover .removeButton {
    opacity: 1;
}

.container{
        /*border-left: solid 1px lightsteelblue;*/
        margin-top: 2em;
        padding-left: 5px;
        transition: border-color 500ms 300ms;
}

.container:hover{
        /*border-left: solid 1px cornflowerblue;*/
}






