.removeStatement{
	zoom:0.8;
}

.removeStatement:hover{
    background-color: indianred;
}

.addStatement{
	text-align: center;
	margin-top: 7px;
}

.addStatement:hover{
    background-color: darkslategrey;
}