.removeStatement{
    width:16.5px;
	height:16.5px;
	border-radius:50%;
	color:#fff;
	font-size:8.7px;
	margin-left:5px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	background-color: grey;
}

.removeStatement:hover{
    background-color: indianred;
}

.addStatement{
	text-align: center;
	margin-left:170px;
	margin-top: 7px;
	cursor: pointer;
}

.addStatement:hover{
    background-color: limegreen;
}