/*********************************ALBAPROJECT GENERAL STYLES********************************/
#alba-mainlayout {
	width:100%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 9pt;
}
#alba-indicators {
	height: 80px;
	padding: 5px;
	background: transparent url(./src/alba-projectmanagment/assets/header.png) repeat;
	color: white;
	border: 1px solid black;
	border-bottom: 0;
}
#alba-indicators > ul {
	background: transparent;
}

/*********************************ALBAPROJECT TOP MENU STYLES********************************/
.yui3-alba-variablewidget-unit {
	background-color: yellow;
	border: 1pt solid #7D7D7D;
	float: left;
	height: 10px;
	width: 5px;
	margin-right: 1px;
	margin-top: 2px;
}
#alba-indicators .yui3-alba-variablewidget {
	padding: 0 5px;
}
#alba-timevariable {
	width:100px;
}
#alba-indicators > ul >#alba-timevariable-container {
	float: right;
}
/*********************************ALBAPROJECT TOP MENU STYLES********************************/
#alba-topmenu {
	min-height: 29px;
	border: 1px solid black;
	background: transparent url(./src/alba-projectmanagment/assets/nav_horizontal.png) repeat;
}
#alba-topmenu > ul {
	background: transparent;
}
#alba-topmenu > ul > li {
	background: transparent url(./src/alba-projectmanagment/assets/nav_horizontal.png) repeat;
}
.alba-topbutton span {
	display: block;
	height: 15px;
	padding: 5px 10px 9px 20px;
	width: 90px;
	font-size: 1.1em;
	border-right: 1px solid black;
	cursor:pointer;
	background: transparent url(./src/alba-projectmanagment/assets/nav_horizontal.png) repeat;
}
.alba-topbutton span:hover {
	background-color: #DDD;
}

	
/*********************************ALBAPROJECT BODY STYLES********************************/
#alba-body {
	padding-right: 60px;
	background: white;
	border: 1px solid black;
	border-top: 0;
	background-color: #7A7A7A;
}
#alba-mainlayout,
#alba-mainlayout>.yui3-alba-listwidget-content,
#alba-body-container,
#alba-body,
#alba-body >.yui3-alba-listwidget-content,
#maindisplayarea-container {
	height:100%;
}
#alba-rightmenu-container,
#maindisplayarea-container  {
	display: inline-block;
	vertical-align: top;
}
#maindisplayarea-container {
	background:white;
	width:100%;
	display: inline-block;
}


	
/*********************************ALBAPROJECT RIGHT MENU STYLES********************************/
#alba-rightmenu-container {
	width:59px;
	margin-right:-60px;
	background: #7A7A7A;
	border-left: 1px solid black;
}
#Actionbutton,
#Choicebutton {
	background: transparent url(./src/alba-projectmanagment/assets/nav_vertical.png) repeat;
	border-bottom: 1px solid black;
	padding:5px;
	width: 50px;
}
#Actionbutton span,
#Choicebutton span {
	height: 50px;
	display: block;
	cursor: pointer;
}
#Actionbutton span {
	background: transparent url(./src/alba-projectmanagment/assets/available_action.png) no-repeat;
}
#Choicebutton span {
	background: transparent url(./src/alba-projectmanagment/assets/choice.png) no-repeat;
}
.yui3-alba-textwidget-content {
	padding: 5px;
}

	
/*********************************ALBAPROJECT TABVIEW WIDGET STYLES********************************/
.alba-project-tab  .yui3-alba-tabview-content {
	padding-left: 350px;
}
.yui3-skin-sam  .alba-project-tab .yui3-tabview-list {
	display:block;
	float:left;
	margin-left: -350px;
	width: 349px;
	border: none;
	border-right: 1px solid black;
}
.yui3-skin-sam  .alba-project-tab  .yui3-tabview-panel {
	display:block;
	width:100%;
	float:left;
	overflow:inherit;
	border: none;
}
.alba-project-tab .yui3-tab {
	display: block;
	border:none;
	border-bottom:1px solid #DBDBDB;
	margin: 0;
	cursor:pointer;
}
.yui3-skin-sam .alba-project-tab  .yui3-tab .yui3-tab-label  {
	background: none;
	border: none;
	padding: 6px 8px;
	font-size: 9pt;
	text-decoration: underline;
}
.yui3-skin-sam  .alba-project-tab .yui3-tab:hover {
	background: #B2D2FF;
}
.yui3-skin-sam  .alba-project-tab .yui3-alba-tab-selected {
	background: #CCCCCC;
}
.yui3-skin-sam  .alba-project-tab .yui3-alba-tab-selected .yui3-tab-label {
	color:black;
}

.yui3-skin-sam  .yui-layout-unit-center .yui-layout-bd .alba-project-tab,
.yui3-alba-displayareawidget,
.yui3-alba-displayareawidget-content, 
.alba-project-tab .yui3-alba-tabview-content,
.yui3-skin-sam .alba-project-tab .yui3-tabview-list,
.syui3-alba-textwidget-container {
	height:100%;
}
.alba-project-tab .h2 {
	display: block;
	height: 26px;
	background: transparent url(./src/alba-projectmanagment/assets/h2.png) repeat;
	border-bottom: 1px solid black;
	padding-left: 5px;
	padding-top: 5px;
	font-size: 1.1em;
	font-weight: bold;
}
.alba-project-tab .h3 {
	font-size: 1.2em;
	font-weight: normal;
	padding: 2px 8px;
	border-bottom: 2px solid #4D4D4D;
}
.alba-project-tab .h4 {
	display: block;
	height: 18px;
	background: transparent url(./src/alba-projectmanagment/assets/h3.png) repeat;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-top: -1px;
	padding-left: 5px;
	padding-bottom: 2px;
	font-size: 1.1em;
	font-weight: bold;
}
.alba-project-tab  .description {
	margin: 5px;
}
.alba-project-tab  input {
	margin: 5px;
}