/**
*
**/
body > .wegas-pageloader, html{
    background-color: rgb(77, 77, 77);
    margin:auto;
    font-weight: bold;
}
.flexitests{
    background-color: rgb(77, 77, 77);
    color: whitesmoke;
    margin:auto;
    font-weight: bold;
}
.fix-point{
    z-index:20 !important;
}
.test-page{
    outline: none;
    width: 1024px;
    height: 768px;
    font-size: 14pt;
    margin:auto;
}
.wegas-flexitests-controller-content{
    text-align: center;
}
.wegas-flexitests-controller-content span{
    cursor: pointer;
}
.flexitests .wegas-button{
    background-color: rgb(176, 176, 176);
}
.wegas-flexitests-controller > .wegas-loading-overlay{
    background-color: rgb(77, 77, 77);
    background-image: none;
    z-index: 20;
}
.flexitests-title{
    display: inline-block;
    vertical-align: top;
    font-weight: bolder;
    font-size: 36px;
    line-height: 42px;
    text-shadow: 0px 0px 15px white;
    margin: 0px 15px;
    padding: 0;
    margin: 0;
    padding: 5px 25px 0px 10px;
    letter-spacing: -2px;
}
.wegas-flexitests-controller-content > .feedback{
    width: 50px;
    height: 50px;
    margin: auto;
}
.wegas-flexitests-mcqdisplay{
    z-index: inherit !important;
}
.wegas-flexitests-mcqdisplay-hidden{
    display: none;
}
.wegas-flexitests-mcqdisplay-feedback{
    position: relative;
    z-index: 25;
}.wegas-flexitests-mcqdisplay-input table{
    width:100%;
}
.wegas-flexitests-mcqdisplay-input label{
    position: relative;
    display: inline-block;
    height: 5px;
    background: whitesmoke;   
}
.wegas-flexitests-mcqdisplay-input span{
    text-shadow: 0px 0px 10px whitesmoke;
}
.wegas-flexitests-mcqdisplay-input>span:hover,
.wegas-flexitests-mcqdisplay-input label:hover span{
    cursor:pointer;
    text-shadow: 0px 0px 10px black;
}
.wegas-flexitests-mcqdisplay-input label input{
    position: absolute;
    margin-top: -5px;
    width: 15px;
    margin-left:15px;
}
.wegas-flexitests-mcqdisplay-input label input:hover{
    cursor:inherit;
}
.wegas-flexitests-mcqdisplay-input label span{
    width:45px;
    background: none;
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(-60deg) translate(20px,-100%);
    -moz-transform: rotate(-60deg) translate(20px,-100%);
    -o-transform: rotate(-60deg) translate(20px,-100%);
    transform: rotate(-60deg) translate(20px,-100%);
    font-size: 75%;
}
.wegas-flexitests-results-content table{
    width: 100%;
}
.wegas-flexitests-results-content table .row-odd{
    background-color: #404040;
}