/**
*
**/
body > .wegas-pageloader, html{
    background-color: rgb(77, 77, 77);
    margin:auto;
    font-weight: bold;
}
.flexitests{
    background-color: rgb(77, 77, 77);
    color: whitesmoke;
    margin:auto;
    font-weight: bold;
}
.test-page{
    outline: none;
    width: 1024px;
    height: 768px;
    margin:auto;
}
.wegas-flexitests-controller-content{
    text-align: center;
}
.wegas-flexitests-controller-content span{
    cursor: pointer;
}
.flexitests .wegas-button{
    background-color: rgb(176, 176, 176);
}
.wegas-flexitests-controller > .wegas-loading-overlay{
    background-color: rgb(77, 77, 77);
    background-image: url(../../wegas-flexitests/images/FixPoint.png);
}
.flexitests-title{
    display: inline-block;
    vertical-align: top;
    font-weight: bolder;
    font-size: 36px;
    line-height: 42px;
    text-shadow: 0px 0px 15px white;
    margin: 0px 15px;
    padding: 0;
    margin: 0;
    padding: 5px 25px 0px 10px;
    letter-spacing: -2px;
}
.test-page{
    font-size: 14pt;
}
.wegas-flexitests-controller-content > .feedback{
    width: 50px;
    height: 50px;
    margin: auto;
}
.wegas-flexitests-mcqdisplay-feedback{
    position: relative;
    z-index: 20;
}