.label{
    
    font-family: arial;
    color:#6a95b6;
    font-size: 15px;
}



.test{
    opacity:0;
}

.opacity{
    opacity:0;
}

.liste2:hover .opacity{
    opacity:1;
    -webkit-transition: opacity 2s; /* Safari */
    transition: opacity 2s;
}

.hiddenLabel{
    display:none;
}




