
.label {
     
    color:#6a95b6;
    font-size: 15px;
    left:0;
}

.checkbox{
    border-radius: 3px;
    border:lightgrey solid 1px;
    margin-top:5px;
    width:15px!important;
    max-width:15px!important;
    font-size: 14px;
}


