.boolean {
    margin-top: -5px;
    font-size: 90%;
}

.boolean .label {
    color: #6a95b6;
    font-size: 15px;
    vertical-align: 1px;
    user-select:none;
}

.boolean .checkbox {
    border-radius: 3px;
    border:lightgrey solid 1px;
    margin-top:5px;
    margin-right: 6px;
    width:15px!important;
    max-width:15px!important;
    font-size: 14px;
}
