.boolean {
    margin-top: -5px;
}

.boolean .label {
    color: #6a95b6;
    font-size: 15px;
    vertical-align: 1px;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.boolean .checkbox {
    border-radius: 3px;
    border:lightgrey solid 1px;
    margin-top:5px;
    margin-right: 6px;
    width:15px!important;
    max-width:15px!important;
    font-size: 14px;
}
