.short {
    max-width: 12.5em;
    margin-left: 10px;
}

.shortInline {
    composes: short;
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
}

.long {
    max-width: 100%;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
}

.infos {
    color: lightslategrey;
    font-size: 10px;
    margin-left: 5px;
    font-style: italic;
}

.errs {
    color: darkorange;
    font-size: 10px;
    font-style: italic;
}

.label {
    font-family: Rockwell;
    color: #6a95b6;
    font-size: 16px;
    margin-top: 8px;

}

.borderTop {
    border-top: solid 2px #4a8c9c;
    margin-left: 0px;
}