.margin{
    width:33em;
    max-width: 33em;
    margin-top:10px;
    font-size: 14px;
    border:1px solid lightgrey;
    border-radius: 3px;
    padding:2px 2px 2px 2px;
    font-size: 13px;
}

.border{
    border:1px solid lightgrey;
    border-radius: 3px;
}

.div1{
    width:95%;
    max-width:95%
}