.shape {
    width: auto;
    min-width: 16px;
    height: 16px;
    color: #fff;
    padding: 3px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    background-color: grey;
}

.label{
	margin-left:0.35em;
}


.disabled {
    color: black;
    background-color: darkslategrey;
}

.opacity {
    opacity: 0;
}

.grey {
    color: darkslategrey;
    font-weight: bold;
    font-size: 15px;
    background-color: white;
    background-opacity: 0;
}

.grey:hover {
    background-color: white;
    background-opacity: 0;
}
