.shape{
    width:25px;
	height:25px;
	border-radius:50%;
	color:#fff;
	line-height: 2em;
	font-size:13.6px;
	text-align: center;
	display:inline-block;
	cursor: pointer;
	background-color: grey;
}
.add:hover{
	cursor: pointer;
	background-color: #9DC06F;
}

.remove:hover{
	cursor: pointer;
	background-color:darkred;
}

.disabled{
    width:20px;
	height:20px;
	border-radius:50%;
	color:black;
    background-color:darkslategrey;
}

.opacity{
	opacity:0;
}

.grey{
	color:darkslategrey;
	font-weight: bold;
	font-size:15px;
	background-color: white;
	background-opacity:0;
}

.grey:hover{
	background-color: white;
	background-opacity:0;
}
