.root {
    clear: both;

    & > legend {
        text-align: center;
    }
}

.borderTop {
    border-top: 1px solid lightgrey;
}

.error {
    color: red;
    font-size: 80%;
    float: left;
}

.legend {
    color: #282;
}
