.input{
    border-radius: 3px;
    box-sizing: border-box;
    border:lightgrey solid 1px;
    font-size: 13px;
    color:darkslategrey;
    width:100%;
    max-width: 33em;
    padding:0px;
}

textarea{
    border-radius: 3px;
    width:100%;
    font-style: italic;
    font-size: 15px;
    border: none;
    color:darkgrey;
}

textarea:focus{
    border-radius: 3px;
    width:100%;
    font-size: 15px;
    border:lightgrey solid 1px;
    color:darkgrey;
;

}


.icon{
    cursor:pointer;
}