<h2>{{'MODELER-MODALE-USERS-TITLE' | translate}}</h2>
<article class="card card--comodeler-permission" ng-repeat="permission in permissions track by permission.user.id" permission="permission">
  <div class="card__illustration illustration illustration--icon" illustration="ICON_grey_user_wif"></div>
<div class="card__description">
  <h4 class="line line--primary">{{ permission.user.name }}</h4>
  <p class="line line--secondary">Username: {{ permission.user.username }}</p>
  <p class="line line--secondary">{{ permission.user.email }}</p>

</div>
<div class="card__detailled-actions" user-permissions="permission" model="model" modeler-comodelers-user-permissions></div>
<div class="card__actions">
  <a class="button button--small button--round button--default-reverse button--label-off button--trash" title="{{'SCENARIST-MODALE-USERS-REMOVE-BTN' |translate}}" ng-click="removeUser(model.id, permission.user.id)">
    <span class="button__label">{{'SCENARIST-MODALE-USERS-REMOVE-BTN' | translate}}</span>
  </a>
</div>
</article>
