%default-input{
    .input__entry{
        height:$input-height;
        background-color:$background-default;
        border:solid 1px $border;
        border-radius:5px;
        padding:($grid-gutter-width/4) ($grid-gutter-width/2);
        margin:$grid-gutter-width/8 0px;
        transition: 0.8s;
        &:focus, &.focus{
            background-color:$white;
            border-radius:5px;
            outline: none;
        }
    }
}

%default-box{
    color:red;
    input{
        display:none;
    }
    label{
        height:$input-height;
        line-height:$input-height;
        padding-left:$box-size + ($grid-gutter-width/2);
        span{
            position:absolute;
            display:block;
            top:50%;
            left:$grid-gutter-width/2;
            width:$box-size;
            height:$box-size;
            margin:(-$box-size/2) ($grid-gutter-width/2) 0 0;
            background-color:$white;
            cursor:pointer; 
            border:solid 2px $border; 
            transition:0.5s;
        }
    }
    input:checked + label span{
        background-color:$secondary-color;
        border:solid 2px darken($secondary-color, 10%); 
        transition:0.5s;
    }
}