<form class="form form__create-scenario">
    <div class="form__row">
        <div class="col-xs-3">
            <h4>{{'PRIVATE-PROFILE-INPUT-LABEL-FIRSTNAME'| translate}}</h4>
        </div>
        <div class="col-xs-9">
            <input class="input" type="text" ng-model="user.account.firstname" placeholder="{{'PRIVATE-PROFILE-INPUT-PLACEHOLDER-FIRSTNAME'| translate}}" autocomplete="off">
        </div>
    </div>
    <div class="form__row">
        <div class="col-xs-3">
            <h4>{{'PRIVATE-PROFILE-INPUT-LABEL-LASTNAME'| translate}}</h4>
        </div>
        <div class="col-xs-9">
            <input class="input" type="text" ng-model="user.account.lastname" placeholder="{{'PRIVATE-PROFILE-INPUT-PLACEHOLDER-LASTNAME'| translate}}" autocomplete="off">
        </div>
    </div>
    <div class="form__row">
        <div class="col-xs-3">
            <h4>{{'PRIVATE-PROFILE-INPUT-LABEL-EMAIL'| translate}}</h4>
        </div>
        <div class="col-xs-9">
            <input class="input" type="email" ng-model="user.account.email" placeholder="{{'PRIVATE-PROFILE-INPUT-PLACEHOLDER-EMAIL'| translate}}" autocomplete="off">
            <div ng-if="user.account['@class'] === 'JpaAccount' && !user.account.verified">
                <a ng-click="verifyEmail()"
                   class="button button--default-reverse button--exclamation button-without-label"
                   title="{{'PRIVATE-WS-VERIFY-TOOLTIP'| translate}}">
                    <span class="button__label">{{'PRIVATE-WS-VERIFY-BTN'| translate}}</span>
                </a>
            </div>
        </div>
    </div>
    <div class="form__row">
        <div class="col-xs-3">
            <h4>{{'PRIVATE-PROFILE-INPUT-LABEL-USERNAME'| translate}}</h4>
        </div>
        <div class="col-xs-9">
            <input class="input" type="text" ng-model="user.account.username" placeholder="{{'PRIVATE-PROFILE-INPUT-PLACEHOLDER-USERNAME'| translate}}" autocomplete="off">
        </div>
    </div>
    <div class="form__row">
        <div class="col-xs-3">
            <h4>{{'PRIVATE-PROFILE-INPUT-LABEL-PASSWORD'| translate}}</h4>
        </div>
        <div class="col-xs-9">
            <input class="input" type="password" ng-model="user.account.password" placeholder="{{'PRIVATE-PROFILE-INPUT-PLACEHOLDER-PASSWORD'| translate}}" autocomplete="off">
        </div>
    </div>
    <div class="form__row">
        <div class="col-xs-3">
            <h4>{{'PRIVATE-PROFILE-INPUT-LABEL-PASSWORD-AGAIN'| translate}}</h4>
        </div>
        <div class="col-xs-9">
            <input class="input" type="password" ng-model="user.account.password2" placeholder="{{'PRIVATE-PROFILE-INPUT-PLACEHOLDER-PASSWORD-AGAIN'| translate}}" autocomplete="off">
        </div>
    </div>
</form>
