/* Prog Game Styles */
/* Layout style */
.cl {
    clear:both;
}

.wegas-absolutelayout {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 9pt;
    background: url(../../wegas-proggame/images/proggame-title.png) top left no-repeat,
        url(../../wegas-proggame/images/proggame-background.jpg) top left no-repeat;
}

.battle-button, .battle-button:hover, .wegas-absolutelayout .yui3-button-disabled{
    background: url(../../wegas-proggame/images/proggame-button-battle.png) no-repeat;
}

.battle-button:hover::before{
    content: "";
    position: absolute;
    top: 21px;
    left: 8px;
    height: 42px;
    width: 161px;
    box-shadow: -1px 10px 10px 1px rgba(0, 0, 0, 0.7);
}

.mails-button, .mails-button:hover, .wegas-absolutelayout .yui3-button-disabled{
    background: url(../../wegas-proggame/images/proggame-button-mails.png) no-repeat;
}

.mails-button:hover::before{
    content: "";
    position: absolute;
    top: 21px;
    left: 3px;
    height: 42px;
    width: 141px;
    box-shadow: -1px 10px 10px 1px rgba(0, 0, 0, 0.7);
}

.history-button, .history-button:hover, .wegas-absolutelayout .yui3-button-disabled{
    background: url(../../wegas-proggame/images/proggame-button-history.png) no-repeat;
}

.history-button:hover::before{
    content: "";
    position: absolute;
    top: 21px;
    left: 6px;
    height: 42px;
    width: 125px;
    box-shadow: -1px 10px 10px 1px rgba(0, 0, 0, 0.7);
}

.menu-loginbutton, .menu-loginbutton:hover{
    background: url(../../wegas-proggame/images/proggame-button-empty.png) no-repeat;
    box-shadow: none;
    background-color: transparent;
    padding-top: 15px;
    font-family: Ravie;
    font-size: 19px;
    color: rgba(163, 184, 89, 1);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.menu-loginbutton:hover::before{
    content: "";
    position: absolute;
    top: 21px;
    left: 8px;
    height: 42px;
    width: 161px;
    box-shadow: -1px 10px 10px 1px rgba(0, 0, 0, 0.7);
}

.menu-button, .wegas-absolutelayout .yui3-button-selected,
.wegas-absolutelayout .yui3-button-disabled{
    box-shadow: none;
    background-color: transparent;
    color: transparent;
}

.api, .objective {
    width: 164px;
    height: 219px;
    background: url(../../wegas-proggame/images/proggame-left.png) no-repeat;
    font-family: Verdana;
    padding-top: 20px;
}

.api {
    padding-left: 35px;
}
.objective {
    cursor: pointer;
}

.objective:hover::before{
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    height: 200px;
    width: 164px;
    box-shadow: -1px 10px 10px 1px rgba(0, 0, 0, 0.7);
}
.objective .objValue {
    width: 148px;
    margin-left: 18px;
    overflow: auto;
    height: 158px;
}

.objective h1 {
    font-family: Blackadder ITC;
    margin-left: 30px;
    margin-bottom: 6px;
}

.api h1 {
    font-family: Blackadder ITC;
    margin-left: 20px;
    margin-bottom: 6px;
}

.wegas-proggame-level {
    background: url(../../wegas-proggame/images/proggame-right-level.png) no-repeat;
    height: 699px;
}

.game-area {
    background: url(../../wegas-proggame/images/proggame-right.png) no-repeat;
    height: 699px;
}

.wegas-inbox .horizontal-tabview {
    margin-left: 15px;
    height: 641px;
    overflow: auto;
    width: 911px;
}

.wegas-inbox ul {
    background-color: white;
}

/* play style */
.ui h1 {
    font-family: Myriad Pro;
    font-size: 12pt;
    text-align: center;
}

.ui .terrain-ui {
    display: none;
}

.topright {
    position: absolute;
    top: 475px;
    left: 696px;
    background: url(../../wegas-proggame/images/proggame-sepa.png) no-repeat 51px 4px;
    height: 200px;
}

.topright button {
    background-color: rgba(168, 83, 10, 0.5);
    border: solid 1px rgb(75, 74, 74);
    box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.75), 1px 1px 1px rgba(50, 50, 50, 0.75);
}
.topright .buttons button { /* Run button */
    width: 50px;
    height: 50px;
    position: relative;
    top: 70px;
    left: -7px;
    color: transparent;
}

.proggame-play {
    background: url(../../wegas-proggame/images/proggame-play.png) no-repeat 0px -4px;
    height: 31px;
}
.proggame-playpause {
    background: url(../../wegas-proggame/images/proggame-playpause.png) no-repeat 0px -4px;
    height: 31px;
}

.proggame-stop {
    background: url(../../wegas-proggame/images/proggame-stop.png) no-repeat 2px -1px;
    height: 29px;
}

.proggame-next {
    background: url(../../wegas-proggame/images/proggame-next.png) no-repeat 0px -4px;
    height: 29px;
}

.topright button span{
    display: block;
    margin-left: -1px;
    font-family: Verdana;
    font-weight: bold;
}
.topright .ai {
    display: none;
}
.topright .debugger {
    position: relative;
    top: -59px;
    left: 53px;
    padding-left: 10px;
    font-family: Myriad Pro;
    font-size: 16px;
    overflow: auto;
    width: 165px;
    background: url(../../wegas-proggame/images/proggame-sepa-debugg.png) no-repeat 0px 33px;
}
.topright .debugger .yui3-tabview-panel {
    overflow: auto;
    background: none;
    height: 162px;
    border: none;
    padding: 17px 0 0 0;
}
.debugger .yui3-tab-label {
    min-width: 0px;
    background: transparent;
    border-radius: 10px;
}
.debugger button {
    font-size: 11px;
}
.debugger .yui3-tabview-list {
    border: none;
}
.debugger .yui3-tab-selected .yui3-tab-label,
.debugger .yui3-tab-selected .yui3-tab-label:focus,
.debugger .yui3-tab-selected .yui3-tab-label:hover {
    background: rgba(100, 100, 100, 0.6);
}
.debugger .yui3-tab-label:hover,
.debugger .yui3-tab-label:focus  {
    background: rgba(100, 100, 100, 0.3);
}

/* Debugger treeview styles */
.debugger .selected>div>.yui3-treeleaf-content-header,
.debugger .selected>.yui3-treenode-content-header {
    background: rgba(100, 100, 100, 0.2);
    border-radius: 5px;
    font-weight: initial;
}
.debugger .yui3-treenode-content-header:hover,
.debugger .yui3-treeleaf-content-header:hover {
    background: none;
}
.debugger .yui3-treenode-content-icon, .debugger .yui3-treeleaf-content-icon {
    width: 0;
}
.topright .debugger h1 {
    font-family: Verdana;
    font-size: 16px;
    height: 29px;
}

.topcenter {
    width: 910px;
}

.topcenter .terrain {
    margin-left: 373px;
    margin-top: 137px;
}

.code {
    position: absolute;
    top: 472px;
    left: 26px;
    font-size: 5pt;
    font-family: Verdana;
    color:  #fefefe;
    right: 277px;
    width: 640px;
}
.code .inputEx-Field {
    float: none; /* Prevent inputex default to preserve width*/
    margin-top: 5px;
}

.wegas-proggame-level-content .code textarea {
    width: 632px;
    height: 156px;
    background-color: transparent;
    color: white;
    font-family: Myriad Pro;
    font-size: 12pt;
    margin-top: 6px;
    border: 0;
}

.wegas-proggame-level-content .code textarea:focus {
    outline-color: transparent;
}

/* Inputex map field */
.wegas-inputex-proggamemap .inputEx-List-link {
    display:none;
}
.wegas-inputex-proggamemap .inputEx-ListField-childContainer .inputEx-ListField-childContainer {
    height: 32px;
}
.wegas-inputex-proggamemap .inputEx-ListField-childContainer .inputEx-ListField-childContainer >div {
    display: inline-block;
}
.add-col ,.add-row{
    cursor:pointer;
}
.add-col img {
    background: transparent url(../../lib/inputex/src/inputex-list/assets/skins/sam/add.png) no-repeat scroll 0%;
    width: 16px;
    height: 16px;
}
/* Inputex tile field */
.inputex-proggametile {
    width:32px;
    height:32px;
    cursor: pointer;
    box-shadow: 0px 0px 1px white;
    background: url(../../wegas-proggame/images/proggame-sprite-dalles.png) no-repeat rgb(10,10,10);
}
.inputex-proggametile:hover {

    box-shadow: 1px 1px 1px black,-1px -1px 1px black;
}
.inputex-proggametile:hover > div {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 1px 1px 1px black,-1px -1px 1px black;
}
.yui3-proggame-alignable {
    position:absolute;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 2px darkgray;
    background: white;
}
.yui3-proggame-alignable-hidden {
    visibility:hidden;
}
.yui3-proggame-alignable-content {
    margin: 2px;
    max-height:512px;
    overflow:auto;
    padding: 3px;
}
.yui3-proggame-alignable .table {
    height: 64px;
    overflow: hidden;
    background: url(../../wegas-proggame/images/proggame-sprite-dalles.png) no-repeat rgb(10,10,10);
}

.yui3-proggame-alignable .table > div {
    height:32px;
    white-space: nowrap;
}
.yui3-proggame-alignable .table > div > div {
    width: 32px;
    height:32px;
    display:   inline-block;
    cursor:pointer;
}
.yui3-proggame-alignable .table > div > div:hover {
    box-shadow: 1px 1px 1px black,-1px -1px 1px black;
}

/* Ace styles */
.ace_editor {
    height: 170px;
}

.ace_gutter-cell.ace_breakpoint {
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0px 0px 1px 1px red inset;
}
.ace_gutter-cell.proggame-currentline {
    background-color: green;
}
