/* Prog Game Styles */
/* Layout style */
.cl {
    clear:both;
}
.layout {
    width:100%;
    min-height:100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 9pt;

    background:
        url(../../wegas-proggame/images/proggame-footerbg.png) no-repeat bottom center,
        url(../../wegas-proggame/images/clouds.jpg) repeat-x top center,
        url(../../wegas-proggame/images/proggame-footerbg2.png) repeat-x bottom center,
        url(../../wegas-proggame/images/bg-body.gif) repeat-x top center;

}
.layout h1,
.wegas-label {
    font-weight: bold;
    font-size: 15px;
    color: #7e8a00;
}
.layout > .wegas-list-content {
    background:
        url(../../wegas-proggame/images/proggame-leftbanner.png) no-repeat top left;
    width:960px;
    margin:auto;
    padding-left: 250px;
    padding-bottom:40px;
    min-height: 481px;
}
.layout > .wegas-list-content > div {
    display: inline-block;
    float: none;
}
.layout .yui3-button {
    background-color: #7e8a00;
    font-weight: bold;
    color: white;
}
.layout .yui3-button-selected {
    background-color: #6e6e6e;
}
.menu {
    width: 188px;
    margin-top: 91px;
    margin-left: -230px;
    padding-right: 17px;
}
.wegas-login {
    float:right  !important;
}
.body {
    width: 100%;
}
.banner {
    padding: 33px 0px 0 200px;
    height: 63px;
}
.banner .yui3-button {
    margin-left: 20px;
    padding:10px 20px;
}

/* level styles */
.wegas-proggame-level {
}

.wegas-proggame-level .top {
    /*    position: relative;*/
    padding-right: 240px;
    min-height: 250px
}
.wegas-proggame-level .topcenter {
    position: relative;
    width: 100%;
}
.wegas-proggame-level .topcenter h1 {
    background: url(../../wegas-proggame/images/proggame-titlebg.png) no-repeat;
    height: 50px;
    padding: 12px 0 0 58px;
    color: white;
    text-shadow: 2px 2px 1px #ffb500;
}

.wegas-proggame-level .topright {
    margin-right: -240px;
    width: 225px;
    padding-left: 15px;
}

.wegas-proggame-level .topright .yui3-button {
    margin: 10px 0 0 0;
    padding: 4px 8px;
    font-size: 2em;
    width: 100%;
    font-weight: bolder;
}
.inventory,
.api,
.menu .wegas-variabledisplay,
.wegas-proggame-level .terrain-ui,
/*.wegas-proggame-level .terrain,*/
.bottomright,
.ai,
.debugger,
.code {
    border: 2px solid #7e8a00;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 10px;
    padding:5px;
}
.menu .wegas-variabledisplay:after {
    /*content: '$';*/
}


/* Terrain UI */
.wegas-proggame-level .ui {
    position: absolute;
    width: 100%;
}
.wegas-proggame-level .terrain-ui {
    position: absolute;
    top: 40px;
    width: 150px;
    padding: 5px;
    color: #7e8a00;
}
.wegas-proggame-level .player-ui {
    left:0;
}
.wegas-proggame-level .enemy-ui {
    text-align: right;
    right:0;
}
.wegas-proggame-level .terrain-ui .life {
    width: 100%;
    border: 1px solid #7e8a00;
    border-radius: 3px;
}
.wegas-proggame-level .enemy-ui .life span{
    float:right;
}
.wegas-proggame-level .terrain-ui .life span {
    display:block;
    height:10px;
    background: white;
}
.wegas-proggame-level .terrain-ui .actions span {
    display: inline-block;
    background: white;
    margin-right: 1px;
    height: 7px;
    width: 7px;
    border: 1px solid #7e8a00;
    border-radius: 2px;
}

.wegas-proggame-level .terrain {
    padding-top: 50px;
}

/* Code input styles */
.wegas-proggame-level .code h1{
    /*    padding-bottom:5px;*/
}
.wegas-proggame-level .code-content {
    margin-top: 5px;
    position: relative;
    border: 1px solid #7e8a00;
    height: 150px;
    background: white;
}
.wegas-proggame-level div.inputEx-Field {
    float:none;
}
.wegas-proggame-level .ace-tm .ace_gutter {
    /*background: #6e6e6e;*/
    color: #7e8a00;
    border-right: 1px solid #7e8a00;
}

.wegas-proggame-level .ace_text-layer {
    /*    color: white;*/

}
.wegas-proggame-level .ace_editor .ace_print_margin_layer {
    display:none;
}

/* Terrain display styles */
.yui3-wegas-proggame-display {
    text-align: center;
}
.yui3-wegas-proggame-display-content {
    width: auto;
    display: inline-block;
}
.yui3-wegas-proggame-display table {
    /*  margin: 10px;*/
}
.yui3-wegas-proggame-display td {
    width: 30px;
    height: 30px;
    font-size: 1px;
    border: 1px solid #7e8a00;
}
.yui3-wegas-proggame-display .object-layer {
    position: relative;
}
.object-layer .player,
.object-layer .enemy {
    position: absolute;
    width: 30px;
    height:30px;
}
.object-layer .player.dir-1 {
    background: url(../../wegas-proggame/images/sprites-1.png) 5px 0px no-repeat;
}
.object-layer .player.dir-2 {
    background: url(../../wegas-proggame/images/sprites-1.png) 4px -32px no-repeat;
}
.object-layer .player.dir-3 {
    background: url(../../wegas-proggame/images/sprites-1.png) 4px -65px no-repeat;
}
.object-layer .player.dir-4 {
    background: url(../../wegas-proggame/images/sprites-1.png) 4px -95px no-repeat;
}
.object-layer .enemy.dir-1 {
    background: url(../../wegas-proggame/images/sprites-1.png) -68px 0px no-repeat;
}
.object-layer .enemy.dir-2 {
    background: url(../../wegas-proggame/images/sprites-1.png) -68px -32px no-repeat;
}
.object-layer .enemy.dir-3 {
    background: url(../../wegas-proggame/images/sprites-1.png) -68px -65px no-repeat;
}
.object-layer .enemy.dir-4 {
    background: url(../../wegas-proggame/images/sprites-1.png) -68px -95px no-repeat;
}

.object-layer .missile {
    background: #F80;
    display: block;
    height: 30px;
    width: 30px;
    position:absolute;
    background: url(../../wegas-proggame/images/8ball.png) 8px 8px no-repeat;
}

#cr-stage{
    border: 3px solid #7E8A00;
    border-radius: 6px;
}

.wegas-proggame-code,
.wegas-proggame-def {
    margin: 10px 0;
    border: 1px solid #7e8a00;
    background:darkgray;
    padding: 10px;
}
.wegas-proggame-code {
    font-family: monospace;
}

/* Inputex map field */
.wegas-inputex-proggamemap .inputEx-List-link {
    display:none;
}
.wegas-inputex-proggamemap .inputEx-ListField-childContainer .inputEx-ListField-childContainer {
    height: 32px;
}
.wegas-inputex-proggamemap .inputEx-ListField-childContainer .inputEx-ListField-childContainer >div {
    display: inline-block;
}
.wegas-inputex-proggamemap .inputEx-ListField-subFieldEl {
    margin: 0;
}
.add-col ,.add-row{
    cursor:pointer;
}
.add-col img {
    background: transparent url(../../lib/inputex/src/inputex-list/assets/skins/sam/add.png) no-repeat scroll 0%;
    width: 16px;
    height: 16px;
}
/* Inputex tile field */
.inputex-proggametile {
    width:32px;
    height:32px;
    cursor: pointer;
    background: url(/Wegas/wegas-proggame/images/terrain.png) no-repeat;
}
.inputex-proggametile:hover {

    box-shadow: 1px 1px 1px black,-1px -1px 1px black;
}
.inputex-proggametile:hover > div {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 1px 1px 1px black,-1px -1px 1px black;
}
.yui3-proggame-alignable {
    position:absolute;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 2px darkgray;
    background: white;
}
.yui3-proggame-alignable-hidden {
    visibility:hidden;
}
.yui3-proggame-alignable-content {
    margin: 2px;
    max-height:512px;
    overflow:auto;
}
.yui3-proggame-alignable .table {
    background: url(/Wegas/wegas-proggame/images/terrain.png) no-repeat;
}

.yui3-proggame-alignable .table > div {
    height:32px;
    white-space: nowrap;
}
.yui3-proggame-alignable .table > div > div {
    width: 32px;
    height:32px;
    display:   inline-block;
    cursor:pointer;
}
.yui3-proggame-alignable .table > div > div:hover {
    box-shadow: 1px 1px 1px black,-1px -1px 1px black;
}