<script src="lib/qrcode/qrcode.min.js"></script>

<div class="advanced">

    <label class="infos__label">{{'PRIVATE-MODALE-TABS-ACCESS-LINK-TITLE'| translate}}</label>
    <label class="indented">
        {{'PRIVATE-MODALE-TABS-INFOS-ACCESS-LINK'| translate}} 
        <span class="link link--selector" title="{{'PRIVATE-MODALE-TABS-INFOS-ACCESS-LINK-SELECT-TITLE'| translate}}">
            <i class="fa fa-text-width"></i>
        </span>
        <div>
            <span class="qrcode_link">
                <a target="_blank"><span class="qrcode_thumbnail"></span></a>
            </span>
            <span class="tool tool--selectable tokenbasedurl" text-selectable>{{activeInfos.baseUrl}}#/play/{{activeInfos.token}}</span>
        </div>
    </label>

    {{settingsIndexCtrl.generateQrCode()}}

    <label class="infos__label" style="margin-top: 30px">{{'PRIVATE-SCENARIOS-TYPE-LABEL-CHECKBOX'| translate}}</label>
    <label class="choice indented">
        <div class="choice__box">
            <input ng-disabled="isReadonly" ng-model="activeInfos.individual" type="radio" ng-value="true" />
            <div class="choice__box__display"></div>
        </div>
        <div class="choice__label">{{'PRIVATE-SCENARIOS-TYPE-INDIVIDUALLY-CHECKBOX'| translate}}</div>
    </label>
    <label class="choice indented">
        <div class="choice__box">
            <input ng-disabled="isReadonly" ng-model="activeInfos.individual" type="radio" ng-value="false" />
            <div class="choice__box__display"></div>
        </div>
        <div class="choice__label">{{'PRIVATE-SCENARIOS-TYPE-IN-TEAM-CHECKBOX'| translate}}</div>
    </label>

    <div ng-if="user.isAdmin" style="margin-top:40px">
        <hr>
        <h3>Admin-level settings:</h3>

        <label class="infos__label">{{'PRIVATE-SCENARIOS-LOG-ID-LABEL-INPUT'| translate}}</label>
        <input ng-model="activeInfos.logID" class="input input--small" type="text" />

        <input ng-model="activeInfos.guestAllowed" type="checkbox" id="guestAllowed" />
        <label class="infos__label" for="guestAllowed" style="display:inline-block; padding-left:4px">{{'PRIVATE-SCENARIOS-GUEST-ALLOWED-LABEL-CHECKBOX'| translate}}</label>
        <div></div>

        <label class="infos__label">{{'PRIVATE-SCENARIOS-SERVER-SCRIPT-LABEL-INPUT'| translate}}</label>
        <input ng-model="activeInfos.scriptUri" class="input input--small" type="text" />

        <label class="infos__label">{{'PRIVATE-SCENARIOS-CLIENT-SCRIPT-LABEL-INPUT'| translate}}</label>
        <input ng-model="activeInfos.clientScriptUri" class="input input--small" type="text" />

        <label class="infos__label">{{'PRIVATE-SCENARIOS-STYLESHEETS-LABEL-INPUT'| translate}}</label>
        <input ng-model="activeInfos.cssUri" class="input input--small" type="text" />

        <label class="infos__label">{{'PRIVATE-SCENARIOS-PAGES-LABEL-INPUT'| translate}}</label>
        <input ng-model="activeInfos.pagesUri" class="input input--small" type="text" />
    </div>
</div>
