{
    "presets": [
        "@babel/react",
        [
            "@babel/env",
            {
                "useBuiltIns": "usage",
                "debug": false,
                "corejs": 2,
                "modules": false,
                "loose": true,
                "targets": {
                    "browsers": ["last 2 versions"]
                },
                "exclude": ["transform-regenerator"],
                "include": []
            }
        ]
    ],
    "plugins": ["@babel/syntax-dynamic-import", "@babel/plugin-proposal-object-rest-spread"],
    "env": {
        "development": {
            "presets": [],
            "plugins": ["./babel-plugin-glamor-css-autolabel.js"]
        },
        "production": {
            "plugins": ["transform-react-remove-prop-types"]
        }
    }
}
