<div class="card__illustration illustration illustration--icon" illustration="{{model.properties.iconUri}}"></div>
<div class="card__description">
    <div class="line line--primary">{{model.name}}</div>
    <div class="line">{{'SCENARIST-CARD-CREATED-ON' | translate}} {{'COMMONS-DATE' | translate: {date: model.createdTime} }}
        <span ng-if="(user.isAdmin)">{{'SCENARIST-CARD-CREATED-BY' | translate}}
            <span ng-class="{true:'highlighted'}[model.createdByName !== username]">{{model.createdByName}}</span>
        </span>
    </div>
    <!--<div ng-if="model.basedOnName" class="line">{{'SCENARIST-CARD-DETAILS-MODEL' | translate}}:&nbsp;{{model.basedOnName}}</div>-->
    <div ng-if="(model.comments)" class="line line--optional">{{model.comments}}</div>
</div>
<div class="card__actions">
  <a class="button button--small button--round button--default-reverse button--label-off button--settings" title="{{'SCENARIST-CARD-SETTINGS-BTN' | translate}}" ui-sref="wegas.private.scenarist.settings({modelId: model.id})">
    <span class="button__label">{{'SCENARIST-CARD-SETTINGS-BTN' | translate}}</span>
  </a>
  <a class="button button--small button--round button--default-reverse button--label-off button--user" title="{{'SCENARIST-CARD-USERS-BTN' | translate}}" ui-sref="wegas.private.scenarist.coscenarists({modelId: model.id})">
    <span class="button__label">{{'SCENARIST-CARD-USERS-BTN' | translate}}</span>
  </a>

  <a class="button button--small button--round button--default button--label-off button--scenarist action--button" title="{{'SCENARIST-CARD-EDIT-BTN' | translate}}" href="{{ServiceURL}}edit.html?gameModelId={{model.id}}" target="_blank">
    <span class="button__label">{{'SCENARIST-CARD-EDIT-BTN' | translate}}</span>
  </a>
</div>

