<form class="form">
    <div class="modal__header">
        <div class="modal__illustration illustration illustration--medium illustration--icon"
          illustration="ICON_grey_user"></div>
        <h5 class="modal__title">{{adminGroupsEditIndexCtrl.group.name}}</h5>
        <a class="modal__close button button--medium button--label-off button--default-reverse button--close"
          ng-click="close()">
            <span class="button__label">{{'MODALE-CLOSE' | translate}}</span>
        </a>
    </div>
    <div class="modal__content modal__content--nav-off">
        <div>
            <strong>{{'ADMIN-GROUPS-MODALE-NAME-TITLE' | translate}}</strong>
        </div>
        <div class="form__row">
            <input class="input"
              type="text"
              ng-model="adminGroupsEditIndexCtrl.group.name"
              placeholder="{{'ADMIN-GROUPS-MODALE-NAME-INPUT' | translate}}"
              autocomplete="off" />
        </div>
        <div>
            <strong>{{'ADMIN-MODALE-PERMISSION-TITLE' | translate}}</strong>
            <a class="button button--small button--round button--label-off button--reverse-default button--add"
              ng-click="adminGroupsEditIndexCtrl.addPermission()">
                <span class="button__label">{{'ADMIN-MODALE-PERMISSION-ADD-BTN' | translate}}</span>
            </a>
        </div>
        <div class="form__row card"
          ng-repeat="permission in adminGroupsEditIndexCtrl.group.permissions">
            <div class="col-xs-1 card__illustration">
                <button ng-click="adminGroupsEditIndexCtrl.removePermission(permission)"
                  class="col-xs-1 button button--remove button--label-off button--round">
                    <span class="button__label">{{'ADMIN-MODALE-PERMISSION-REMOVE-BTN' | translate}}</span>
                </button>
            </div>
            <div class="col-xs-11 card__description">
                <permission-edit></permission-edit>
            </div>
        </div>
    </div>
    <div class="modal__tools">
        <a class="button button--small button--success button--valid col-xs-push-9"
          confirmed-click="adminGroupsEditIndexCtrl.save()"
          ng-confirm-click="{{'ADMIN-MODALE-PERMISSION-SAVE-CONFIRM' | translate}}">
            <span class="button__label">{{'ADMIN-MODALE-PERMISSION-SAVE-BTN' | translate}}</span>
        </a>
    </div>
</form>
