<div class="modal__header">
  <div class="modal__illustration illustration illustration--medium illustration--icon" illustration="ICON_orange_user_wif"></div>
  <h5 class="modal__title">{{originalUsername}}</h5>
  <a class="modal__close button button--medium button--label-off button--default-reverse button--close" ng-click="close()">
    <span class="button__label">Close</span>
  </a>
</div>

<div class="modal__content modal__content--nav-off" profile-content></div>
<div class="modal__tools">
    <a class="modal__tools__button button button--small button--success" ng-click="updateInformations()">
        <span class="button__label">{{'PRIVATE-MODALE-SETTINGS-SAVE-BTN' | translate}}</span>
    </a>
    <a class="modal__tools__button button button--small button--default" ng-click="close()">
        <span class="button__label">{{'PRIVATE-MODALE-SETTINGS-CANCEL-BTN' | translate}}</span>
    </a>
</div>

