.body {
    margin: 15px;
}

.header {
    height:55px;
    width: 100%;
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.title {
    font-size: 32px;
    color: #ffffff;
    text-shadow: 0px 2px 2px #000077;
    margin: 6px;
}

.button, .data p {
    margin-top: 10px;
}

.rectangle {
    position: absolute;
    border: 1px solid #000000;
    overflow: auto;
    cursor: pointer;
    box-shadow: 3px 3px 3px #777;
    background-color: #f9f9f9;
    text-shadow: 0 1px 0 #fff;
}

#editor {
    border: 1px solid lightgray;
}

svg {
    cursor: pointer;
}

.invisible {
    width: 0px;
    height: 0px;
}

/* YUI Tooltip CSS by Josh Lizarraga http://freshcutsd.com/yui-tooltip/ */

/* ! General */

.yui3-tooltip-hidden {
	display: none;
}

/* ! contentBox */

.yui3-tooltip-content {
	position: relative;
	max-width: 220px;
	_width: 220px; /* IE6 */
	border: 1px solid #996b3d;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #4d2600;
	background: #ffffcc; /* Fallback */
	background: -moz-linear-gradient(top, #ffffcc 0%, #ffff66 100%); /* Firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffcc), color-stop(100%, #ffff66)); /* Chrome, Safari */
	background: -o-linear-gradient(#ffffcc, #ffff66); /* Opera */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffcc, endColorstr=#ffff66, GradientType=0)"; /* IE8, IE9 */
	*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffcc, endColorstr=#ffff66, GradientType=0); /* IE6, IE7 */
	-moz-box-shadow: 0px 2px 8px hsla(0, 0%, 0%, .30);
	-webkit-box-shadow: 0px 2px 8px hsla(0, 0%, 0%, .30);
	box-shadow: 0px 2px 8px hsla(0, 0%, 0%, .30);
}

/* ! Widget Body */

.yui3-tooltip .yui3-widget-bd {
	padding: 1px 10px;
}

.yui3-tooltip .yui3-widget-bd h1,
.yui3-tooltip .yui3-widget-bd h2,
.yui3-tooltip .yui3-widget-bd h3,
.yui3-tooltip .yui3-widget-bd h4,
.yui3-tooltip .yui3-widget-bd h5,
.yui3-tooltip .yui3-widget-bd h6,
.yui3-tooltip .yui3-widget-bd p,
.yui3-tooltip .yui3-widget-bd ul,
.yui3-tooltip .yui3-widget-bd ol {
	margin: 10px 0;
	line-height: 1.25;
	font-size: 1.1em;
	list-style-position: inside;
}

.yui3-tooltip .yui3-widget-bd h1,
.yui3-tooltip .yui3-widget-bd h2,
.yui3-tooltip .yui3-widget-bd h3,
.yui3-tooltip .yui3-widget-bd h4,
.yui3-tooltip .yui3-widget-bd h5,
.yui3-tooltip .yui3-widget-bd h6 {
	font-weight: bold;
}

.yui3-tooltip .yui3-widget-bd h1 {
	font-size: 2em;
}

.yui3-tooltip .yui3-widget-bd h2 {
	font-size: 1.8em;
}

.yui3-tooltip .yui3-widget-bd h3 {
	font-size: 1.6em;
}

.yui3-tooltip .yui3-widget-bd h4 {
	font-size: 1.4em;
}

.yui3-tooltip .yui3-widget-bd h5 {
	font-size: 1.2em;
}

.yui3-tooltip .yui3-widget-bd * {
	max-width: 100%;
}

/* ! Widget Footer */

.yui3-tooltip .yui3-widget-ft,
.yui3-tooltip .yui3-widget-ft div {
	*display: none; /* IE6, IE7 */
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	line-height: 0;
	font-size: 0;
}

.yui3-tooltip .yui3-tooltip-align-top .yui3-widget-ft,
.yui3-tooltip .yui3-tooltip-align-top .yui3-widget-ft div {
	bottom: -10px;
	left: 50%;
	margin: 0 0 0 -10px;
	border-width: 10px 10px 0 10px;
	border-color: #996b3d transparent;
}

.yui3-tooltip .yui3-tooltip-align-top .yui3-widget-ft div {
	bottom: 1px;
	border-color: #ffff66 transparent;
}

.yui3-tooltip .yui3-tooltip-align-bottom .yui3-widget-ft,
.yui3-tooltip .yui3-tooltip-align-bottom .yui3-widget-ft div {
	top: -10px;
	left: 50%;
	margin: 0 0 0 -10px;
	border-width: 0 10px 10px 10px;
	border-color: #996b3d transparent;
}

.yui3-tooltip .yui3-tooltip-align-bottom .yui3-widget-ft div {
	top: 1px;
	border-color: #ffffcc transparent;
}

.yui3-tooltip .yui3-tooltip-align-right .yui3-widget-ft,
.yui3-tooltip .yui3-tooltip-align-right .yui3-widget-ft div {
	left: -10px;
	top: 50%;
	margin: -10px 0 0 0;
	border-width: 10px 10px 10px 0;
	border-color: transparent #996b3d;
}

.yui3-tooltip .yui3-tooltip-align-right .yui3-widget-ft div {
	left: 1px;
	border-color: transparent #ffffb2;
}

.yui3-tooltip .yui3-tooltip-align-left .yui3-widget-ft,
.yui3-tooltip .yui3-tooltip-align-left .yui3-widget-ft div {
	right: -10px;
	top: 50%;
	margin: -10px 0 0 0;
	border-width: 10px 0 10px 10px;
	border-color: transparent #996b3d;
}

.yui3-tooltip .yui3-tooltip-align-left .yui3-widget-ft div {
	right: 1px;
	border-color: transparent #ffffb2;
}