<div class="advanced">
    <h3><i class="fa fa-warning"></i> {{'PRIVATE-MODALE-TABS-ADVANCED-WARNING'| translate}}</h3>

    <label class="infos__label">{{'PRIVATE-SCENARIOS-LOG-ID-LABEL-INPUT'| translate}}</label>
    <input ng-model="activeInfos.logID" class="input input--small" type="text" />

    <input ng-model="activeInfos.guestAllowed" type="checkbox"  id="guestAllowed" />
    <label class="infos__label" for="guestAllowed" style="display:inline-block; padding-left:4px">{{'PRIVATE-SCENARIOS-GUEST-ALLOWED-LABEL-CHECKBOX'| translate}}</label>
    <div></div>

    <label class="infos__label">{{'PRIVATE-SCENARIOS-SERVER-SCRIPT-LABEL-INPUT'| translate}}</label>
    <input ng-model="activeInfos.scriptUri" class="input input--small" type="text" />

    <label class="infos__label">{{'PRIVATE-SCENARIOS-CLIENT-SCRIPT-LABEL-INPUT'| translate}}</label>
    <input ng-model="activeInfos.clientScriptUri" class="input input--small" type="text" />

    <label class="infos__label">{{'PRIVATE-SCENARIOS-STYLESHEETS-LABEL-INPUT'| translate}}</label>
    <input ng-model="activeInfos.cssUri" class="input input--small" type="text" />

    <label class="infos__label">{{'PRIVATE-SCENARIOS-PAGES-LABEL-INPUT'| translate}}</label>
    <input ng-model="activeInfos.pagesUri" class="input input--small" type="text" />
</div>
