<div class="advanced">
	<h3>Warning! Updating values in this tab is at your own risk!</h3>

	<label class="infos__label">Server script</label>
	<input ng-model="activeInfos.scriptUri" class="input input--small" type="text" />

	<label class="infos__label">Client script</label>
	<input ng-model="activeInfos.clientScriptUri" class="input input--small" type="text" />

	<label class="infos__label">Stylesheets</label>
	<input ng-model="activeInfos.cssUri" class="input input--small" type="text" />

	<label class="infos__label">Pages</label>
	<input ng-model="activeInfos.pagesUri" class="input input--small" type="text" />
</div>