<div class="modal__header">
	<div class="modal__illustration illustration illustration--medium illustration--icon" illustration="ICON_{{customizeIndexCtrl.infos.color}}_{{customizeIndexCtrl.infos.icon}}"></div>
	<h5 class="modal__title">{{customizeIndexCtrl.session.name | limitTo: 36}}<span ng-if="customizeIndexCtrl.session.name.length > 36">...</span></h5>
	<a class="modal__close button button--medium button--label-off button--default-reverse button--close" ng-click="close()">
   		<span class="button__label">Close</span>
	</a>
</div>
<div class="modal__nav modal__nav--2tab">
   	<a 	class="modal__nav__tab modal__nav__tab--left" 
   		ng-class="{'modal__nav__tab--active': customizeIndexCtrl.tabs.infos}"
   		ng-click="customizeIndexCtrl.activeTab('infos')">Infos</a> 
   	<a 	class="modal__nav__tab modal__nav__tab--right"  
   		ng-class="{'modal__nav__tab--active': customizeIndexCtrl.tabs.display}"
   		ng-click="customizeIndexCtrl.activeTab('display')">Icons & colors</a> 
</div>
<div 	ng-if="customizeIndexCtrl.tabs.infos" 
		class="modal__content"
		active-infos="customizeIndexCtrl.infos"
		check-change="customizeIndexCtrl.checkChanges"
		trainer-sessions-customize-infos>
</div>
<div 	ng-if="customizeIndexCtrl.tabs.display" class="modal__content">
	<div 
		class="modal__content__colors"
		active-color="customizeIndexCtrl.infos.color" 
		change="customizeIndexCtrl.changeColor" 
		trainer-sessions-customize-colors>	
	</div>
	<div 
		class="modal__content__icons"
		active-icon="customizeIndexCtrl.infos.icon" 
		change="customizeIndexCtrl.changeIcon"
		trainer-sessions-customize-icons >	
	</div>
</div>
<div class="modal__tools">
	<p ng-if="customizeIndexCtrl.hasChanges.all" class="modal__tools__message"><i class="fa fa-warning"></i> Some changes aren't saved</p>
	<a class="modal__tools__button button button--small button--success" ng-click="customizeIndexCtrl.save()">
   		<span class="button__label">Save change</span>
	</a>
	<a class="modal__tools__button button button--small button--default" ng-click="customizeIndexCtrl.cancel()">
   		<span class="button__label">Cancel</span>
	</a>
</div>