<div class="card__illustration illustration illustration--big illustration--icon" illustration="{{session.properties.iconUri}}"></div>
<div 
    class="card__description" 
    ng-class="{true:'card__description--two-lines', false:'card__description--three-lines'}[session.gameModel.comments == null || session.gameModel.comments == '']" >
    <div class="line">{{session.createdTime | date:"dd.MM.yyyy"}}</div>
    <div class="line line--primary">{{session.name | limitTo: MAX_DISPLAYED_CHARS}}<span ng-if="session.name.length > MAX_DISPLAYED_CHARS">...</span></div>
    <div ng-if="!((session.gameModel.comments == null) || (session.gameModel.comments == ''))" class="line line--optionnal">{{session.gameModel.comments | limitTo: MAX_DISPLAYED_CHARS}}<span ng-if="session.gameModel.comments.length > MAX_DISPLAYED_CHARS">...</span></div>
</div>
<div class="card__access">
</div>

<div class="card__actions">
    <div class="card__actions__access">
      <div class="line">Access to new players</div>
      <label 
          class="choice choice--toogle"
          ng-click="editAccess(session)" >
          <div class="choice__box">
              <input ng-model="open" type="checkbox" /> 
              <div class="choice__box__display"></div>
          </div>
      </label>
      <div ng-if="!open" class="key-label">No other player can join</div>
      <div ng-if="open" class="key-label">Players can join with key:</div><div ng-if="open" class="key">{{session.token}}</div>
    </div>
    <a class="button button--medium button--round button--default-reverse button--label-off button--settings" title="Settings" ui-sref=".settings({id: session.id})">
      <span class="button__label">Settings</span>
    </a>
    <a class="button button--medium button--round button--default-reverse button--label-off button--user" title="Manage Users" ui-sref=".users({id: session.id})">
      <span class="button__label">Manage Users</span>
    </a>
    <a class="button button--medium button--round button--default-reverse button--label-off button--archive" title="Move to archives" ng-click="archive(session)">
      <span class="button__label">Move to archives</span>
    </a>   
    <a class="button button--medium button--round button--info button--label-off button--trainer" title="Monitoring session" href="{{ServiceURL}}host.html?gameId={{session.id}}" target="_blank">
      <span class="button__label">Monitoring session</span>
    </a>
</div>