<div class="card__illustration illustration illustration--big illustration--icon" illustration="{{session.properties.iconUri}}"></div>
<div 
    class="card__description" 
    ng-class="{true:'card__description--two-lines', false:'card__description--three-lines'}[session.gameModel.comments == null || session.gameModel.comments == '']" >
    <div class="line">{{session.createdTime | date:"dd.MM.yyyy"}}</div>
    <div class="line line--primary">{{session.name}}</div>
    <div ng-if="!((session.gameModel.comments == null) || (session.gameModel.comments == ''))" class="line line--optionnal">{{session.gameModel.comments}}</div>
</div>
<div class="card__actions">
    <div class="card__actions__access">
      <div class="line">{{'TRAINER-CARD-ACCESS-TITLE' | translate}}</div>
      <label 
          class="choice choice--toogle">
          <div class="choice__box">
              <input ng-model="open" ng-change="editAccess(session)" type="checkbox" /> 
              <div class="choice__box__display"></div>
          </div>
      </label>
      <div ng-if="!open" class="key-label">{{'TRAINER-CARD-ACCESS-CLOSE' | translate}}</div>
      <div ng-if="open" class="key-label">{{'TRAINER-CARD-ACCESS-OPEN' | translate}}</div><div ng-if="open" class="key">{{session.token}}</div>
    </div>
    <a class="button button--medium button--round button--default-reverse button--label-off button--settings" title="{{'TRAINER-CARD-SETTINGS-BTN' | translate}}" ui-sref=".settings({id: session.id})">
      <span class="button__label">{{'TRAINER-CARD-SETTINGS-BTN' | translate}}</span>
    </a>
    <a class="button button--medium button--round button--default-reverse button--label-off button--user" title="{{'TRAINER-CARD-USERS-BTN' | translate}}" ui-sref=".users({id: session.id})">
      <span class="button__label">{{'TRAINER-CARD-USERS-BTN' | translate}}</span>
    </a>
    <a class="button button--medium button--round button--default-reverse button--label-off button--archive" title="{{'TRAINER-CARD-MOVE-ARCHIVE-BTN' | translate}}" ng-click="archive(session)">
      <span class="button__label">{{'TRAINER-CARD-MOVE-ARCHIVE-BTN' | translate}}</span>
    </a>   
    <a class="button button--medium button--round button--info button--label-off button--trainer" title="{{'TRAINER-CARD-MONITORING-BTN' | translate}}" href="{{ServiceURL}}host.html?gameId={{session.id}}" target="_blank">
      <span class="button__label">{{'TRAINER-CARD-MONITORING-BTN' | translate}}</span>
    </a>
</div>