<div class="view view--new-session view--bottom">
	<h3>Add session</h3>
	<trainer-sessions-add></trainer-sessions-add>
</div>
<div class="view view--sessions-list view--middle">
	<h3>Current sessions</h3>
	<div class="view__tools">
		<div class="tool tool--search tool--open">
			<a class="tool__link"></a>
			<input 
				class="tool__input" 
				ng-model="trainerIndexCtrl.search" 
				type="text" 
			/>
		</div>
	</div>
	<div 
		ng-if="!trainerIndexCtrl.loading.all"
		ng-class="{true:'view__list--with-archive', false:''}[trainerIndexCtrl.archives.length > 0]"
		class="view__list" 
		sessions="trainerIndexCtrl.sessions" 
		maximum="trainerIndexCtrl.maxSessionsDisplayed"
		search="trainerIndexCtrl.search"
		archive="trainerIndexCtrl.archiveSession"
		edit-access="trainerIndexCtrl.editAccess"
		trainer-sessions-list 
		repeat-auto-load >
	</div>
	<div ng-if="(!trainerIndexCtrl.loading.all) && (trainerIndexCtrl.archives.length)" class="view__archives">
		<a class="button button--small button--default button--archive" ui-sref=".archives">
			<span class="button__label">{{trainerIndexCtrl.archives.length}} &nbsp; archives</span>
		</a>
	</div>
	<div 
		ng-if="trainerIndexCtrl.loading.all"
		class="view__list">
		Loading
	</div>
</div>