<div class="form__row">
    <div class="col-xs-1">
        <button ng-click="removeGroup()" class="col-xs-1 button button--remove button--label-off button-round" title="{{'ADMIN-USERS-MODALE-GROUPS-REMOVE-BTN' | translate}}"><span class="button__label">{{'ADMIN-USERS-MODALE-GROUPS-REMOVE-BTN' | translate}}</span></button>
    </div>
    <div class="col-xs-11">
        <select ng-model="selectedGroup" class="col-xs-11 input input--small" ng-options="group.name for group in groups track by group.id">
            <option>Please select a group</option>
        </select>
    </div>
</div>
