<form class="form" ng-controller="AdminUsersEditIndexController as adminUsersEditIndexCtrl">
    <div class="modal__header">
        <div class="modal__illustration illustration illustration--medium illustration--icon"
             illustration="ICON_grey_user"></div>
        <h5 class="modal__title">{{adminUsersEditIndexCtrl.user.account.name}}</h5>
        <a class="modal__close button button--medium button--label-off button--default-reverse button--close"
           ng-click="close()">
            <span class="button__label">{{'MODALE-CLOSE'| translate}}</span>
        </a>
    </div>
    <div class="modal__content modal__content--nav-off">
        <h2>{{(adminUsersEditIndexCtrl.user.isNonLocal ? 'ADMIN-USERS-NONLOCAL-TITLE' : 'ADMIN-USERS-MODALE-EDIT-TITLE')| translate}}</span></h2>
        <div id="editable-user-profile" ng-if="!adminUsersEditIndexCtrl.user.isNonLocal">
            <div class="form__row">
                <input class="input" type="text" ng-model="adminUsersEditIndexCtrl.user.account.firstname"
                       placeholder="{{'PRIVATE-PROFILE-INPUT-PLACEHOLDER-FIRSTNAME'| translate}}" autocomplete="off">
            </div>
            <div class="form__row">
                <input class="input" type="text" ng-model="adminUsersEditIndexCtrl.user.account.lastname"
                       placeholder="{{'PRIVATE-PROFILE-INPUT-PLACEHOLDER-LASTNAME'| translate}}" autocomplete="off">
            </div>
            <div class="form__row">
                <input class="input" type="email" ng-model="adminUsersEditIndexCtrl.user.account.email"
                       placeholder="{{'PRIVATE-PROFILE-INPUT-PLACEHOLDER-EMAIL'| translate}}" autocomplete="off">
            </div>
            <div class="form__row">
                <input class="input" type="text" ng-model="adminUsersEditIndexCtrl.user.account.username"
                       placeholder="{{'PRIVATE-PROFILE-INPUT-PLACEHOLDER-USERNAME'| translate}}" autocomplete="off">
            </div>
            <div class="form__row">
                <input class="input" type="password" ng-model="adminUsersEditIndexCtrl.user.account.password"
                       placeholder="{{'PRIVATE-PROFILE-INPUT-PLACEHOLDER-PASSWORD'| translate}}" autocomplete="new-password">
            </div>
            <div class="form__row">
                <input class="input" type="password" ng-model="adminUsersEditIndexCtrl.user.account.password2"
                       placeholder="{{'PRIVATE-PROFILE-INPUT-PLACEHOLDER-PASSWORD-AGAIN'| translate}}" autocomplete="new-password">
            </div>
        </div>
        <div id="non-editable-user-profile" style="margin: 8px 20px; border-left: 2px solid gray; padding-left: 10px; padding-bottom: 3px;" ng-if="adminUsersEditIndexCtrl.user.isNonLocal">
            {{'ADMIN-USERS-NONLOCAL-NAME'| translate}}: {{adminUsersEditIndexCtrl.user.account.firstname}} {{adminUsersEditIndexCtrl.user.account.lastname}}<br/>
            {{'ADMIN-USERS-NONLOCAL-HOMEORG'| translate}}: {{adminUsersEditIndexCtrl.user.account.homeOrg}}<br/>
            {{'ADMIN-USERS-NONLOCAL-EMAIL'| translate}}: {{adminUsersEditIndexCtrl.user.account.email}}
        </div>
        <div class="form__row">
            <input class="input" type="text" ng-model="adminUsersEditIndexCtrl.user.account.comment"
                   placeholder="{{'PRIVATE-PROFILE-INPUT-PLACEHOLDER-COMMENT'| translate}}" autocomplete="off">
        </div>
        <div class="form__row">&nbsp;
            {{'ADMIN-USERS-MODALE-AGREED'| translate}}: {{ adminUsersEditIndexCtrl.user.account.agreedTime === null ? ('ADMIN-USERS-MODALE-AGREED-NOTYET' | translate) : (adminUsersEditIndexCtrl.user.account.agreedTime | date:"dd.MM.yyyy HH:mm:ss")}}<br/>
            <hr/>
        </div>
        <admin-users-edit-groups user="adminUsersEditIndexCtrl.user"></admin-users-edit-groups>
        <div ng-if="false">
            <!-- One should be able to easily re-enable this part... -->
            <div class="form__row">
                <hr/>
            </div>
            <div>
                <strong>{{'ADMIN-MODALE-PERMISSION-TITLE'| translate}}</strong>
                <a class="button button--small button--round button--label-off button--reverse-default button--add"
                   ng-click="adminUsersEditIndexCtrl.addPermission()">
                    <span class="button__label">{{'ADMIN-MODALE-PERMISSION-ADD-BTN'| translate}}</span></a>
            </div>
            <div class="form__row card" ng-repeat="permission in adminUsersEditIndexCtrl.user.account.permissions">
                <div class="col-xs-1 card__illustration">
                    <button ng-click="adminUsersEditIndexCtrl.removePermission(permission)"
                            class="col-xs-1 button button--remove button--label-off button--round"><span
                            class="button__label">{{'ADMIN-MODALE-PERMISSION-REMOVE-BTN'| translate}}</span></button>
                </div>
                <div class="col-xs-11 card__description">
                    <permission-edit></permission-edit>
                </div>
            </div>
        </div>
    </div>
    <div class="modal__tools">
        <a class="modal__tools__button button button--small button--success"
           ng-click="adminUsersEditIndexCtrl.save()">
            <span class="button__label">{{'PRIVATE-MODALE-SETTINGS-SAVE-BTN'| translate}}</span>
        </a>
        <a class="modal__tools__button button button--small button--default" ng-click="close()">
            <span class="button__label">{{'PRIVATE-MODALE-SETTINGS-CANCEL-BTN'| translate}}</span>
        </a>
    </div>
</form>
