<div class="col-xs-8">
    <a class="button button--small button--fork" title="{{'MODELER-MODALE-VERSIONS-NEW-TITLE-BTN' | translate}}">
        <span class="button__label" ng-click="addVersion()">{{'SCENARIST-MODALE-VERSIONS-NEW-BTN' | translate}}</span>
    </a>
    <!-- a class="button button--small button--duplicate" title="{{'SCENARIST-MODALE-VERSIONS-DUPLICATE-TITLE-BTN' | translate}}">
        <span class="button__label" ng-click="copyModel()">{{'SCENARIST-MODALE-VERSIONS-DUPLICATE-BTN' | translate}}</span>
    </a -->
</div>
<div class="col-xs-4">
    <a class="button button--small button--download" target="_blank" modeler-history-download-pdf model="model">{{'SCENARIST-MODALE-VERSIONS-PDF-BTN' | translate}}</a>
    <a class="button button--small button--download" target="_blank" modeler-history-download-json model="model">{{'SCENARIST-MODALE-VERSIONS-JSON-BTN' | translate}}</a>
</div>
